/* default body styles */
body {
  /* forces footer to bottom of page for short pages */
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: min(var(--page-width-max), 100vw - 1em);
  margin-inline: auto;
  font-family: var(--brand-font);
  font-size: var(--font-size-md);
  color: black;
  line-height: 1.3;
  background-color: #fff1e5; /* color from ft.com background */
  /* background-color: #f8f5d7; color from semafor.com background */
}

/* default <h1> */
h1 {
  text-align: center;
}

/* default <h2> and <h3> */
h2,
h3 {
  font-size: var(--font-size-lg);
  line-height: 1.2;
  margin-block: 1em 0.5em;
  text-align: left;
}

h3 {
  font-size: var(--font-size-md);
  font-style: italic;
}

/* default <p> */
:where(p) {
  margin-block: 0.5em 1.25em;
  line-height: 1.5;
}

/* default <a> */
a {
  color: var(--brand-color);
  text-decoration: none;
  border-bottom: 1px solid var(--dark-accent-color);
}
a:hover,
a:focus {
  background-color: var(--light-accent-color);
  border-radius: var(--brand-link-radius);
}

/* default <ol> & <li> */
ol {
  margin: 0.5em auto 1.5em auto;
}
li {
  margin-block-end: 0.5em;
}

/* default <hr> */
hr {
  border-block-start: 2px solid var(--dark-accent-color);
}

/* default <blockquote> */
blockquote {
  border-inline-start: thick solid var(--dark-accent-color);
  font-style: italic;
  padding: 0 min(1em, 4vw);
  margin: 1em 0;
}

/* default audio */
audio {
  display: block;
  max-width: var(--main-element-max);
  margin: 0 auto 1.5em auto;
  background-color: var(--light-accent-color);
  border: 1px solid var(--dark-accent-color);
}

/* default img to handle fluid images */
img {
  max-width: 100%;
  display: block;
}
img[width] {
  width: auto; /* Defer to max-width */
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

/* main content constrained by viewport */
main {
  max-width: min(var(--page-width-max), 100vw - 1em);
  margin-inline: auto;
}

/* brand & navigation (inside <header>) */
.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2rem;
}
.brand-name {
  font-size: var(--font-size-xl);
  font-weight: bold;
}
.brand-image {
  aspect-ratio: 1 / 1;
  width: min(100px, 10vw);
  margin-block-start: 0.75em;
  clip-path: circle(50%);
}
.brand-nav {
  display: flex;
  gap: 1em;
  text-align: center;
  list-style: none;
  padding: 0;
}
.brand-nav a {
  padding: 0 5px;
}
/* highlight the nav element of the current page  */
.nav-link[aria-current="page"] {
  background-color: var(--light-accent-color);
}
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
/* used for skip-to-main-content link */
#visually-hidden {
  background: var(--light-accent-color);
  color: var(--dark-accent-color);
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0 0 0.25rem 0.25rem;
  position: absolute;
  transform: translateY(-120%);
  transition: transform 325ms ease-in;
}
#visually-hidden:focus {
  transform: translateY(0);
  opacity: 1;
}
/* end brand */

/* about page, page-specific styling */
#about {
  max-width: var(--main-element-max);
  margin: 1em auto 0 auto;
}

/* list of All Tags and All Categories */
.alltags-list *,
.allcategories-list * {
  list-style: none;
  text-align: center;
  margin: 1em auto;
  padding-inline: 0;
}

/* post elements */
.post {
  max-width: var(--main-element-max);
  margin-inline: auto;
}
.post-title {
  font-size: var(--post-title-full-size);
  line-height: 1.2;
  margin-block-start: 0.5em;
}
.post-date,
.post-readingtime {
  font-size: var(--post-info-full-size);
  text-align: center;
  font-style: italic;
  margin-block: 0.25em;
}
.post-taglist {
  display: inline-flex;
  align-items: center;
  list-style: none;
  margin-block: 0.5em;
  padding-inline-start: 0;
  font-size: var(--post-tag-size);
}
.post-nextprev {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding-inline-start: 0;
}
.post-nextprev li:first-child {
  margin-block: 1em;
}
/* first paragraph after an image is always a caption */
picture + p {
  text-align: center;
  font-size: var(--caption-size);
}

/* used in list of posts */
.post-card {
  margin-block-start: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
.post-card .post-metadata,
.post-card .post-image {
  flex-basis: min(500px, 100% - 0.25em);
}
.post-card .post-title {
  font-size: var(--post-title-card-size);
  margin-block-start: 0;
  text-align: left;
}
.post-card .post-date {
  text-align: left;
}
.post-card .post-excerpt {
  font-size: var(--post-excerpt-card-size);
  margin-block: 0.5em;
  line-height: 1.25;
}
/* end post elements */

/* page footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--light-accent-color);
  padding-block: 0.5em;
  margin-block-start: 1em;
}
footer .text {
  margin: 0;
}
/* social media icons within footer */
.social-link {
  border: none;
}
.social-link:hover,
.social-link:focus {
  cursor: pointer;
}
.icon {
  width: 48px;
  height: 48px;
}
/* end footer */

/* styles specific to The Bundle posts */
#bundle {
  font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, Calibri, source-sans-pro, sans-serif;
}
#bundle h2 {
  font-size: var(--font-size-md);
  font-style: italic;
}
#bundle p,
#bundle li {
  font-size: var(--font-size-base);
}

.bundleitem-title {
  font-size: var(--font-size-md);
  padding-block: 0;
}
.bundleitem-description {
  font-style: italic;
  font-size: var(--font-size-md);
  margin-block: 0 2rem;
}
