/* default body styles */
body {
  /* forces footer to bottom of page for short pages */
  background-color: var(--site-bg-color);
  color: var(--brand-text-color);
  font-family: var(--body-font);
  font-size: var(--font-size-md);
  line-height: 1.3;
  margin-inline: auto;
  max-width: min(var(--page-width-max), 100vw - 1em);
}

/* default <h1> */
:where(h1) {
  font-weight: normal;
  text-align: center;
}

/* default <h2> and <h3> */
:where(h2, h3) {
  font-size: var(--font-size-lg);
  line-height: 1.2;
  padding-block: 0.5em 0.25em;
  text-align: left;
}

:where(h3) {
  font-size: var(--font-size-md);
  font-style: italic;
}

/* default <p> */
:where(p) {
  line-height: 1.5;
  padding-block-end: 1em;
}

/* default <a> */
:where(a) {
  border-bottom: 1px solid var(--link-border-color);
  color: var(--brand-color);
  text-decoration: none;
}
a:hover,
a:focus {
  color: white;
  /* color: var(--link-hover-text-color); */
  background-color: var(--link-hover-bg-color);
  border-radius: 0.5rem;
}

/* default <ol> & <li> */
:where(ol) {
  margin: 0.5em auto 1.5em auto;
}
:where(li) {
  margin-block-end: 0.5em;
}

/* default <hr> */
:where(hr) {
  border-block-start: 2px solid var(--dark-accent-color);
}

/* default <blockquote> */
:where(blockquote) {
  border-inline-start: thick solid var(--dark-accent-color);
  font-style: italic;
  padding: 0 min(1em, 4vw);
  margin: 1em 0;
}

/* default audio */
:where(audio) {
  background-color: var(--light-accent-color);
  border: 1px solid var(--dark-accent-color);
  display: block;
  margin: 0 auto 1.5em auto;
  max-width: var(--main-element-max);
}

/* default img to handle fluid images */
img {
  display: block;
  max-width: 100%;
}
img[width] {
  width: auto; /* Defer to max-width */
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

/* main content constrained by viewport */
main {
  margin-inline: auto;
  max-width: var(--main-element-max);
}

/* brand & navigation (inside <header>) */
.brand-name {
  border: none;
  display: block;
  font-family: var(--brand-font);
  font-size: var(--font-size-lg);
  margin-inline: auto;
  padding-block: 0.5em;
  text-align: center;
}
.brand-link {
  border: none;
  padding: 0.25em;
}
.brand-nav {
  display: flex;
  gap: 0.25em;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  max-width: min(var(--page-width-max), 100vw - 1em);
  padding-inline: 0;
}
.brand-nav a {
  font-size: var(--font-size-md);
  padding: 0.25em;
}
/* highlight the nav element of the current page  */
.nav-link[aria-current="page"] {
  background-color: var(--link-hover-bg-color);
  border-radius: 0.5rem;
  color: var(--link-hover-text-color);
}
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
/* used for skip-to-main-content link */
#visually-hidden {
  color: var(--link-hover-text-color);
  background: var(--link-hover-bg-color);
  border: none;
  border-radius: 0 0 0.25rem 0.25rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  position: absolute;
  transform: translateY(-120%);
  transition: transform 325ms ease-in;
}
#visually-hidden:focus {
  opacity: 1;
  transform: translateY(0);
}
/* end brand */

/* about page, page-specific styling */
#about {
  margin: 1em auto 0 auto;
  max-width: var(--main-element-max);
}

/* list of All Tags and All Categories */
.allcategories-list *,
.allauthors-list * {
  list-style: none;
  text-align: center;
  margin: 1em auto;
  padding-inline: 0;
}

/* post elements */
.post {
  margin-inline: auto;
  max-width: var(--main-element-max);
}
.post-title {
  font-size: var(--post-title-full-size);
  line-height: 1.2;
  margin-block-start: 0.5em;
}
.post-date {
  font-size: var(--font-size-base);
  font-style: italic;
  text-align: center;
}
.post-nextprev {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding-inline-start: 0;
}
.post-nextprev li:first-child {
  margin-block: 1em;
}

/* used in list of posts */
.post-card {
  margin-block: 1.25em;
}
.post-card .post-title {
  font-size: var(--post-title-card-size);
  margin-block-start: 0;
  text-align: left;
}
.post-card .post-date {
  text-align: left;
}
/* end post elements */

footer {
  padding-block: 1.5em;
}

.bundleitem {
  background-color: var(--releaseitem-bg-color);
  border: 1px dotted darkgray;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-block-end: 1rem;
  margin-inline: auto;
  width: min(var(--main-element-max), 100vw - 1em);
}

.bundleposts > .bundleitem {
  background-color: var(--postitem-bg-color);
}
.bundlesites {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--siteitem-bg-color);
}
.bundleitem-title {
  font-size: var(--font-size-md);
  font-weight: bold;
  padding-block: 0;
}
.bundleitem-description {
  font-style: italic;
  font-size: var(--font-size-base);
  margin-block-end: 0.25rem;
}
.bundleitem-dateline,
.bundleitem-categories {
  font-size: var(--font-size-base);
  padding-block: 0;
}

.resources {
  font-size: var(--font-size-base);
  background-color: var(--resources-bg-color);
  border-radius: 0.5rem;
  padding: 1em;
}
.resources ul {
  margin-block-start: 0.25em;
}
