:root {
  /* Page structure */
  --page-width-max: 1200px;

  /* Type scale from https://www.fluid-type-scale.com/, smallest to largest */
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  /* Accent Colors */
  --site-bg-color: #eee9da;
  --releaseitem-bg-color: #bdcdd6;
  --postitem-bg-color: #93bfcf;
  --siteitem-bg-color: #93bfcf;
  --header-bg-color: #eee9da;
  --resources-bg-color: #bdcdd6;
  --link-border-color: #6096b4;
  --link-hover-bg-color: #6096b4;
  --link-hover-text-color: white;
  --dark-accent-color: var(--link-hover-bg-color);
  --light-accent-color: var(--link-hover-text-color);

  /* Brand Styles */
  --brand-font: "Nimbus Mono PS", "Courier New", "Cutive Mono", monospace;
  --brand-text-color: black;
  --body-font: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;

  /* Post Styles */
  --post-title-full-size: var(--font-size-xl);
  --post-title-card-size: var(--font-size-lg);
  --caption-size: var(--font-size-base);
  --main-element-max: 65ch;

  /* SVG icon for external links
	line left
	line right
	line bottom
	line top
	arrow left
	arrow right
	arrow diagonal
	*/
  --icon-external-link: url('data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"> \
		<g style="stroke:rgb(0,0,0);stroke-width:1"> \
			<line x1="5" y1="5" x2="5" y2="14" /> \
			<line x1="14" y1="9" x2="14" y2="14" /> \
			<line x1="5" y1="14" x2="14" y2="14" /> \
			<line x1="5" y1="5" x2="9" y2="5"  /> \
			<line x1="10" y1="2" x2="17" y2="2"  /> \
			<line x1="17" y1="2" x2="17" y2="9" /> \
			<line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /> \
		</g> \
	</svg>');
}
