:root {
  /* Page structure */
  --page-width-max: 1500px;

  /* Type scale from https://www.fluid-type-scale.com/, smallest to largest */
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  /* Space scale from https://utopia.fyi/space/calculator/ */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  --flow-space: var(--space-s);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  --space-3xs-l: clamp(0.3125rem, -0.4484rem + 3.8043vw, 2.5rem);

  /* Accent Colors */
  --site-bg-color: #eee9da;
  --releaseitem-bg-color: #bdcdd6;
  --postitem-bg-color: #93bfcf;
  --siteitem-bg-color: #93bfcf;
  --header-bg-color: #eee9da;
  --resources-bg-color: #bdcdd6;
  --link-border-color: #6096b4;
  --link-hover-bg-color: #6096b4;
  --link-hover-text-color: white;
  --dark-accent-color: var(--link-hover-bg-color);
  --light-accent-color: var(--link-hover-text-color);

  /* Brand Styles */
  --brand-font: "Nimbus Mono PS", "Courier New", "Cutive Mono", monospace;
  --brand-text-color: #2a2c2c;
  /* --brand-text-color: black; */
  --body-font: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;

  /* Post Styles */
  --post-title-full-size: var(--font-size-xl);
  --post-title-card-size: var(--font-size-lg);
  --caption-size: var(--font-size-base);

  /* Configure the Pagefind UI */
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: #034ad8;
  --pagefind-ui-text: #393939;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: #000000;
  --pagefind-ui-tag: green;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: sans-serif;

  /* SVG icon for external links
	line left
	line right
	line bottom
	line top
	arrow left
	arrow right
	arrow diagonal
	*/
  --icon-external-link: url('data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"> \
		<g style="stroke:rgb(0,0,0);stroke-width:1"> \
			<line x1="5" y1="5" x2="5" y2="14" /> \
			<line x1="14" y1="9" x2="14" y2="14" /> \
			<line x1="5" y1="14" x2="14" y2="14" /> \
			<line x1="5" y1="5" x2="9" y2="5"  /> \
			<line x1="10" y1="2" x2="17" y2="2"  /> \
			<line x1="17" y1="2" x2="17" y2="9" /> \
			<line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /> \
		</g> \
	</svg>');
}
