{#
  Display list of tags for posts.
  In the 11tybundle.dev site, posts are not tagged other than with the "posts" tag.
  Items displayed in the bundle make use of categories stored in the Airtable database.
  While currently unused, this will remain for possible future use.
#}
{%- macro tagList(tags) -%}
  <ul class="post-taglist">
    <li>Tags:&nbsp;</li>
    {%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>&nbsp;&nbsp;</li>
    {%- endfor %}
    <li><a href="/tags/">All Tags</a></li>
  </ul>
{%- endmacro -%}

{#
  Generate the markup for the title line of each displayed post.
#}
{%- macro itemTitle(title, link, id) -%}
  <p class="bundleitem-title"><a href="{{ link }}" target="_blank">{{ title }}</a></p>
{%- endmacro -%}

{#
  Generate the markup for the dateline of each displayed post. It consists of
  the author and date for the post. The author is a link to the author's page.
#}
{%- macro itemDateline(author, date) -%}
  <p class="bundleitem-dateline"><a href="/authors/{{ author | slugify }}/">{{ author }}</a> &middot; {{ date | formatItemDate }}</p>
{%- endmacro -%}
