{% from "macros.njk" import tagList %}

{% for post in postlist %}
  <section class="post-card">
    <div class="post-metadata">
      <h2 class="post-title">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      <p class="post-date">
        {{ post.date | formatPostDate }}&nbsp;&bull;&nbsp;{{
          post.content | readingTime
        }}
      </p>
      {{ tagList(post.data.tags) }}
      <p class="post-excerpt">{{ post.data.description }}</p>
    </div>
    <div class="post-image">
      <a href="{{ post.url }}">
        {# if the post is 1st or 2nd diplayed, load thier images eagerly #}
        {%- if loop.index === 1 or loop.index === 2 %}
          {% set loading = "eager" %}
        {%- else %}
          {% set loading = "lazy" %}
        {%- endif %}
      {% set imageSource %}{{ post.data.imageDir + post.data.image.source }}{% endset %}
      {% image imageSource, post.data.image.alt, "(min-width: 540px) 500px, 95.45vw", loading %}</a>
    </div>
  </section>
  {%- if not loop.last %}<hr>{% endif %}
{% endfor %}
