---
layout: section.njk
title: "The Blog of the 11ty Bundle"
description: "These are the blog archives of The 11ty Bundle"
keywords: blog, 11ty, 11ty Bundle
eleventyComputed:
    permalink: /{{ page.fileSlug }}/
---
{% css %}
{% include "public/css/blog.css" %}
{% endcss %}
{% include "partials/blog-header.njk" %}
<div class="section">
  <div class="container">
    <ol role="list" class="post__list">
      {% for post in collections.post | reverse %}
      <li class="post__item">
        <dl class="calendar">
          <dt>Issue</dt>
          <dd>{{ post.data.bundleIssue }}</dd>
        </dl>
        <div class="details">
          <h2 class="post__title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
          <p class="meta"><time datetime="{{ post.data.date }}">{{ post.data.date | formatPostDate }}</time> ~ {{ post.content | readingTime }}</p>
        </div>
      </li>
      {% endfor %}
    </ol>
  </div>
</div>
