{% css %}
{% include "public/css/blog.css" %}
{% endcss %}
<header class="main-header">
  <div class="container">
    <h1>Blog</h1>
    <nav>
      <ul role="list">
        <li><a href="" class="current">Posts</a></li>
        <li><a href="/feed.xml">RSS</a></li>
        <li><a href="#newsletter">Newsletter</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="section">
  <div class="container">
    <ol role="list" class="post__list">
      {% for post in collections.posts | reverse %}
      <li class="post__item">
        <dl class="calendar">
          <dt>Issue</dt>
          <dd>{{ post.data.issue }}</dd>
        </dl>
        <div class="details">
          <h2 class="post__title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
          <p class="meta"><time datetime="{{ post.date }}">{{ post.date | formatPostDate }}</time> ~ 7 minutes to
            read</p>
        </div>
      </li>
      {% endfor %}
    </ol>
  </div>
</div>
