{% css %}
{% include "public/css/blog.css" %}
{% endcss %}
{% include "partials/blog-header.njk" %}
<div class="section">
  <div class="container">
    <ol role="list" class="post__list">
      {% for post in collections.posts | reverse %}
      <li class="post__item">
        <dl class="calendar">
          <dt>Issue</dt>
          <dd>{{ post.data.Issue }}</dd>
        </dl>
        <div class="details">
          <h2 class="post__title"><a href="{{ post.Link }}">{{ post.data.title }}</a></h2>
          <p class="meta"><time datetime="{{ post.Date }}">{{ post.Date | formatPostDate }}</time> ~ {{ content | readingTime }}</p>
        </div>
      </li>
      {% endfor %}
    </ol>
  </div>
</div>
