article {
  display: grid;
  gap: var(--grid-gutter);
  grid-template-columns: 1fr;

  h1 {
    font-family: var(--font-display-bold);
    font-size: var(--step-2);
  }

  @media (width >=768px) {
    grid-template-columns: repeat(12, 1fr);
    align-items: start;

    .calendar {
      grid-column: 12 / 13;
      grid-row: 1;
    }

    .prose {
      grid-row: 1;
    }

    .prose,
    aside {
      grid-column: 2 / 12;
    }
  }
}

.blog__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gutter);
}

.blog__item {
  display: grid;
  align-items: start;
  column-gap: var(--grid-gutter);
  row-gap: var(--space-2xs);
  grid-template-areas:
    "title calendar"
    "meta calendar";
  grid-template-columns: 1fr auto;

  >h2 {
    grid-area: title;
    margin-block: unset;
  }

  .calendar {
    grid-area: calendar;
  }

  .meta {
    grid-area: meta;
    margin-block: unset;
  }
}