.post__layout {
  display: grid;
  gap: var(--grid-gutter);
  grid-template-columns: 1fr;

  .pagination {
    display: flex;
    justify-content: space-between;
  }

  @media (width >=768px) {
    grid-template-columns: repeat(8, 1fr);
    align-items: start;

    .calendar {
      grid-column: 1 / 2;
      grid-row: 1;
      justify-self: end;
    }

    .prose {
      grid-row: 1;
    }

    .prose,
    aside,
    nav {
      grid-column: 2 / 8;
    }
  }
}

.post__title {
  font-family: var(--font-display-bold);
  font-size: clamp(1.35rem, 0.9723rem + 1.6788vw, 2.4413rem);
}

.post__list {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gutter);
}

.post__item {
  display: grid;
  gap: var(--grid-gutter);
  grid-template-columns: 1fr;

  .details {
    display: flex;
    flex-direction: column;
    gap: 1lh;
  }

  .meta {
    margin-block-start: unset;
  }
   @media (width >=768px) {
    grid-template-columns: repeat(8, 1fr);
    align-items: start;

    .calendar {
      grid-column: 1 / 2;
      grid-row: 1;
      justify-self: end;
    }

    .details {
      grid-row: 1;
      grid-column: 2 / 8;
    }
  }
}
