.main-header {
  .container {
    display: grid;
    overflow-wrap: anywhere;
    column-gap: var(--grid-gutter);
    align-items: start;
    grid-template-columns: 1fr;
    grid-template-areas: "title";

    &:has(nav):not(:has(.favicon)):not(:has(.details)) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "nav";

      @media (width >= 768px) {
        grid-template-columns: 1fr auto;
        grid-template-areas: "title nav";
      }
    }

    &:has(.details):not(:has(nav)) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "favicon"
        "title"
        "details";

      @media (width >= 768px) {
        grid-template-columns: auto 1fr;
        grid-template-areas:
          "favicon title"
          "favicon details";
      }
    }

    &:has(.details):has(nav) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "favicon"
        "title"
        "details"
        "nav";

      @media (width >= 768px) {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
          "favicon title nav"
          "favicon details nav";
      }
    }

    > h1 {
      grid-area: title;
      margin-block: unset;
    }
  }

  .favicon {
    grid-area: favicon;
    width: 64px;
    border-radius: var(--radius-m);
  }

  .count {
    font-family: var(--font-display-bold);
    font-size: clamp(1.35rem, 0.9736rem + 1.6731vw, 2.4375rem);
  }

  .details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
    p {
      font-size: var(--step-1);
      margin-block: unset;
    }
  }

  nav,
  ul {
    font-size: var(--step--1);
    display: flex;
    flex-wrap: wrap;
  }

  nav {
    grid-area: nav;
    align-items: center;
    align-self: center;
    width: max-content;
    gap: var(--space-2xs);
    border-radius: 999px;
    padding: var(--space-3xs) var(--space-2xs);
    margin-block-start: var(--space-2xs);
    @media (width >= 768px) {
      margin-block-start: unset;
    }
  }

  a {
    padding: var(--space-3xs) var(--space-2xs);
  }

  .current {
    text-decoration: none;
    border-radius: 999px;
    background: var(--header-current-bg);
  }

  /* themed bits */
  background: var(--header-bg);
  border-top: 8px solid var(--header-border);

  h1,
  .details {
    color: var(--header-content);
  }

  .favicon {
    color: var(--header-content);
  }

  .count {
    color: var(--header-accent);
  }

  .author-links {
    gap: unset;
    a {
      color: var(--header-accent);
      &:hover {
        color: var(--header-content);
      }
    }
  }

  nav {
    background: var(--header-pill-bg);
    .current {
      background: var(--header-pill-active-bg);
    }
  }

  nav,
  ul {
    color: var(--header-pill-fg);
  }
}

.categories {
  --header-bg: var(--categories-colour-4);
  --header-border: var(--categories-colour-5);
  --header-content: var(--categories-colour-1);
  --header-accent: var(--categories-colour-2);
  --header-pill-bg: var(--categories-colour-1);
  --header-pill-fg: var(--categories-colour-7);
  --header-pill-active-bg: var(--categories-colour-3);
}

.authors {
  --header-bg: var(--authors-colour-4);
  --header-border: var(--authors-colour-5);
  --header-content: var(--authors-colour-1);
  --header-accent: var(--authors-colour-2);
  --header-pill-bg: var(--authors-colour-1);
  --header-pill-fg: var(--authors-colour-7);
  --header-pill-active-bg: var(--authors-colour-3);
}

.showcase {
  --header-bg: var(--showcase-colour-4);
  --header-border: var(--showcase-colour-5);
  --header-content: var(--showcase-colour-1);
  --header-accent: var(--showcase-colour-2);
  --header-pill-bg: var(--showcase-colour-1);
  --header-pill-fg: var(--showcase-colour-7);
  --header-pill-active-bg: var(--showcase-colour-3);
}

.starters {
  --header-bg: var(--starters-colour-4);
  --header-border: var(--starters-colour-5);
  --header-content: var(--starters-colour-1);
  --header-accent: var(--starters-colour-2);
  --header-pill-bg: var(--starters-colour-1);
  --header-pill-fg: var(--starters-colour-7);
  --header-pill-active-bg: var(--starters-colour-3);
}

.blog {
  --header-bg: var(--blog-colour-4);
  --header-border: var(--blog-colour-5);
  --header-content: var(--blog-colour-1);
  --header-accent: var(--blog-colour-2);
  --header-pill-bg: var(--blog-colour-1);
  --header-pill-fg: var(--blog-colour-7);
  --header-pill-active-bg: var(--blog-colour-3);
}

.firehose {
  --header-bg: var(--firehose-colour-4);
  --header-border: var(--firehose-colour-5);
  --header-content: var(--firehose-colour-1);
  --header-accent: var(--firehose-colour-2);
  --header-pill-bg: var(--firehose-colour-1);
  --header-pill-fg: var(--firehose-colour-7);
  --header-pill-active-bg: var(--firehose-colour-3);
}

.skip-links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
}

.directory__layout {
  @media (width >=768px) {
    display: grid;
    gap: var(--grid-gutter);
    grid-template-columns: minmax(min-content, 1fr) 11fr;
    align-items: start;
    .directory__grid {
      margin-block-start: unset;
    }
  }
}

.directory__grid {
  display: grid;
  gap: var(--grid-gutter);
  margin-inline: calc(var(--grid-gutter) * -1);
  margin-block-start: var(--grid-gutter);

  @media (width >=768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-inline: unset;
  }

  @media (width >=1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.directory__card {
  background: var(--surface-mid);
  padding: var(--space-s);
  border: 1px solid var(--surface-fore);
  overflow-wrap: anywhere;
  @media (width <= 768px) {
    border-left: unset;
    border-right: unset;
  }
}

.directory--category {
  > h3 {
    display: flex;
    gap: var(--space-s);
    justify-content: space-between;
    align-items: flex-start;
    margin-inline: calc(var(--space-s) * -1);
    margin-block-start: calc(var(--space-s) * -1);
    padding: var(--space-s);
    background: var(--surface-fore);
    font-size: var(--step-1);
    font-family: var(--font-display-extrablack);

    a {
      flex-grow: 1;
    }
  }

  a {
    grid-area: link;
  }

  .count {
    color: var(--heading-colour-1);
    background: var(--surface-back);
    padding: var(--space-3xs) var(--space-2xs);
    font-size: var(--step--1);
    font-family: var(--font-display-bold);
    border-radius: 999px;
    overflow-wrap: normal;
  }
}

.directory--detail {
  display: grid;
  align-content: start;
  gap: var(--space-xs);
  &:has(.favicon) {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "favicon link"
      "details details";
  }
  &:not(:has(.favicon)) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "link"
      "details";
  }

  h3[id^="post-"] {
    font-size: var(--step-0);
  }

  .favicon {
    grid-area: favicon;
  }

  a[href^="http"] {
    grid-area: link;
    font-family: var(--font-display-bold);
  }

  .details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    font-size: var(--step--1);
    > a[href^="http"] {
      font-size: var(--step-0);
      font-family: var(--font-display-bold);
    }
    p {
      margin-block: unset;
    }
  }

  .categories-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);

    > ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-3xs);
    }
    a {
      display: flex;
      background: var(--surface-back);
      border: 1px solid var(--surface-fore);
      padding: var(--space-3xs) var(--space-2xs);
      border-radius: 999px;
      text-decoration: none;
    }
  }
}

.directory--list {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  padding: var(--space-s);
  font-size: var(--step--1);

  > li {
    column-gap: var(--space-xs);
    row-gap: var(--space-3xs);
    display: grid;

    grid-template-columns: 1fr auto;
    grid-template-areas: "link date";

    @media (width >=768px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "link"
        "date";
    }

    &:has(.favicon) {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "favicon link date";

      @media (width >=768px) {
        grid-template-columns: auto 1fr;
        grid-template-areas:
          "favicon link"
          "favicon date";
      }
    }
  }
  .favicon {
    grid-area: favicon;
  }
  a {
    grid-area: link;
  }
  time {
    grid-area: date;
  }
}
