.recent-authors,
.recent-starters {
  margin-inline: calc(var(--grid-gutter) * -1);
  margin-block-start: var(--grid-gutter);

  @media (width >=768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gutter);
    margin-inline: 0;
  }
}

.recent-authors__item,
.recent-starters__item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "favicon link"
    "details details";
  row-gap: var(--space-3xs);
  column-gap: var(--space-2xs);
  align-content: start;
  align-items: start;
  padding: var(--space-s);
  background: var(--surface-back);
  border: 1px solid var(--surface-fore);
  font-size: var(--step--1);
  overflow-wrap: anywhere;
  @media (width <=768px) {
    border-left: none;
    border-right: none;

    &:not(:last-of-type) {
      border-bottom: none;
    }
  }

  .favicon {
    grid-area: favicon;
  }

  > a {
    grid-area: link;
    font-size: var(--step-0);
    font-family: var(--font-display-bold);
  }

  .details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);

    dl {
      display: grid;
      grid-template-columns: max-content 1fr;
      column-gap: var(--space-2xs);
      margin-block: unset;
    }
    dd {
      margin-block: unset;
      a {
        color: var(--text-colour-2);
      }
    }
  }

  p {
    margin-block: 0;
  }
}

.recent-starters__item {
  container-type: inline-size;
}

@container (width >=425px) {
  .recent-starters__item .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xs);
    align-items: start;

    > p {
      grid-column: 1 / -1;
    }
    .demo-screenshot {
      order: 2;
    }
    dl {
      order: 1;
    }
  }
}

.recent-authors__item {
  background: var(--surface-mid);
}
