.pagefind-ui {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.pagefind-ui__form {
  display: flex;
  flex-wrap: wrap;
}

.pagefind-ui__drawer {
  font-size: var(--step--1);
}

.pagefind-ui__search-input {
  border-right: unset;
  border-bottom-right-radius: unset;
  border-top-right-radius: unset;
}

.pagefind-ui__search-clear {
  font-family: var(--font-display-regular);
  color: var(--text-colour-4);
  background: oklch(1 0 0);
  border-left: unset;
  border-bottom-left-radius: unset;
  border-top-left-radius: unset;
  &:hover {
    background: oklch(1 0 0);
    color: var(--text-colour-2);
  }
}

ol.pagefind-ui__results {
  list-style: none;
  margin-block: unset;
  padding-inline: unset;
  margin-block-end: var(--space-xs);
}

.pagefind-ui__result {
  border-top: 1px dashed var(--surface-fore);
  overflow-wrap: anywhere;
}

.pagefind-ui__message,
.pagefind-ui__result-link {
  font-family: var(--font-display-bold);
}

.pagefind-ui__result-title {
  margin-block-start: .5lh;
}

.pagefind-ui__result-excerpt {
  margin-block-start: unset;
}