@charset "UTF-8";
:root {
  /* Font families: Webfont with fallbacks to https://modernfontstacks.com/ */
  --font-default: Candara, "Noto Sans", source-sans-pro, sans-serif;
  --font-display-regular: Optima Regular, var(--font-default);
  --font-display-regular-italic: Optima Regular Italic, var(--font-default);
  --font-display-bold: Optima Regular Bold, var(--font-default);
  --font-display-bold-italic: Optima Bold Italic, var(--font-default);
  --font-display-extrablack: Optima ExtraBlack, var(--font-default);
  --font-brand: Nimbus Mono Bold, "Courier New", monospace;

  /* @link https://utopia.fyi/type/calculator/?c=360,18,1.2,1440,22,1.25,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l%7Cs-m%7Cm-l%7Cl-xl&g=s,l,xl,12*/
  /* Font sizes */
  --step--2: clamp(0.7813rem, 0.7483rem + 0.1463vw, 0.88rem);
  --step--1: clamp(0.9375rem, 0.8833rem + 0.2407vw, 1.1rem);
  --step-0: clamp(1.125rem, 1.0417rem + 0.3704vw, 1.375rem);
  --step-1: clamp(1.35rem, 1.2271rem + 0.5463vw, 1.7188rem);
  --step-2: clamp(1.62rem, 1.4439rem + 0.7829vw, 2.1484rem);
  --step-3: clamp(1.944rem, 1.6968rem + 1.0986vw, 2.6855rem);
  --step-4: clamp(2.3328rem, 1.9914rem + 1.5172vw, 3.3569rem);
  --step-5: clamp(2.7994rem, 2.3338rem + 2.0693vw, 4.1962rem);

  /* Spacing */
  --space-3xs: clamp(0.3125rem, 0.2917rem + 0.0926vw, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.5208rem + 0.1852vw, 0.6875rem);
  --space-xs: clamp(0.875rem, 0.8125rem + 0.2778vw, 1.0625rem);
  --space-s: clamp(1.125rem, 1.0417rem + 0.3704vw, 1.375rem);
  --space-m: clamp(1.6875rem, 1.5625rem + 0.5556vw, 2.0625rem);
  --space-l: clamp(2.25rem, 2.0833rem + 0.7407vw, 2.75rem);
  --space-xl: clamp(3.375rem, 3.125rem + 1.1111vw, 4.125rem);
  --space-2xl: clamp(4.5rem, 4.1667rem + 1.4815vw, 5.5rem);
  --space-3xl: clamp(6.75rem, 6.25rem + 2.2222vw, 8.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1875rem + 0.5556vw, 0.6875rem);
  --space-2xs-xs: clamp(0.5625rem, 0.3958rem + 0.7407vw, 1.0625rem);
  --space-xs-s: clamp(0.875rem, 0.7083rem + 0.7407vw, 1.375rem);
  --space-s-m: clamp(1.125rem, 0.8125rem + 1.3889vw, 2.0625rem);
  --space-m-l: clamp(1.6875rem, 1.3333rem + 1.5741vw, 2.75rem);
  --space-l-xl: clamp(2.25rem, 1.625rem + 2.7778vw, 4.125rem);
  --space-xl-2xl: clamp(3.375rem, 2.6667rem + 3.1481vw, 5.5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.25rem + 5.5556vw, 8.25rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.5833rem + 2.4074vw, 2.75rem);
  --space-s-m: clamp(1.125rem, 0.8125rem + 1.3889vw, 2.0625rem);
  --space-m-l: clamp(1.6875rem, 1.3333rem + 1.5741vw, 2.75rem);
  --space-l-xl: clamp(2.25rem, 1.625rem + 2.7778vw, 4.125rem);

  /* Layout grid */
  --grid-max-width: 85.25rem;
  --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.5423rem + 2.5896vw, 2.75rem));

  /* Border radii */
  --radius-xs: 2px;
  --radius-s: 4px;
  --radius-m: 8px;

  /* Targets: Controls the difference between steps across all hue ramps */
  --step-1-L: 96%;
  --step-2-L: 91%;
  --step-3-L: 85%;
  --step-4-L: 71%;
  --step-5-L: 52%;
  --step-6-L: 42%;
  --step-7-L: 34%;
  --step-8-L: 24%;
  --step-9-L: 18%;

  --step-1-C: 0.02;
  --step-2-C: 0.03;
  --step-3-C: 0.04;
  --step-4-C: 0.09;
  --step-5-C: 0.13;
  --step-6-C: 0.16;
  --step-7-C: 0.18;
  --step-8-C: 0.19;
  --step-9-C: 0.20;

  /* Hues: shift hue in 60° steps from base */
  --primary: oklch(52% 0.1 60);
  --secondary: oklch(from var(--primary) L C calc(H + 51));
  --tertiary: oklch(from var(--primary) L C calc(H + 103));
  --quaternary: oklch(from var(--primary) L C calc(H + 154));
  --quinary: oklch(from var(--primary) L C calc(H + 206));
  --senary: oklch(from var(--primary) L C calc(H + 257));
  --septenary: oklch(from var(--primary) L C calc(H + 309));
  --greyscale: oklch(52% 0 0);

  /* Variants: combine absolute L/C targets with each hue */
	--primary-1: oklch(from var(--primary) var(--step-1-L) var(--step-1-C) H);
	--primary-2: oklch(from var(--primary) var(--step-2-L) var(--step-2-C) H);
	--primary-3: oklch(from var(--primary) var(--step-3-L) var(--step-3-C) H);
	--primary-4: oklch(from var(--primary) var(--step-4-L) var(--step-4-C) H);
	--primary-5: oklch(from var(--primary) var(--step-5-L) var(--step-5-C) H);
	--primary-6: oklch(from var(--primary) var(--step-6-L) var(--step-6-C) H);
	--primary-7: oklch(from var(--primary) var(--step-7-L) var(--step-7-C) H);
	--primary-8: oklch(from var(--primary) var(--step-8-L) var(--step-8-C) H);
	--primary-9: oklch(from var(--primary) var(--step-9-L) var(--step-9-C) H);

	--secondary-1: oklch(from var(--secondary) var(--step-1-L) var(--step-1-C) H);
	--secondary-2: oklch(from var(--secondary) var(--step-2-L) var(--step-2-C) H);
	--secondary-3: oklch(from var(--secondary) var(--step-3-L) var(--step-3-C) H);
	--secondary-4: oklch(from var(--secondary) var(--step-4-L) var(--step-4-C) H);
	--secondary-5: oklch(from var(--secondary) var(--step-5-L) var(--step-5-C) H);
	--secondary-6: oklch(from var(--secondary) var(--step-6-L) var(--step-6-C) H);
	--secondary-7: oklch(from var(--secondary) var(--step-7-L) var(--step-7-C) H);
  --secondary-8: oklch(from var(--secondary) var(--step-8-L) var(--step-8-C) H);
	--secondary-9: oklch(from var(--secondary) var(--step-9-L) var(--step-9-C) H);

	--tertiary-1: oklch(from var(--tertiary) var(--step-1-L) var(--step-1-C) H);
	--tertiary-2: oklch(from var(--tertiary) var(--step-2-L) var(--step-2-C) H);
	--tertiary-3: oklch(from var(--tertiary) var(--step-3-L) var(--step-3-C) H);
	--tertiary-4: oklch(from var(--tertiary) var(--step-4-L) var(--step-4-C) H);
	--tertiary-5: oklch(from var(--tertiary) var(--step-5-L) var(--step-5-C) H);
	--tertiary-6: oklch(from var(--tertiary) var(--step-6-L) var(--step-6-C) H);
	--tertiary-7: oklch(from var(--tertiary) var(--step-7-L) var(--step-7-C) H);
	--tertiary-8: oklch(from var(--tertiary) var(--step-8-L) var(--step-8-C) H);
	--tertiary-9: oklch(from var(--tertiary) var(--step-9-L) var(--step-9-C) H);

	--quaternary-1: oklch(from var(--quaternary) var(--step-1-L) var(--step-1-C) H);
	--quaternary-2: oklch(from var(--quaternary) var(--step-2-L) var(--step-2-C) H);
	--quaternary-3: oklch(from var(--quaternary) var(--step-3-L) var(--step-3-C) H);
	--quaternary-4: oklch(from var(--quaternary) var(--step-4-L) var(--step-4-C) H);
	--quaternary-5: oklch(from var(--quaternary) var(--step-5-L) var(--step-5-C) H);
	--quaternary-6: oklch(from var(--quaternary) var(--step-6-L) var(--step-6-C) H);
	--quaternary-7: oklch(from var(--quaternary) var(--step-7-L) var(--step-7-C) H);
	--quaternary-8: oklch(from var(--quaternary) var(--step-8-L) var(--step-8-C) H);
	--quaternary-9: oklch(from var(--quaternary) var(--step-9-L) var(--step-9-C) H);

	--quinary-1: oklch(from var(--quinary) var(--step-1-L) var(--step-1-C) H);
	--quinary-2: oklch(from var(--quinary) var(--step-2-L) var(--step-2-C) H);
	--quinary-3: oklch(from var(--quinary) var(--step-3-L) var(--step-3-C) H);
	--quinary-4: oklch(from var(--quinary) var(--step-4-L) var(--step-4-C) H);
	--quinary-5: oklch(from var(--quinary) var(--step-5-L) var(--step-5-C) H);
	--quinary-6: oklch(from var(--quinary) var(--step-6-L) var(--step-6-C) H);
	--quinary-7: oklch(from var(--quinary) var(--step-7-L) var(--step-7-C) H);
	--quinary-8: oklch(from var(--quinary) var(--step-8-L) var(--step-8-C) H);
	--quinary-9: oklch(from var(--quinary) var(--step-9-L) var(--step-9-C) H);

	--senary-1: oklch(from var(--senary) var(--step-1-L) var(--step-1-C) H);
	--senary-2: oklch(from var(--senary) var(--step-2-L) var(--step-2-C) H);
	--senary-3: oklch(from var(--senary) var(--step-3-L) var(--step-3-C) H);
	--senary-4: oklch(from var(--senary) var(--step-4-L) var(--step-4-C) H);
	--senary-5: oklch(from var(--senary) var(--step-5-L) var(--step-5-C) H);
	--senary-6: oklch(from var(--senary) var(--step-6-L) var(--step-6-C) H);
	--senary-7: oklch(from var(--senary) var(--step-7-L) var(--step-7-C) H);
	--senary-8: oklch(from var(--senary) var(--step-8-L) var(--step-8-C) H);
	--senary-9: oklch(from var(--senary) var(--step-9-L) var(--step-9-C) H);

	--septenary-1: oklch(from var(--septenary) var(--step-1-L) var(--step-1-C) H);
	--septenary-2: oklch(from var(--septenary) var(--step-2-L) var(--step-2-C) H);
	--septenary-3: oklch(from var(--septenary) var(--step-3-L) var(--step-3-C) H);
	--septenary-4: oklch(from var(--septenary) var(--step-4-L) var(--step-4-C) H);
	--septenary-5: oklch(from var(--septenary) var(--step-5-L) var(--step-5-C) H);
	--septenary-6: oklch(from var(--septenary) var(--step-6-L) var(--step-6-C) H);
	--septenary-7: oklch(from var(--septenary) var(--step-7-L) var(--step-7-C) H);
	--septenary-8: oklch(from var(--septenary) var(--step-8-L) var(--step-8-C) H);
	--septenary-9: oklch(from var(--septenary) var(--step-9-L) var(--step-9-C) H);

	--greyscale-1: oklch(from var(--greyscale) var(--step-1-L) C H);
	--greyscale-2: oklch(from var(--greyscale) var(--step-2-L) C H);
	--greyscale-3: oklch(from var(--greyscale) var(--step-3-L) C H);
	--greyscale-4: oklch(from var(--greyscale) var(--step-4-L) C H);
	--greyscale-5: oklch(from var(--greyscale) var(--step-5-L) C H);
	--greyscale-6: oklch(from var(--greyscale) var(--step-6-L) C H);
	--greyscale-7: oklch(from var(--greyscale) var(--step-7-L) C H);
	--greyscale-8: oklch(from var(--greyscale) var(--step-8-L) C H);
	--greyscale-9: oklch(from var(--greyscale) var(--step-9-L) C H);
}

@media screen {
  [data-theme=light] {
    --surface-back: var(--primary-1);
    --surface-mid: var(--primary-2);
    --surface-fore: var(--primary-3);
    --text-colour-1: var(--greyscale-9);
    --text-colour-2: var(--greyscale-6);
    --text-colour-3: var(--greyscale-3);
    --text-colour-4: var(--greyscale-1);
    --heading-colour-1: var(--primary-9);
    --categories-colour-1: var(--secondary-1);
    --categories-colour-2: var(--secondary-2);
    --categories-colour-3: var(--secondary-3);
    --categories-colour-4: var(--secondary-5);
    --categories-colour-5: var(--secondary-7);
    --categories-colour-6: var(--secondary-8);
    --categories-colour-7: var(--secondary-9);
    --authors-colour-1: var(--tertiary-1);
    --authors-colour-2: var(--tertiary-2);
    --authors-colour-3: var(--tertiary-3);
    --authors-colour-4: var(--tertiary-5);
    --authors-colour-5: var(--tertiary-7);
    --authors-colour-6: var(--tertiary-8);
    --authors-colour-7: var(--tertiary-9);
    --showcase-colour-1: var(--quaternary-1);
    --showcase-colour-2: var(--quaternary-2);
    --showcase-colour-3: var(--quaternary-3);
    --showcase-colour-4: var(--quaternary-5);
    --showcase-colour-5: var(--quaternary-7);
    --showcase-colour-6: var(--quaternary-8);
    --showcase-colour-7: var(--quaternary-9);
    --starters-colour-1: var(--quinary-1);
    --starters-colour-2: var(--quinary-2);
    --starters-colour-3: var(--quinary-3);
    --starters-colour-4: var(--quinary-5);
    --starters-colour-5: var(--quinary-7);
    --starters-colour-6: var(--quinary-8);
    --starters-colour-7: var(--quinary-9);
    --blog-colour-1: var(--senary-1);
    --blog-colour-2: var(--senary-2);
    --blog-colour-3: var(--senary-3);
    --blog-colour-4: var(--senary-5);
    --blog-colour-5: var(--senary-7);
    --blog-colour-6: var(--senary-8);
    --blog-colour-7: var(--senary-9);
    --firehose-colour-1: var(--septenary-1);
    --firehose-colour-2: var(--septenary-2);
    --firehose-colour-3: var(--septenary-3);
    --firehose-colour-4: var(--septenary-5);
    --firehose-colour-5: var(--septenary-7);
    --firehose-colour-6: var(--septenary-8);
    --firehose-colour-7: var(--septenary-9);
  }
  [data-theme=dark] {
    --surface-back: var(--greyscale-9);
    --surface-mid: var(--greyscale-8);
    --surface-fore: var(--greyscale-7);
    --text-colour-1: var(--greyscale-2);
    --text-colour-2: var(--greyscale-4);
    --text-colour-3: var(--greyscale-3);
    --text-colour-4: var(--greyscale-9);
    --heading-colour-1: var(--primary-3);
    --categories-colour-1: var(--secondary-9);
    --categories-colour-2: var(--secondary-8);
    --categories-colour-3: var(--secondary-7);
    --categories-colour-4: var(--secondary-5);
    --categories-colour-5: var(--secondary-3);
    --categories-colour-6: var(--secondary-2);
    --categories-colour-7: var(--secondary-1);
    --authors-colour-1: var(--tertiary-9);
    --authors-colour-2: var(--tertiary-8);
    --authors-colour-3: var(--tertiary-7);
    --authors-colour-4: var(--tertiary-5);
    --authors-colour-5: var(--tertiary-3);
    --authors-colour-6: var(--tertiary-2);
    --authors-colour-7: var(--tertiary-1);
    --showcase-colour-1: var(--quaternary-9);
    --showcase-colour-2: var(--quaternary-8);
    --showcase-colour-3: var(--quaternary-7);
    --showcase-colour-4: var(--quaternary-5);
    --showcase-colour-5: var(--quaternary-3);
    --showcase-colour-6: var(--quaternary-2);
    --showcase-colour-7: var(--quaternary-1);
    --starters-colour-1: var(--quinary-9);
    --starters-colour-2: var(--quinary-8);
    --starters-colour-3: var(--quinary-7);
    --starters-colour-4: var(--quinary-5);
    --starters-colour-5: var(--quinary-3);
    --starters-colour-6: var(--quinary-2);
    --starters-colour-7: var(--quinary-1);
    --blog-colour-1: var(--senary-9);
    --blog-colour-2: var(--senary-8);
    --blog-colour-3: var(--senary-7);
    --blog-colour-4: var(--senary-5);
    --blog-colour-5: var(--senary-3);
    --blog-colour-6: var(--senary-2);
    --blog-colour-7: var(--senary-1);
    --firehose-colour-1: var(--septenary-9);
    --firehose-colour-2: var(--septenary-8);
    --firehose-colour-3: var(--septenary-7);
    --firehose-colour-4: var(--septenary-5);
    --firehose-colour-5: var(--septenary-3);
    --firehose-colour-6: var(--septenary-2);
    --firehose-colour-7: var(--septenary-1);
  }
}
