:root {
  /* Font families: Webfont with fallbacks to https://modernfontstacks.com/ */
  --font-default: Candara, "Noto Sans", source-sans-pro, sans-serif;
  --font-display-regular: Optima Regular, var(--font-default);
  --font-display-regular-italic: Optima Regular Italic, var(--font-default);
  --font-display-bold: Optima Regular Bold, var(--font-default);
  --font-display-bold-italic: Optima Bold Italic, var(--font-default);
  --font-display-extrablack: Optima ExtraBlack, var(--font-default);
  --font-brand: Nimbus Mono Bold, "Courier New", monospace;
  /* @link https://utopia.fyi/space/calculator/?c=360,18,1.2,1400,20,1.25,5,2,&s=0.75,1.5|2|3|4|6,s-l|s-m|m-l|l-xl&g=s,l,xl,12 */
  /* Font sizes */
  --step--2: clamp(0.7813rem, 0.7748rem + 0.0288vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9159rem + 0.0962vw, 1rem);
  --step-0: clamp(1.125rem, 1.0817rem + 0.1923vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2764rem + 0.3269vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5047rem + 0.5125vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7718rem + 0.7652vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0839rem + 1.1061vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4479rem + 1.5621vw, 3.8147rem);
  /* Spacing */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5409rem + 0.0962vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8534rem + 0.0962vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0817rem + 0.1923vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6226rem + 0.2885vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1635rem + 0.3846vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2452rem + 0.5769vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3269rem + 0.7692vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4904rem + 1.1538vw, 7.5rem);
  /* One-up pairs */
  --space-xs-s: clamp(0.875rem, 0.7452rem + 0.5769vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8654rem + 1.1538vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4063rem + 1.25vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7308rem + 2.3077vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8125rem + 2.5vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4615rem + 4.6154vw, 7.5rem);
  /* Custom pairs */
  --space-s-m: clamp(1.125rem, 0.8654rem + 1.1538vw, 1.875rem);
  --space-s-l: clamp(1.125rem, 0.649rem + 2.1154vw, 2.5rem);
  --space-m-l: clamp(1.6875rem, 1.4063rem + 1.25vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7308rem + 2.3077vw, 3.75rem);
  /* Layout grid */
  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem));
  /* Border radii */
  --radius-xs: 2px;
  --radius-s: 4px;
  --radius-m: 8px;
  --hue: 60;
  --primary-1: oklch(96.75% 0.025 var(--hue));
  --secondary-1: oklch(96.75% 0.025 calc(var(--hue) + 60));
  --tertiary-1: oklch(96.75% 0.025 calc(var(--hue) + 120));
  --quaternary-1: oklch(96.75% 0.025 calc(var(--hue) + 180));
  --quinary-1: oklch(96.75% 0.025 calc(var(--hue) + 240));
  --senary-1: oklch(96.75% 0.025 calc(var(--hue) + 300));
  --greyscale-1: oklch(96.75% 0 0);
  --primary-2: oklch(86% 0.05 var(--hue));
  --secondary-2: oklch(86% 0.05 calc(var(--hue) + 60));
  --tertiary-2: oklch(86% 0.05 calc(var(--hue) + 120));
  --quaternary-2: oklch(86% 0.05 calc(var(--hue) + 180));
  --quinary-2: oklch(86% 0.05 calc(var(--hue) + 240));
  --senary-2: oklch(86% 0.05 calc(var(--hue) + 300));
  --greyscale-2: oklch(86% 0 0);
  --primary-3: oklch(75.25% 0.075 var(--hue));
  --secondary-3: oklch(75.25% 0.075 calc(var(--hue) + 60));
  --tertiary-3: oklch(75.25% 0.075 calc(var(--hue) + 120));
  --quaternary-3: oklch(75.25% 0.075 calc(var(--hue) + 180));
  --quinary-3: oklch(75.25% 0.075 calc(var(--hue) + 240));
  --senary-3: oklch(75.25% 0.075 calc(var(--hue) + 300));
  --greyscale-3: oklch(75.25% 0 0);
  --primary-4: oklch(64.5% 0.1 var(--hue));
  --secondary-4: oklch(64.5% 0.1 calc(var(--hue) + 60));
  --tertiary-4: oklch(64.5% 0.1 calc(var(--hue) + 120));
  --quaternary-4: oklch(64.5% 0.1 calc(var(--hue) + 180));
  --quinary-4: oklch(64.5% 0.1 calc(var(--hue) + 240));
  --senary-4: oklch(64.5% 0.1 calc(var(--hue) + 300));
  --greyscale-4: oklch(64.5% 0 0);
  --primary-5: oklch(53.75% 0.125 var(--hue));
  --secondary-5: oklch(53.75% 0.125 calc(var(--hue) + 60));
  --tertiary-5: oklch(53.75% 0.125 calc(var(--hue) + 120));
  --quaternary-5: oklch(53.75% 0.125 calc(var(--hue) + 180));
  --quinary-5: oklch(53.75% 0.125 calc(var(--hue) + 240));
  --senary-5: oklch(53.75% 0.125 calc(var(--hue) + 300));
  --greyscale-5: oklch(53.75% 0 0);
  --primary-6: oklch(43% 0.15 var(--hue));
  --secondary-6: oklch(43% 0.15 calc(var(--hue) + 60));
  --tertiary-6: oklch(43% 0.15 calc(var(--hue) + 120));
  --quaternary-6: oklch(43% 0.15 calc(var(--hue) + 180));
  --quinary-6: oklch(43% 0.15 calc(var(--hue) + 240));
  --senary-6: oklch(43% 0.15 calc(var(--hue) + 300));
  --greyscale-6: oklch(43% 0 0);
  --primary-7: oklch(32.25% 0.175 var(--hue));
  --secondary-7: oklch(32.25% 0.175 calc(var(--hue) + 60));
  --tertiary-7: oklch(32.25% 0.175 calc(var(--hue) + 120));
  --quaternary-7: oklch(32.25% 0.175 calc(var(--hue) + 180));
  --quinary-7: oklch(32.25% 0.175 calc(var(--hue) + 240));
  --senary-7: oklch(32.25% 0.175 calc(var(--hue) + 300));
  --greyscale-7: oklch(32.25% 0 0);
  --primary-8: oklch(21.5% 0.2 var(--hue));
  --secondary-8: oklch(21.5% 0.2 calc(var(--hue) + 60));
  --tertiary-8: oklch(21.5% 0.2 calc(var(--hue) + 120));
  --quaternary-8: oklch(21.5% 0.2 calc(var(--hue) + 180));
  --quinary-8: oklch(21.5% 0.2 calc(var(--hue) + 240));
  --senary-8: oklch(21.5% 0.2 calc(var(--hue) + 300));
  --greyscale-8: oklch(21.5% 0 0);
  --primary-9: oklch(10.75% 0.225 var(--hue));
  --secondary-9: oklch(10.75% 0.225 calc(var(--hue) + 60));
  --tertiary-9: oklch(10.75% 0.225 calc(var(--hue) + 120));
  --quaternary-9: oklch(10.75% 0.225 calc(var(--hue) + 180));
  --quinary-9: oklch(10.75% 0.225 calc(var(--hue) + 240));
  --senary-9: oklch(10.75% 0.225 calc(var(--hue) + 300));
  --greyscale-9: oklch(10.75% 0 0);
}

@media screen {
  [data-theme=light] {
    --surface-back: var(--primary-1);
    --surface-mid: var(--primary-2);
    --surface-fore: var(--primary-3);
    --text-colour-1: var(--greyscale-9);
    --text-colour-2: var(--greyscale-6);
    --text-colour-3: var(--greyscale-3);
    --text-colour-4: var(--greyscale-1);
    --heading-colour-1: var(--primary-9);
    --categories-colour-1: var(--secondary-1);
    --categories-colour-2: var(--secondary-2);
    --categories-colour-3: var(--secondary-3);
    --categories-colour-4: var(--secondary-5);
    --categories-colour-5: var(--secondary-7);
    --categories-colour-6: var(--secondary-8);
    --categories-colour-7: var(--secondary-9);
    --authors-colour-1: var(--tertiary-1);
    --authors-colour-2: var(--tertiary-2);
    --authors-colour-3: var(--tertiary-3);
    --authors-colour-4: var(--tertiary-5);
    --authors-colour-5: var(--tertiary-7);
    --authors-colour-6: var(--tertiary-8);
    --authors-colour-7: var(--tertiary-9);
    --starters-colour-1: var(--quaternary-1);
    --starters-colour-2: var(--quaternary-2);
    --starters-colour-3: var(--quaternary-3);
    --starters-colour-4: var(--quaternary-5);
    --starters-colour-5: var(--quaternary-7);
    --starters-colour-6: var(--quaternary-8);
    --starters-colour-7: var(--quaternary-9);
    --blog-colour-1: var(--quinary-1);
    --blog-colour-2: var(--quinary-2);
    --blog-colour-3: var(--quinary-3);
    --blog-colour-4: var(--quinary-5);
    --blog-colour-5: var(--quinary-7);
    --blog-colour-6: var(--quinary-8);
    --blog-colour-7: var(--quinary-9);
    --firehose-colour-1: var(--senary-1);
    --firehose-colour-2: var(--senary-2);
    --firehose-colour-3: var(--senary-3);
    --firehose-colour-4: var(--senary-5);
    --firehose-colour-5: var(--senary-7);
    --firehose-colour-6: var(--senary-8);
    --firehose-colour-7: var(--senary-9);
  }
  [data-theme=dark] {
    --surface-back: var(--greyscale-9);
    --surface-mid: var(--greyscale-8);
    --surface-fore: var(--greyscale-7);
    --text-colour-1: var(--greyscale-2);
    --text-colour-2: var(--greyscale-4);
    --text-colour-3: var(--greyscale-3);
    --text-colour-4: var(--greyscale-9);
    --heading-colour-1: var(--primary-3);
    --categories-colour-1: var(--secondary-9);
    --categories-colour-2: var(--secondary-8);
    --categories-colour-3: var(--secondary-7);
    --categories-colour-4: var(--secondary-5);
    --categories-colour-5: var(--secondary-3);
    --categories-colour-6: var(--secondary-2);
    --categories-colour-7: var(--secondary-1);
    --authors-colour-1: var(--tertiary-9);
    --authors-colour-2: var(--tertiary-8);
    --authors-colour-3: var(--tertiary-7);
    --authors-colour-4: var(--tertiary-5);
    --authors-colour-5: var(--tertiary-3);
    --authors-colour-6: var(--tertiary-2);
    --authors-colour-7: var(--tertiary-1);
    --starters-colour-1: var(--quaternary-9);
    --starters-colour-2: var(--quaternary-8);
    --starters-colour-3: var(--quaternary-7);
    --starters-colour-4: var(--quaternary-5);
    --starters-colour-5: var(--quaternary-3);
    --starters-colour-6: var(--quaternary-2);
    --starters-colour-7: var(--quaternary-1);
    --blog-colour-1: var(--quinary-9);
    --blog-colour-2: var(--quinary-8);
    --blog-colour-3: var(--quinary-7);
    --blog-colour-4: var(--quinary-5);
    --blog-colour-5: var(--quinary-3);
    --blog-colour-6: var(--quinary-2);
    --blog-colour-7: var(--quinary-1);
    --firehose-colour-1: var(--senary-9);
    --firehose-colour-2: var(--senary-8);
    --firehose-colour-3: var(--senary-7);
    --firehose-colour-4: var(--senary-5);
    --firehose-colour-5: var(--senary-3);
    --firehose-colour-6: var(--senary-2);
    --firehose-colour-7: var(--senary-1);
  }
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.5;
  background: var(--surface-back);
  font-family: var(--font-display-regular);
  font-size: var(--step-0);
  color: var(--text-colour-1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

em {
  font-family: var(--font-display-regular-italic);
}

strong {
  font-family: var(--font-display-bold);
}

em strong,
strong em {
  font-family: var(--font-display-bold-italic);
}

h1 {
  font-family: var(--font-display-extrablack);
  font-size: var(--step-5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display-bold);
  color: var(--heading-colour-1);
}

.standfirst {
  font-size: var(--step-1);
}

.site-main {
  grid-area: main;
}

.container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.surface-back {
  background: var(--surface-back);
}

.surface-mid {
  background: var(--surface-mid);
}

.surface-fore {
  background: var(--surface-fore);
}
