---
title: "The 11ty Bundle"
description: "A bundle of Eleventy releases, blog posts, sites, and resources. Over 1,100 posts from more than 350 authors across more than 45 categories."
permalink: "/"
---
<section>
  <div class="hero container">
    <h1>Bundles of 11ty know-how</h1>
    <div class="intro">
      <p class="standfirst">Welcome to the 11ty Bundle—your curated source for discovering how the community is using
        <a href="http://">11ty</a>, a simple, flexible, open-source static site generator.</p>
      <p>Stay updated via our <a href="">blog feed</a>, the <a href="">firehose feed</a>, or <a href="#newsletter">subscribe to the
          newsletter</a> for email updates.</p>
    </div>
    <article class="latest-blog">
      <h2 class="h3">Latest from the blog</h2>
      <dl class="calendar">
        <dt>Issue</dt>
        <dd>79</dd>
      </dl>
      <div class="summary">
        <p><a href="">11ty Meetup videos, 11ty logo as Font Awesome icon, 11ty FA plugin hits 1.0, Add a CMS to ZeroPoint, Peter
          deHaan and Nunjucks loops, Kyle brings us Brewventy, Zach on Podcast Awesome, Hire Shiv J.M.,Dwkns debugs with a
          shortcode, Alex Russell performs hacks, Simon redirects on Cloudflare, Build your own Subspace...And 1 releases,
          27 posts, and 11 sites to see</a></p>
        <p class="meta"><time datetime="2025-10-11">Oct 11, 2025</time> ~ 7 minutes to read</p>
        <a href="" class="button">View all issues <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#icon-arrow-right"></use>
          </svg></a>
      </div>
    </article>
  </div>
</section>
<section>
  <div class="container">
    <article class="feeds">
      <article class="feeds__section">
        <h2 class="h3">From the firehose <a href=""/firehosefeed.xml""><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#icon-rss"></use>
          </svg></a></h2>
        {%- set recent = bundledata.firehose.slice(0,11) -%}
        <ol role="list" class="feeds__list">
           {%- for item in recent -%}
             <li class="feeds__item">
                {{ item.Link | getFavicon | safe}}
                <a href="{{ item.Link }}">{{ item.Title }}</a>
                <time datetime="{{ item.Date | formatItemDate }}">{{ item.Date | formatItemDate }}</time>
              </li>
            {%- endfor -%}
        </ol>
      </article>
      <article class="feeds__section">
        <h2 class="h3">Recent sites <a href=""><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#icon-rss"></use>
          </svg></a></h2>
        <ol role="list" class="feeds__list">
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Tyler Gaw, Designer & Engineer</a>
            <time datetime="2025-11-11">Nov 11, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Domnica Profectus</a>
            <time datetime="2025-11-11">Nov 11, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Berry House</a>
            <time datetime="2025-11-10">Nov 10, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">DevPro</a>
            <time datetime="2025-11-10">Nov 10, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Yaisiel (Yai) Torres</a>
            <time datetime="2025-11-09">Nov 09, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">MyAlarm Security</a>
            <time datetime="2025-11-08">Nov 08, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Germán Freixinós López</a>
            <time datetime="2025-11-07">Nov 07, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">DESECRATING THE SACRED</a>
            <time datetime="2025-11-06">Nov 06, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Dan Clarke</a>
            <time datetime="2025-11-06">Nov 06, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Karthik Kadambi</a>
            <time datetime="2025-11-05">Nov 05, 2025</time>
          </li>
        </ol>
      </article>
      <article class="feeds__section">
        <h2 class="h3">Recent releases <a href=""><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#icon-rss"></use>
          </svg></a></h2>
        <ol role="list" class="feeds__list">
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Eleventy Font Awesome Plugin v1.0.0</a>
            <time datetime="2025-09-18">Sep 18, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">is-land v5.0.0</a>
            <time datetime="2025-08-29">Aug 29, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Eleventy WebC Plugin v0.12.0-beta.7</a>
            <time datetime="2025-08-28">Aug 28, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt=""><a href="http://">Eleventy Image v7.0.0-alpha.2</a>
            <time datetime="2025-08-27">Aug 27, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">WebC v0.12.0-beta.1</a>
            <time datetime="2025-08-22">Aug 22, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Eleventy Plugin Vite v7.1.0-alpha.2</a>
            <time datetime="2025-08-09">Aug 09, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Eleventy Plugin Vite v7.1.0-alpha.1</a>
            <time datetime="2025-08-09">Aug 09, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Eleventy Syntax Highlighter (Prism) v5.0.2</a>
            <time datetime="2025-08-01">Aug 01, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Pre-release: Eleventy v4.0.0-alpha.4</a>
            <time datetime="2025-07-30">Jul 30, 2025</time>
          </li>
          <li class="feeds__item">
            <img src="https://placehold.co/32x32" alt="">
            <a href="http://">Eleventy Dev Server v3.0.0-alpha.3</a>
            <time datetime="2025-07-29">Jul 29, 2025</time>
          </li>
        </ol>
      </article>
    </article>
  </div>
</section>
<section class="surface-mid">
  <div class="container">
    <h2 class="h3">Recent starters</h2>
    <article class="recent-starters">
      <article class="recent-starters__item">
        <img src="https://placehold.co/64x64" alt="">
        <div class="details">
          <a href="http://">Elva</a>
          <ul role="list">
            <li>Updated: <time datetime="2025-11-24">November 24, 2025</time></li>
            <li>GitHub stars: <data value="115">115</data></li>
            <li>11ty version: <data value="3.1.0">3.1.0</data></li>
          </ul>
          <a href="http://"><small>Demo site</small></a>
        </div>
      </article>
      <article class="recent-starters__item">
        <img src="https://placehold.co/64x64" alt="">
        <div class="details">
          <a href="http://">Pack11ty</a>
          <ul role="list">
            <li>Updated: <time datetime="2025-11-24">November 24, 2025</time></li>
            <li>GitHub stars: <data value="206">206</data></li>
            <li>11ty version: <data value="3.1.2">3.1.2</data></li>
          </ul>
          <a href="http://"><small>Demo site</small></a>
        </div>
      </article>
      <article class="recent-starters__item">
        <img src="https://placehold.co/64x64" alt="">
        <div class="details">
          <a href="http://">eleventy-photo-gallery</a>
          <ul role="list">
            <li>Updated: <time datetime="2025-11-22">November 22, 2025</time></li>
            <li>GitHub stars: <data value="548">173</data></li>
            <li>11ty version: <data value="2.0.1">2.0.1</data></li>
          </ul>
          <a href="http://"><small>Demo site</small></a>
        </div>
      </article>
    </article>
    <p><a href="starters" class="button">View all starters <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
          <use xlink:href="#icon-arrow-right"></use>
        </svg></a></p>
    </div>
</section>
<section>
  <div class="container">
    <h2 class="h3">Author spotlight</h2>
    <article class="recent-authors">
      <article class="recent-authors__item">
        <img src="https://placehold.co/64x64" alt="">
        <div class="details">
          <a href="">Raymond Camden</a>
          <p>Father, husband, developer relations and web standards expert, and cat demo builder.</p>
          {%- include "partials/author-links.njk" -%}
        </div>
      </article>
      <article class="recent-authors__item">
        <img src="https://placehold.co/64x64" alt="">
        <div class="details">
          <a href="">Robb Knight</a>
          <p>Maker of web things, blogger, podcaster, and pizzaiolo. Cat dad and human dad.</p>
          {%- include "partials/author-links.njk" -%}
        </div>
      </article>
      <article class="recent-authors__item">
        <img src="https://placehold.co/64x64" alt="">
        <div class="details">
          <a href="">Cory Dransfeldt</a>
          <p>I'm a software developer in Camarillo, California. I write about software development, technology and music.</p>
          {%- include "partials/author-links.njk" -%}
        </div>
      </article>
    </article>
    <p><a href="authors" class="button">View all authors <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
          <use xlink:href="#icon-arrow-right"></use>
        </svg></a></p>
    </div>
</section>
{% css %}
{% include "public/css/home.css" %}
{% endcss %}
