---
title: "The 11ty Bundle"
eleventyComputed:
  description: "Your curated source for discovering how the community is using 11ty, a simple, flexible, open-source static site generator. With loads of resources: {{ bundledata.postCount }} blog posts from {{ bundledata.authorCount }} authors across {{ bundledata.categoryCount }} categories, {{ bundledata.starterCount }} starter projects, and much more."
permalink: "/"
issue: 80
---
<div class="section" data-pagefind-ignore="all">
  <div class="hero container">
    <h1>Bundles of 11ty know-how</h1>
    <div class="intro">
      <p class="standfirst">Welcome to the 11ty Bundle—your curated source for discovering how the community is using
        <a href="https://11ty.dev/">11ty</a>, a simple, flexible, open-source static site generator.</p>
      <p>Stay updated via our <a href="/feed.xml">blog feed</a>, the <a href="/firehosefeed.xml">firehose feed</a>, or <a href="#newsletter">subscribe to the
          newsletter</a> for email updates.</p>
    </div>
    <article class="latest-blog">
      <h2 class="h3">Latest from the blog&nbsp;&nbsp;<a href="/feed.xml" aria-label="RSS feed for the blog of the 11ty Bundle"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true" eleventy:ignore>
            <use xlink:href="#icon-rss"></use>
          </svg> <span class="visually-hidden">RSS</span></a></h2>
      {%- set post = collections.post | last -%}
      <dl class="calendar">
        <dt>Issue</dt>
        <dd>{{ post.data.bundleIssue }}</dd>
      </dl>
      <div class="summary">
        <p><a href="{{ post.url }}">{{ post.data.title }}</a></p>
        {% set counts = post.data.bundleIssue | getIssueCounts %}
        <p class="meta"><time datetime="{{ post.date | formatYMD }}">{{ post.date | formatItemDate }}</time>{% if counts.releaseCount > 0 %} &middot; {{ counts.releaseCount | countLabel("release")}}{% endif %} &middot; {{ counts.postCount | countLabel("post")}} &middot; {{ counts.siteCount | countLabel("site")}}</p>
        <a href="/blog/" class="button">View all issues <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true" eleventy:ignore>
            <use xlink:href="#icon-arrow-right"></use>
          </svg></a>
      </div>
    </article>
  </div>
</div>

<div class="section" data-pagefind-ignore="all">
  <div class="feeds container">
      <article class="feeds__section">
        <h2 class="h3">From the firehose <a href="/firehosefeed.xml" aria-label="RSS feed for the Firehose of the 11ty Bundle"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#icon-rss"></use>
          </svg></a></h2>
        {%- set recent = bundledata.firehose.slice(0,11) -%}
        <ol role="list" class="feeds__list">
          {%- for item in recent -%}
            <li class="feeds__item">
              {{ item.favicon | genFaviconHtml(1) | safe }}
              <a href="{{ item.Link }}">{{ item.Title }}</a>
              <time datetime="{{ item.Date | formatYMD }}">{{ item.formattedDate }}</time>
            </li>
          {%- endfor -%}
        </ol>
      </article>

      <article class="feeds__section">
        <h2 class="h3">Recent sites <a href="/sitesfeed.xml" aria-label="RSS feed for the Sites of the 11ty Bundle"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true" eleventy:ignore>
            <use xlink:href="#icon-rss"></use>
          </svg></a></h2>
        {%- set recent = bundledata.siteList.slice(0,11) -%}
        <ol role="list" class="feeds__list">
          {%- for item in recent -%}
            <li class="feeds__item">
              {{ item.favicon | genFaviconHtml(1) | safe }}
              <a href="{{ item.Link }}">{{ item.Title }}</a>
              <time datetime="{{ item.Date | formatYMD }}">{{ item.formattedDate }}</time>
            </li>
          {%- endfor -%}
        </ol>
      </article>

      <article class="feeds__section">
        <h2 class="h3">Recent releases <a href="/releasefeed.xml" aria-label="RSS feed for the Releases of the 11ty Bundle"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#icon-rss"></use>
          </svg></a></h2>
        {%- set recent = bundledata.releaseList.slice(0,11) -%}
        <ol role="list" class="feeds__list">
          {%- for item in recent -%}
          <li class="feeds__item">
            <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true" eleventy:ignore>
            <use xlink:href="#icon-github"></use>
            </svg>
            <a href="{{ item.Link }}">{{ item.Title }}</a>
            <time datetime="{{ item.Date | formatYMD }}">{{ item.formattedDate }}</time>
          {% endfor %}
          </li>
        </ol>
      </article>
  </div>
</div>

<div class="section surface-mid" data-pagefind-ignore="all">
  <div class="container">
    <h2 class="h3">Recent starters</h2>
    <div class="recent-starters">
      {%- for item in bundledata.starters.slice(0,3) %}
      <div class="recent-starters__item">
        <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true" loading="lazy" eleventy:ignore>
            <use xlink:href="#icon-github"></use>
            </svg>
        <a href="{{ item.Link }}">{{ item.Title }}</a>
        <div class="details">
          <p>{{ item.description | safe }}</p>
          <a href="{{ item.Demo }}" class="demo-screenshot"><img src="{{ item.screenshotpath }}" alt="Screenshot of {{ item.Title }} starter" loading="lazy">
            <small>Demo site <svg width="14" height="14" viewBox="0 0 24 24" aria-hidden="true">
                  <use xlink:href="#icon-external-link"></use></svg></small>
          </a>
          <dl>
            <dt>Author:</dt><dd><a href="{{ item.OwnerUrl }}">{{ item.Owner }}</a></dd>
            <dt>Updated:</dt><dd><time datetime="{{ item.LastUpdated | formatYMD }}">{{ item.LastUpdated }}</time></dd>
            <dt>GitHub stars:</dt><dd><data value="{{ item.Stars }}">{{ item.Stars }}</data></dd>
            <dt>11ty version:</dt><dd><data value="{{ item.Version }}">{{ item.Version }}</data></dd>
          </dl>
        </div>
      </div>
      {%- endfor %}
    </div>
    <p><a href="/starters/" class="button">View all starters <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true"  loading="lazy" eleventy:ignore>
          <use xlink:href="#icon-arrow-right"></use>
        </svg></a></p>
  </div>
</div>
<div class="section" data-pagefind-ignore="all">
  <div class="container">
    <h2 class="h3">Author spotlight</h2>
    <div class="recent-authors">
      {%- for item in bundledata.recentAuthors %}
      <div class="recent-authors__item">
        {{ item.favicon | genFaviconHtml(12) | safe }}
        <a href="/authors/{{ item.slugifiedAuthor }}/">{{ item.name }}</a>
        <div class="details">
          <p>{{ item.description | safe }}</p>
          <ul role="list" class="author-links">
            {{ item | getAuthorIcons | safe }}
          </ul>
        </div>
      </div>
      {%- endfor %}
    </div>
    <p><a href="/authors/" class="button">View all authors <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true"  loading="lazy" eleventy:ignore>
          <use xlink:href="#icon-arrow-right"></use>
        </svg></a></p>
    </div>
</div>
