---
title: "The 11ty Bundle"
eleventyComputed:
  description: "Your curated source for discovering how the community is using 11ty, a simple, flexible, open-source static site generator. With loads of resources: {{ bundledata.postCount }} blog posts from {{ bundledata.authorCount }} authors across {{ bundledata.categoryCount }} categories, {{ bundledata.starterCount }} starter projects, and much more."
permalink: "/"
issue: 80
---
<div class="section">
  <div class="hero container">
    <h1>Bundles of 11ty know-how</h1>
    <div class="intro">
      <p class="standfirst">Welcome to the 11ty Bundle—your curated source for discovering how the community is using
        <a href="https://11ty.dev/">11ty</a>, a simple, flexible, open-source static site generator.</p>
      <p>Stay updated via our <a href="/feed.xml">blog feed</a>, the <a href="/firehosefeed.xml">firehose feed</a>, or <a href="#newsletter">subscribe to the
          newsletter</a> for email updates.</p>
    </div>
    <article class="latest-blog">
      <h2 class="h3">Latest from the blog&nbsp;&nbsp;<a href="/feed.xml"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#icon-rss"></use>
          </svg> <span class="visually-hidden">RSS</span></a></h2>
      {%- set post = collections.post | reverse | first -%}
      <dl class="calendar">
        <dt>Issue</dt>
        <dd>{{ post.data.bundleIssue }}</dd>
      </dl>
      <div class="summary">
        <p><a href="{{ post.url }}">{{ post.data.title }}</a></p>
        <p class="meta"><time datetime="{{ post.date | formatYMD }}">{{ post.date | formatItemDate }}</time> ~ {{ post.content | readingTime }}</p>
        <a href="/blog/" class="button">View all issues <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#icon-arrow-right"></use>
          </svg></a>
      </div>
    </article>
  </div>
</div>
<div class="section">
  <div class="feeds container">
      <article class="feeds__section">
        <h2 class="h3">From the firehose <a href="/firehosefeed.xml"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#icon-rss"></use>
          </svg></a></h2>
        {%- set recent = bundledata.firehose.slice(0,11) -%}
        <ol role="list" class="feeds__list">
          {%- for item in recent -%}
            <li class="feeds__item">
              {{ item.favicon | safe }}
              <a href="{{ item.Link }}">{{ item.Title }}</a>
              <time datetime="{{ item.Date | formatYMD }}">{{ item.formattedDate }}</time>
            </li>
          {%- endfor -%}
        </ol>
      </article>
      <article class="feeds__section">
        <h2 class="h3">Recent sites <a href="/sitesfeed.xml"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#icon-rss"></use>
          </svg></a></h2>
        {%- set recent = bundledata.siteList.slice(0,11) -%}
        <ol role="list" class="feeds__list">
          {%- for item in recent -%}
            <li class="feeds__item">
              {{ item.favicon | safe}}
              <a href="{{ item.Link }}">{{ item.Title }}</a>
              <time datetime="{{ item.Date | formatYMD }}">{{ item.formattedDate }}</time>
            </li>
          {%- endfor -%}
        </ol>
      </article>
      <article class="feeds__section">
        <h2 class="h3">Recent releases <a href="/releasefeed.xml"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#icon-rss"></use>
          </svg></a></h2>
        {%- set recent = bundledata.releaseList.slice(0,11) -%}
        <ol role="list" class="feeds__list">
          {%- for item in recent -%}
          <li class="feeds__item">
            <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
            <use xlink:href="#icon-github"></use>
            </svg>
            <a href="{{ item.Link }}">{{ item.Title }}</a>
            <time datetime="{{ item.Date | formatYMD }}">{{ item.Date | formatItemDate }}</time>
          {% endfor %}
          </li>
        </ol>
      </article>
  </div>
</div>
<div class="section surface-mid">
  <div class="container">
    <h2 class="h3">Recent starters</h2>
    <div class="recent-starters">
      {%- for item in bundledata.starters.slice(0,3) %}
      <div class="recent-starters__item">
        <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
            <use xlink:href="#icon-github"></use>
            </svg>
        <div class="details">
          <a href="{{ item.Link }}">{{ item.Title }}</a>
          <ul role="list">
            <li>Updated: <time datetime="{{ item.Date | formatYMD }}">{{ item.LastUpdated | formatItemDate }}</time></li>
            <li>GitHub stars: <data value="{{ item.Stars }}">{{ item.Stars }}</data></li>
            <li>11ty version: <data value="{{ item.Version }}">{{ item.Version }}</data></li>
          </ul>
          <a href="{{ item.Demo }}"><small>Demo site</small></a>
        </div>
      </div>
      {%- endfor %}
    </div>
    <p><a href="/starters/" class="button">View all starters <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
          <use xlink:href="#icon-arrow-right"></use>
        </svg></a></p>
  </div>
</div>
<div class="section">
  <div class="container">
    <h2 class="h3">Author spotlight</h2>
    <div class="recent-authors">
      {%- for item in bundledata.recentAuthors %}
      <div class="recent-authors__item">
        {{ item.favicon | safe}}
        <div class="details">
          <a href="/authors/{{ item.slugifiedName }}/">{{ item.name }}</a>
          <p>{{ item.description | safe }}</p>
          <ul role="list" class="author-links">
            {{ item.origin | getAuthorIcons | safe }}
          </ul>
        </div>
      </div>
      {%- endfor %}
    </div>
    <p><a href="/authors/" class="button">View all authors <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
          <use xlink:href="#icon-arrow-right"></use>
        </svg></a></p>
    </div>
</div>
{% css %}
{% include "public/css/home.css" %}
{% endcss %}
