---
permalink: /firehosefeed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ site.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>Recent posts from the 11ty community.</title>
		<link>{{ site.url }}</link>
		<atom:link href="{{ permalink | absoluteUrl(site.url) }}" rel="self" type="application/rss+xml" />
		<description>The 11ty Bundle: recent posts from the 11ty community.</description>
		<language>{{ site.language }}</language>
    {%- set recent = bundledata.firehose.slice(0,20) -%}
		{%- for item in recent %}
		<item>
			<title>{{ item.Title }}</title>
			<link>{{ item.Link }}</link>
			<description>{{ item.Link | getDescription }}</description>
			<pubDate>{{ item.Date | formatFirehoseDate }}</pubDate>
			<dc:creator>{{ item.Author }}</dc:creator>
			<guid>{{ item.Link }}</guid>
		</item>
		{%- endfor %}
	</channel>
</rss>
