<!DOCTYPE html>
<html lang="en">
  {% include 'partials/head.njk' %}
<body>
  <a href='#' class="stt" title="scroll to top"></a>
	<a href="#main-content" id="visually-hidden">Skip to main content</a>
  <header>
    <p class="brand-name"><a href="/" class="brand-link">{% raw %}{{ 11tybundle.dev }}{% endraw %}</a></p>
    {% include "partials/headernav.njk" %}
  </header>
  <main id="main-content">
    {# provide per-page styling via frontmatter #}
    {% if pageId %}
      <div id="{{ pageId }}">
        {{ content | safe }}
      </div>
    {% else %}
      {{ content | safe }}
    {% endif %}
  </main>
  <footer>
    {% include 'partials/bundleresources.njk' %}
    {% include "partials/footernav.njk" %}
  </footer>
</body>
</html>
