<!DOCTYPE html>
<html lang="en"
  data-inputpath="{{ page.inputPath }}"
>
  {% include 'partials/head.njk' %}
<body>

  {% include "partials/header.njk" %}

  <main id="main-content" class="content">
    {% include "partials/searchbox.njk" %}
    {{ content | safe }}
  </main>

  {% include "partials/footer.njk" %}

  {% xray %}

</body>
</html>
