---
layout: default.njk
---
{# only include syntax highlighter CSS on blog posts that have code #}
{% if pageHasCode %}
  {%- css "pageHasCode" %}{% include "css/prism-okaidia.css" %}{% endcss %}
{% endif %}

<article class="post">
  <h1 class="post-title">{{ title }}</h1>
  <p class="post-date">{{ date | formatPostDate }} &middot; {{ content | readingTime }}</p>
  <p class="post-description">{{ description }}</p>
  {{ content | safe }}
  <hr>
  {%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
      <ul class="post-nextprev">
        {%- if previousPost %}<li>Previous post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
        {%- if nextPost %}<li>Next post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
      </ul>
    {%- endif %}
  {%- endif %}
  <p><em>Don't miss an issue. Grab the <a href="https://www.11tybundle.dev/feed.xml">RSS feed</a>. Feedback is welcome; drop me a line at bob dot monsour at gmail.com.</em></p>
</article>
