---
layout: default.njk
---
{# only include syntax highlighter CSS on blog posts that have code #}
{% if pageHasCode %}
  {%- css "pageHasCode" %}{% include "css/prism-okaidia.css" %}{% endcss %}
{% endif %}

{%- if draft == "true" -%}<h1>DRAFT</h1>{%- endif -%}

<article class="post">
  <h1 class="post-title">{{ title }}</h1>
  <p class="post-date">{{ date | formatPostDate }} &middot; {{ content | readingTime }}</p>
  <p class="post-description">{{ description }}</p>
  {{ content | safe }}
  {%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
      <ul class="post-nextprev">
        {%- if previousPost %}<li>Previous post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
        {%- if nextPost %}<li>Next post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
      </ul>
    {%- endif %}
  {%- endif %}
</article>
<script src="https://giscus.app/client.js"
        data-repo="{{site.giscusConfig.repo}}"
        data-repo-id="{{site.giscusConfig.repoId}}"
        data-category="{{site.giscusConfig.category}}"
        data-category-id="{{site.giscusConfig.categoryId}}"
        data-mapping="{{site.giscusConfig.mapping}}"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
