---
layout: "layouts/base.njk"
---
{% css %}
{% include "public/css/channels.css" %}
{% endcss %}
{{ content | safe }}
{% js %}
{% include "public/js/skiplinks.js" %}
{% include "public/js/popovers.js" %}
{% endjs %}