<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | safe }}</title>
  <meta name="description" content="{{ description }}">
	<meta name="keywords" content="{{ keywords }}">
	<meta name="view-transition" content="same-origin" >

  {# Critical: Set theme before any rendering to prevent FOUC #}
  {# lack of type="module" forces immediate execution #}
  <script src="/js/theme.js"></script>

  {# Preload fonts #}
  <link rel="preload" href="/fonts/NimbusMono-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Optima-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Optima-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Optima-ExtraBlack.woff2" as="font" type="font/woff2" crossorigin>

  {# bundle the global css files #}
  {% css "global" %}
    {% include "public/css/fonts.css" %}
    {% include "public/css/variables.css" %}
    {% include "public/css/reset.css" %}
    {% include "public/css/home.css" %}
    {% include "public/css/global.css" %}
    {% include "public/css/site-header.css" %}
    {% include "public/css/site-footer.css" %}
    {% include "public/css/pagefind.css" %}
  {% endcss %}

  {# load the global css file for all pages #}
  <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'global' %}">

  {# bundle the channel-related css files #}
  {% css "channel" %}
    {% include "public/css/channels.css" %}
    {% include "public/css/showcase.css" %}
    {% include "public/css/blog.css" %}
    {% include "public/css/prism-okaidia.css" %}
    {% include "public/css/lite-yt-embed.css" %}
    {% include "public/css/404.css" %}
  {% endcss %}

  {# conditionally load the channel-related css file #}
  {% if channelsPage %}
    <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'channel' %}">
  {%endif %}

  {# Fathom Analytics - only load in production - 2nd line here was for beta #}
  {% if site.env === "production" %}
	  <script src="https://cdn.usefathom.com/script.js" data-site="AHYVTZHH" defer></script>
	  {# <script src="https://cdn.usefathom.com/script.js" data-site="GOQNUYQW" defer></script> #}
  {% endif %}


  {# load the bundles js files #}
    {% js %}
  {% include "public/js/toggle.js" %}
  {% include "public/js/scrollToTop.js" %}
  {% include "public/js/pagefind-ui.js" %}
  {% include "public/js/pagefind-highlight.js" %}
  {% include "public/js/resulthighlight.js" %}
  {% include "public/js/search.js" %}
  {% include "public/js/popovers.js" %}

  {# include prism js on blog posts that have code #}
  {% if pageHasCode %}
    {% include "public/js/prism.min.js" %}
  {% endif %}

  {# include lite youtube embed on blog posts that have a YouTube ID #}
  {% if youtubeId %}
    {% include "public/js/lite-yt-embed.js" %}
  {% endif %}
  {% endjs %}
  <script type="module" src="{% getBundleFileUrl "js" %}"></script>


  {# Improve RSS feed visibility #}
	<link rel="alternate" href="/feed.xml" title="RSS feed for the blog of the 11ty Bundle" type="application/rss+xml">
	<link rel="alternate" href="/firehosefeed.xml" title="RSS feed for the Firehose of the 11ty Bundle" type="application/rss+xml">
	<link rel="alternate" href="/sitesfeed.xml" title="RSS feed for the Sites of the 11ty Bundle" type="application/rss+xml">
	<link rel="alternate" href="/releasefeed.xml" title="RSS feed for the Releases of the 11ty Bundle" type="application/rss+xml">

	{# favicon settings #}
  <link rel="icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

  {# Open Graph tags #}
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description }}">
	<meta property="og:url" content="{{ page.url }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/img/opengraph-image.jpg">
	<meta property="og:image:alt" content="a cute illustration of the 11ty Bundle websiet">

  {# Apple tags #}
	<meta name="apple-mobile-web-app-title" content="11ty Bundle" >
	<meta name="application-name" content="11ty Bundle" >

	<meta name="generator" content="{{ eleventy.generator }}">
	<meta name="fediverse:creator" content="@bobmonsour@indieweb.social" />


</head>
<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
  {%- include "partials/site-header.njk" -%}
  <main id="main" class="site-main">
  {{ content | safe }}
  </main>
  {%- include "partials/site-footer.njk" -%}
  {% include "partials/icons.njk" %}
</body>
</html>
