<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | safe }}</title>
  <meta name="description" content="{{ description }}">
	<meta name="keywords" content="{{ keywords }}">
	<meta name="view-transition" content="same-origin" >

  {# Critical: Set theme before any rendering to prevent FOUC #}
  {# lack of type="module" forces immediate execution #}
  <script src="/js/theme.js"></script>

  {# Preload fonts #}
  <link rel="preload" href="/fonts/NimbusMono-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Optima-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Optima-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Optima-ExtraBlack.woff2" as="font" type="font/woff2" crossorigin>

  {# load the global css file for all pages #}
  <link rel="stylesheet" href="/css/global-{{ 'css' | getBundleTimestamp }}.css">

  {# conditionally load the channel-related css file #}
  {% if channelsPage %}
    <link rel="stylesheet" href="/css/channel-{{ 'css' | getBundleTimestamp }}.css">
  {%endif %}

	<script src="https://cdn.usefathom.com/script.js" data-site="AHYVTZHH" defer></script>

  <script type="module" src="/js/global-{{ 'js' | getBundleTimestamp }}.js"></script>

  {# include prism & lite-yt-embed on blog posts that have code or youtube embeds #}
  {% if pageHasCode or youtubeId %}
    <script type="module" src="/js/blog-{{ 'js' | getBundleTimestamp }}.js"></script>
  {% endif %}

  {% if bodyClass == "insights" %}
    <link rel="stylesheet" href="/css/uncharted.css">
  {% endif %}



  {# Improve RSS feed visibility #}
	<link rel="alternate" href="/feed.xml" title="RSS feed for the blog of the 11ty Bundle" type="application/rss+xml">
	<link rel="alternate" href="/firehosefeed.xml" title="RSS feed for the Firehose of the 11ty Bundle" type="application/rss+xml">
	<link rel="alternate" href="/sitesfeed.xml" title="RSS feed for the Sites of the 11ty Bundle" type="application/rss+xml">
	<link rel="alternate" href="/releasefeed.xml" title="RSS feed for the Releases of the 11ty Bundle" type="application/rss+xml">

	{# favicon settings #}
  <link rel="icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

  {# Open Graph tags #}
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description }}">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ site.url }}{% if ogImage %}{{ ogImage }}{% else %}/img/opengraph-image.jpg"{% endif %}>
	<meta property="og:image:alt" content="{% if ogImageAlt %}{{ ogImageAlt }}{% else %}a cute illustration of the 11ty Bundle website{% endif %}">

  {# Apple tags #}
	<meta name="apple-mobile-web-app-title" content="11ty Bundle" >
	<meta name="application-name" content="11ty Bundle" >

	<meta name="generator" content="{{ eleventy.generator }}">
	{# <meta name="fediverse:creator" content="@bobmonsour@indieweb.social" /> #}


</head>
<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
  {%- include "partials/site-header.njk" -%}
  <main id="main" class="site-main">
  {{ content | safe }}
  </main>
  {%- include "partials/site-footer.njk" -%}
  {% include "partials/icons.njk" %}
</body>
</html>
