---
layout: "section.njk"
templateEngineOverride: njk,md
---
{% css %}
{% include "public/css/blog.css" %}
{# only include prism CSS on blog posts that have code #}
{% if pageHasCode %}
  {% include "public/css/prism-okaidia.css" %}
{% endif %}
{# only include lite-youtube-embed CSS on blog posts that YouTube embeds #}
{% if youtubeId %}
  {% include "public/css/lite-yt-embed.css" %}
{% endif %}
{% endcss %}
{% include "partials/blog-header.njk" %}
<div class="section" data-page-find-body>
  <div class="post__layout container">
    <dl class="calendar">
      <dt>Issue</dt>
      <dd>{{ bundleIssue }}</dd>
    </dl>

    <div class="prose">
      <h1 class="post__title">{{ title }}</h1>
      {% set releases = bundledata.releaseList | getBundleItems(bundleIssue, "release") %}
      {% set posts = bundledata.firehose | getBundleItems(bundleIssue, "blog post") %}
      {% set sites = bundledata.siteList | getBundleItems(bundleIssue, "site") %}
      <p class="meta"><time datetime="{{ date | formatYMD }}">{{ date | formatPostDate }}</time>{% if releases.length > 0 %} &middot; <a href="#ql-releases">{{ releases.length | countLabel("release")}}</a>{% endif %}{% if posts.length > 0 %} &middot; <a href="#ql-posts">{{ posts.length | countLabel("post") }}</a>{% endif %}{% if sites.length > 0 %} &middot; <a href="#ql-sites">{{ sites.length | countLabel("site") }}</a>{% endif %}</p>
      <p>An email version of this blog is available. <a href="#newsletter"><Strong>Subscribe here.</Strong></a></p>
      {{ content | safe }}
    </div>

    <aside data-pagefind-ignore="all">
      <hr>
      <h2 id="ql-releases" class="h3">Recent releases <data class="count" value="{{ releases.length }}">{{ releases.length }}</data></h2>
      <div class="directory__grid">
      	{% if releases.length == 0 %}
          <p>No releases since last issue.</p>
        {% else %}
	      {%- for item in releases %}
          <div class="directory__card directory--detail">
            <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-github"></use>
            </svg>
            <a href="{{ item.Link }}">{{ item.Title }}</a>
            <div class="details">
              <p>{{ item.description | safe }}</p>
              <time datetime="{{ item.formattedDate | formatYMD }}">{{ item.formattedDate }}</time>
            </div>
          </div>
      	{%- endfor -%}
        {% endif %}
      </div>

      <hr>
      <h2 id="ql-posts" class="h3">Posts from around the web <data class="count" value="{{ posts.length }}">{{ posts.length }}</data></h2>
      <div class="directory__grid">
        {%- for item in posts %}
          <div class="directory__card directory--detail">
            {{ item.favicon | safe }}<a href="{{ item.Link }}">{{ item.Title }}</a>
            <div class="details">
              <time datetime="{{ item.Date | formatYMD}}">{{ item.formattedDate }}</time>
              {%- set authorRecord = bundledata.authors | getAuthorRecord(item.Author) -%}
              <p>By <a href="/authors/{{ item.slugifiedAuthor }}">{{ item.Author }}</a> ({{ authorRecord.count | countLabel("post") }})</p>
              <ul role="list" class="author-links">
                {{ authorRecord.origin | getAuthorIcons | safe }}
              </ul>
              <div class="categories-list">
                <strong>Categories</strong>
                <ul role="list">
                  {% for category in item.Categories %}
                    <li><a href="/categories/{{ category | slugify }}/">{{ category }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>

      <hr>
      <h2 id="ql-sites" class="h3">Built with Eleventy <data class="count" value="{{ sites.length }}">{{ sites.length }}</data></h2>
      <div class="directory__grid">
        {%- for item in sites %}
          <div class="directory__card directory--detail">
            {{ item.favicon | safe}}<a href="{{ item.Link }}">{{ item.Title }}</a>
            <div class="details">
              <p>{{ item.description | safe }}</p>
              <ul role="list" class="author-links">
                {{ item.Link | getAuthorIcons | safe }}
              </ul>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </aside>

    <nav>
      {%- set previousPost = collections.post | getPreviousCollectionItem %}
      {%- set nextPost = collections.post | getNextCollectionItem %}
      {%- if nextPost or previousPost %}
        <ol role="list" class="pagination">
          {%- if previousPost %}<li><a href="{{ previousPost.url }}" class="button"><svg width="20" height="20"
              viewBox="0 0 24 24" aria-hidden="true">
              <use xlink:href="#icon-arrow-left"></use>
            </svg> Issue {{ bundleIssue - 1 }}</a></li>{% endif %}
          {%- if nextPost %}<li><a href="{{ nextPost.url }}" class="button"> Issue {{ bundleIssue + 1 }}<svg width="20" height="20"
              viewBox="0 0 24 24" aria-hidden="true">
              <use xlink:href="#icon-arrow-right"></use>
            </svg></a></li>{% endif %}
        </ol>
      {%- endif %}
    </nav>

  </div>
</div>
