---
layout: "section.njk"
---
{% css %}
{% include "public/css/blog.css" %}
{# only include prism CSS on blog posts that have code #}
{% if pageHasCode %}
  {% include "public/css/prism-okaidia.css" %}
{% endif %}
{# only include lite-youtube-embed CSS on blog posts that YouTube embeds #}
{% if youtubeId %}
  {% include "public/css/lite-yt-embed.css" %}
{% endif %}
{% endcss %}
{% include "partials/blog-header.njk" %}
<p>Page fileSlug is: {{ page.fileSlug }}</p>
<div class="section">
  <div class="post__layout container">
    <dl class="calendar">
      <dt>Issue</dt>
      <dd>{{ bundleIssue }}</dd>
    </dl>

    <div class="prose">
      <h1 class="post__title">{{ title }}</h1>
      <p class="meta"><time datetime="{{ date }}">{{ date | formatPostDate }}</time> ~ {{ content | readingTime }}</p>
      {{ content | safe }}
    </div>
    <aside>

      <h2 class="h3">Recent releases</h2>
      <div class="directory__grid">
        {% set releaseItems = bundledata.releaseList | getBundleItems(bundleIssue, "release") %}
      	{% if releaseItems.length === 0 %}
          <p>No new releases since the last issue.</p>
        {% else %}
	      {%- for item in releaseItems %}
          <div class="directory__card directory--detail">
            <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-github"></use>
            </svg>
            <a href="{{ item.Link }}">{{ item.Title }}</a>
            <div class="details">
              <p>{{ item.description }}</p>
              <time datetime="{{ item.formattedDate }}">{{ item.formattedDate }}</time>
            </div>
          </div>
      	{%- endfor -%}
        {% endif %}
      </div>

      <h2 class="h3">Posts from around the web</h2>
      <div class="directory__grid">
        {%- for item in bundledata.firehose | getBundleItems(bundleIssue, "blog post") %}
          <div class="directory__card directory--detail">
            {{ item.favicon | safe }}<a href="{{ item.Link }}">{{ item.Title }}</a>
            <div class="details">
              <time datetime="{{ item.Date }}">{{ item.formattedDate }}</time>
              {%- set authorRecord = bundledata.authors | getAuthorRecord(item.Author) -%}
              <p>By <a href="/authors/{{ item.slugifiedAuthor }}">{{ item.Author }}</a> ({{ authorRecord.count | postCountLabel }})</p>
              <ul role="list" class="author-links">
                {{ authorRecord.origin | getAuthorIcons | safe }}
              </ul>
              <div class="categories-list">
                <strong>Categories</strong>
                <ul role="list">
                  {% for category in item.Categories %}
                    <li><a href="/categories/{{ category | slugify }}/">{{ category }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>

      <h2 class="h3">Built with Eleventy</h2>
      <div class="directory__grid">
        {%- for item in bundledata.siteList | getBundleItems(bundleIssue, "site") %}
          <div class="directory__card directory--detail">
            {{ item.favicon | safe}}<a href="{{ item.Link }}">{{ item.Title }}</a>
            <div class="details">
              <p>{{ item.description | safe }}</p>
              <ul role="list" class="author-links">
                {{ item.Link | getAuthorIcons | safe }}
              </ul>
            </div>
          </div>
        {%- endfor -%}
      </div>



    </aside>
    {% for entry in collections.posts %}
    {% if entry.url == page.url %}
    <nav>
      <ol role="list" class="pagination">
        {% if not loop.first %}
        <li>
          <a href="{{ collections.posts[loop.index0 - 1].url }}" class="button"><svg width="20" height="20"
              viewBox="0 0 24 24" aria-hidden="true">
              <use xlink:href="#icon-arrow-left"></use>
            </svg> Previous</a>
        </li>
        {% endif %}

        {% if not loop.last %}
        <li>
          <a href="{{ collections.posts[loop.index0 + 1].url }}" class="button">Next <svg width="20" height="20"
              viewBox="0 0 24 24" aria-hidden="true">
              <use xlink:href="#icon-arrow-right"></use>
            </svg></a>
        </li>
        {% endif %}
      </ol>
    </nav>
    {% endif %}
    {% endfor %}
  </div>
</div>
