---js
{
	eleventyComputed: {
		layout: null,
    eleventyExcludeFromCollections: true,
		permalink: "/js/blog-{{ 'js' | getBundleTimestamp }}.js",
  }
}
---
{# bundle the blog js files #}
{% js "blog" %}
  {% include "public/js/prism.min.js" %}
  {% include "public/js/lite-yt-embed.js" %}
{% endjs %}
{% getBundle "js", "blog" %}
