---
layout: null
eleventyExcludeFromCollections: true
eleventyComputed:
  permalink: "/js/global-{{ 'js' | getBundleTimestamp }}.js"
---
{# bundle the global js files #}
{% js "global" %}
  {% include "public/js/toggle.js" %}
  {% include "public/js/scrollToTop.js" %}
  {% include "public/js/search.js" %}
  {% include "public/js/popovers.js" %}
{% endjs %}
{% getBundle "js", "global" %}
