---
layout: null
eleventyExcludeFromCollections: true
eleventyComputed:
  permalink: "/css/global-{{ 'css' | getBundleTimestamp }}.css"
---
{# bundle the global css files #}
{% css "global" %}
  {% include "public/css/fonts.css" %}
  {% include "public/css/variables.css" %}
  {% include "public/css/reset.css" %}
  {% include "public/css/home.css" %}
  {% include "public/css/global.css" %}
  {% include "public/css/site-header.css" %}
  {% include "public/css/site-footer.css" %}
  {% include "public/css/pagefind.css" %}
  {% include "public/css/404.css" %}
{% endcss %}
{% getBundle "css", "global" %}
