{% css %}
{% include "public/css/showcase.css" %}
{% endcss %}
<header class="main-header">
  <div class="container">
    <!-- <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
      <use xlink:href="#icon-person-circle"></use>
    </svg> -->
    <img src="/img/showcase/damianwalsh-co-uk.ico" class="favicon" alt="" eleventy:ignore>
    <h1>Damian Walsh</h1>

    <div class="details">
      <p>Designer (Interaction/UX/UI) based in Manchester, UK</p>
      {%- include "partials/author-links.njk" -%}
    </div>

    <nav>
      <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#icon-eleventy"></use>
      </svg>
      <a href="https://www.11ty.dev/speedlify/">Leaderboard</a>
    </nav>
  </div>
</header>

<div class="section">
  <div class="container flow">
    <a href="/showcase" class="button">
      <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#icon-arrow-left"></use>
      </svg> Back to the showcase
    </a>

    <figure class="showcase__card">
      <img
        src="./img/damianwalsh-co-uk.png"
        height="1080"
        sizes="(min-width: 1920px) 1920px, 100vw"
        alt=""
        eleventy:widths="640,1366,1920"
        >
      <figcaption>
        <a href="https://damianwalsh.co.uk">damianwalsh.co.uk</a>
      </figcaption>
    </figure>

    <nav>
      <ol role="list" class="pagination">
        <li>
          <a href="" class="button"><svg width="20" height="20"
              viewBox="0 0 24 24" aria-hidden="true">
              <use xlink:href="#icon-arrow-left"></use>
            </svg> Previous</a>
        </li>
        <li>
          <a href="" class="button">Next <svg width="20" height="20"
              viewBox="0 0 24 24" aria-hidden="true">
              <use xlink:href="#icon-arrow-right"></use>
            </svg></a>
        </li>
      </ol>
    </nav>
  </div>
</div>