---
title: 11ty Showcase
description: "A showcase of websites built with the Eleventy static site generator."
permalink: /showcase/
---
<header class="main-header">
  <div class="container">
    <h1>Showcase <data class="count" value="{{ showcasedata.siteCount }}">{{ showcasedata.siteCount | singleComma }}</data></h1>
    <nav>
      <ul role="list">
        <li><a href="/showcase" class="current">Sites</a></li>
        <li><a href="/showcasefeed.json">RSS</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="section" data-pagefind-ignore="all">
  <div class="showcase__grid">
    {% for site in showcasedata.sites %}
        <figure class="showcase__card showcase--category">
          <img
            src="{{ site.screenshotpath }}"
            height="1080"
            sizes="(min-width: 768px) 480px, 100vw"
            alt="Screenshot of {{ site.title | safe }}"
            eleventy:widths="640,1280,1920"
            {% if loop.index < 6 %}loading="eager"{% else %}loading="lazy"{% endif %}
            >
          <figcaption>
            {{ site.favicon | genFaviconHtml(1) | safe }}
            <a href="/showcase/{{ site.link | getHostname | slugify }}">{{ site.link }}</a>
              <div class="details visually-hidden">
                {% if site.description %}
                    <p>{{ site.description | truncate(180) | safe }}</p>
                {% else %}
                    <p>{{ site.title | safe }}</p>
                {% endif %}
              </div>
          </figcaption>
        </figure>
    {% endfor %}
  </div>
</div>
