---
title: Archives of Bob Monsour's Personal Site
description: These are the archives of the personal website of Bob Monsour.
keywords: retired, web development, eleventy, tennis, archives
image:
  source: "11ty-bundle-dev.jpg"
  alt: "an address plate for house number 11"
permalink: /archive/
---

{% set postlist = collections.posts | reverse %}
{% include "postlist.njk" %}
