---
title: Archives of Bob Monsour's Personal Site
description: These are the archives of the personal website of Bob Monsour.
keywords: retired, web development, eleventy, tennis, archives
image:
  source: "young-bob.jpg"
  alt: "a picture of Bob's face as a boy"
permalink: /archive/
---

{% set postlist = collections.posts | reverse %}
{% include "postlist.njk" %}
