---
eleventyComputed:
  title: "{{ bundledata.authorCount }} Authors"
  description: "A list of ({{ bundledata.authorCount }}) authors"
permalink: /authors/
---

<h1>{{ title }} by count <span class="reduced-to-md">(<a href="/authors-by-name/">by name</a>)</span></h1>
<div class="allauthors-list">
  <div class="authorslist">
    {% set whichAuthors = "authorsByCount"%}
    {% include "partials/authorloop.njk" %}
  </div>
</div>
