---
layout: default.njk
permalink: /authors/
description: A list of all of the blog post authors
keywords: authors, 11ty Bundle, 11ty, eleventy
image:
  source: "young-bob.jpg"
  alt: "a picture of Bob's face as a boy"
eleventyExcludeFromCollections: true
---
<div class="allcategories-list">
<h2>11ty Bundle Blog Post Authors</h2>
  <ul>
    {% for author in airtableitems | getBundleAuthors %}
      {% set authorUrl %}/authors/{{ author | slugify }}/{% endset %}
      <li><a href="{{ authorUrl}}">{{ author }}</a></li>
    {% endfor %}
  </ul>
</div>
