---js
{
  eleventyComputed: {
    title: "Posts by {{ author }}",
    description: "Posts in the 11ty Bundle written by {{ author }}",
    permalink: "/authors/{{ author | slugify }}/",
    keywords: "authors, {{ author }}, 11ty Bundle, 11ty, eleventy, blog posts",
  },
  pagination:  {
    data: "bundledata.authors",
    size: 1,
    alias: "author",
    addAllPagesToCollections: "true",
    before: function(data) {
      return Array.from(data, (row) => row[0]);
    }
  },
  image: {
    source: "11tybundle-dev.jpg",
    alt: "an address plate for house number 11"
  }
}
---

<h1>{{ title }}</h1>

<div class="bundleposts">
  {% for item in bundledata.bundleRecords | postsByAuthor(author) %}
  <div class="bundleitem">
    <p class="bundleitem-title"><a href="{{ item.Link }}" target="_blank">{{ item.Title }}</a></p>
    <p class="bundleitem-description">{{ item.Link | getDescription | truncate(100) }}</p>
    <p class="bundleitem-dateline">{% if item.Author %}<a href="/authors/{{ item.Author | slugify }}/">{{ item.Author }}</a>{% endif %}{% if item.Date %} &middot; {{ item.Date | formatItemDate }}{% endif %}</p>
    <p class="bundleitem-categories">Categories: {% for category in item.Categories  | sort %}<a href="/categories/{{category | slugify }}/">{{ category }}</a>&nbsp;&nbsp;{% endfor %}</p>
  </div>
  {% endfor %}
</div>
