---
eleventyComputed:
  title: "{{ bundledata.authorCount }} Authors"
  description: "A list of ({{ bundledata.authorCount }}) authors"
permalink: /authors-by-name/
---

<h1>{{ title }} by name <span class="reduced-to-md">(<a href="/authors/">by count</a>)</span></h1>
<div class="allauthors-list">
  <div class="categorieslist">
      {% for author in bundledata.authors %}
        {% set authorUrl %}/authors/{{ author[0] | slugify }}/{% endset %}
        <div class="onecategory">
          <a href="{{authorUrl}}" class="onecattitle">{{ author[0] }} <span class="reduced-to-base">({{ author[1] }})</span></a>
          <ul class="recentcatitems">
            {% for item in bundledata.bundleRecords | postsByAuthor(author[0], 3) %}
              <li><a href="{{ item.Link }}" data-link-type="external">{{ item.Title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
</div>
