---
eleventyComputed:
  title: "{{ bundledata.authorCount }} Authors"
  description: "A list of ({{ bundledata.authorCount }}) of the post authors"
permalink: /authors-by-count/
---

<h1>{{ title }} (<a href="/authors/">sort by name</a>)</h1>
<div class="allauthors-list">
  <ul class="authorslist">
    {% for author in bundledata.authorsByCount %}
      {% set authorUrl %}/authors/{{ author[0] | slugify }}/{% endset %}
      <li><a href="{{authorUrl}}">{{ author[0] }} ({{ author[1] }})</a></li>
    {% endfor %}
  </ul>
</div>
