---
layout: default.njk
title: Blog Post Categories
permalink: /categories/
description: A list of all tags used on this site
keywords: categories, 11ty Bundle, 11ty, eleventy
image:
  source: "11tybundle-dev.jpg"
  alt: "an address plate for house number 11"
eleventyExcludeFromCollections: true
---

<div class="allcategories-list">
<h2>{{ title }}</h2>
  <ul class="categorieslist">
    {% for category in airtableitems | getCategoriesAndCounts %}
      {% set categoryUrl %}/categories/{{ category[0] | slugify }}/{% endset %}
      <li><a href="{{categoryUrl}}">{{ category[0] }} ({{ category[1] }})</a></li>
    {% endfor %}
  </ul>
</div>
