---
eleventyComputed:
  title: "{{ bundledata.categoryCount }} Categories"
  description: "A list of {{ bundledata.categoryCount }} categories"
permalink: /categories/
---

<h1>{{ title }} by name <span class="reduced-to-md">(<a href="/categories-by-count/">by count</a>)</span></h1>
<div class="allcategories-list">
	<div class="categorieslist">
    {% set whichCategories = "categories"%}
    {% include "partials/categoryloop.njk" %}
	</div>
</div>
