---
eleventyComputed:
  title: "{{ bundledata.categoryCount }} Categories"
  description: "A list of ({{ bundledata.categoryCount }}) of the post categories"
permalink: /categories-by-count/
---

<h1>{{ title }} <span class="reduced-to-md">(<a href="/categories/">by category</a>)</span></h1>
<div class="allcategories-list">
  <ul class="categorieslist">
    {% for category in bundledata.categoriesByCount %}
      {% set categoryUrl %}/categories/{{ category[0] | slugify }}/{% endset %}
      <li><a href="{{categoryUrl}}">{{ category[0] }} <span class="reduced-to-base">({{ category[1] }})</span></a></li>
    {% endfor %}
  </ul>
</div>
