---js
{
  eleventyComputed: {
    title: "{{ category[1] }} posts in '{{ category[0] }}'",
    description: "Posts in the 11ty Bundle with the category: {{ category[0] }}",
    permalink: "/categories/{{ category[0] | slugify }}/",
    keywords: "categories, {{ category[0] }}, 11ty Bundle, 11ty, eleventy, blog posts",
  },
  pagination:  {
    data: "bundledata.categories",
    size: 1,
    alias: "category",
    addAllPagesToCollections: "true"
  },
  image: {
    source: "11tybundle-dev.jpg",
    alt: "an address plate for house number 11"
  }
}
---
{% from "macros.njk" import itemTitle, itemDateline %}

{% if linkstodocs[category[0]] %}
<h2>Official 11ty docs</h2>
<div class="officialdocs">
  <p class="bundleitem-title"><a href="{{ linkstodocs[category[0]] }}" target="_blank">{{ category[0] }}</a></p>
  <p class="bundleitem-description">{{ linkstodocs[category[0]] | getDescription | truncate(100) }}</p>
  {%- if category[0] == "Deployment" %}
  <p class="bundleitem-description">See the <a href="https://www.11ty.dev/docs/deployment/#providers" target="_blank">list of providers on the 11ty docs site.</a></p>
  {%- endif %}
</div>
{% endif %}


<h1>{{ title }}</h1>

<div class="bundleposts">
  {% for item in bundledata.bundleRecords | postsInCategory(category[0]) %}
  <div class="bundleitem">
    {{ itemTitle(item.Title, item.Link, item.id, item.Type) }}
    <p class="bundleitem-description">{{ item.Link | getDescription | truncate(100) }}</p>
    {{ itemDateline(item.Author, item.Date) }}
    <p class="bundleitem-categories">Categories: {% for category in item.Categories  | sort %}<a href="/categories/{{category | slugify }}/">{{ category }}</a>&nbsp;&nbsp;{% endfor %}</p>
  </div>
  {% endfor %}
</div>
