---
eleventyComputed:
  title: "{{ bundledata.categoryCount }} Categories"
  description: A list of {{ bundledata.categoryCount }} post categories
permalink: /categories/
---

<h1>{{ title }}</h1>
<div class="allcategories-list">
  <ul class="categorieslist">
    {% for category in bundledata.categories %}
      {% set categoryUrl %}/categories/{{ category[0] | slugify }}/{% endset %}
      <li><a href="{{categoryUrl}}">{{ category[0] }} ({{ category[1] }})</a></li
    {% endfor %}
  </ul>
</div>
