---
title: Get in touch
description: Here's a simple form you can use to reach out to me.
keywords: contact, Bob Monsour, get in touch
image:
  source: "11tybundle-dev.jpg"
  alt: "an address plate for house number 11"
permalink: /contact/
eleventyExcludeFromCollections: true
---
<h1>{{ title }}</h1>

<h2>If you ask a question or request a response, I'll get back to you.</h2>

<div class="contact">
  <form
    id="contact"
    name="Message via 11tybundle.dev"
    action="/form-success/"
    method="POST"
    data-netlify="true"
    netlify-honeypot="bot-field"
  >
    <label for="name">Your name</label>
    <input type="text" name="name" id="name" tabindex="0" required />
    <input class="other-form-field" name="bot-field" type="text" />

    <label for="email">Your email address</label>
    <input type="email" name="email" id="email" tabindex="0" required />

    <label for="subject">The subject of your message</label>
    <input type="text" name="subject" id="subject" tabindex="0" required />

    <label for="message">Your message</label>
    <textarea name="message" id="message" tabindex="0" required></textarea>

    <button
      name="submit"
      type="submit"
      id="contact-submit"
      tabindex="0"
      data-submit="...Sending"
    >
      Send
    </button>
  </form>
</div>
