---
eleventyComputed:
  title: "{{ bundledata.postCount }} Blog Posts (by year)"
  description: "A list of {{ bundledata.postCount }} blog posts by year"
permalink: /firehose/
---
{% from "macros.njk" import itemTitle, itemDateline %}

<h1>{{ title }}</h1>
<h3>The Firehose has it's own <a href="/firehosefeed.xml">RSS feed</a>!</h3>
<div class="bundleposts">
  {% set prev_year = "" %}
  {% for item in bundledata.firehose %}
    {% set year = item.Date | truncate(4, true, '') %}
    {% if item.Date and year != prev_year %}
      {% if prev_year != "" %}
        </details>
      {% endif %}
      <details open>
      <summary>{{ year }}</summary>
    {% endif %}
    {% set prev_year = year %}
    <div class="bundleitem">
      {{ itemTitle(item.Title, item.Link, item.id, item.Type) }}
      <p class="bundleitem-description">{{ item.Link | getDescription | truncate(100) }}</p>
      {{ itemDateline(item.Author, item.Date) }}
      <p class="bundleitem-categories">Categories: {% for category in item.Categories  | sort %}<a href="/categories/{{category | slugify }}/">{{ category }}</a>&nbsp;&nbsp;{% endfor %}</p>
    </div>
  {% endfor %}
</div>
