---
title: "The 11ty Bundle"
description: "A bundle of Eleventy releases, blog posts, sites, and resources. Over 1,100 posts from more than 350 authors across more than 45 categories."
permalink: "/"
---

<div class="flow">
	<h1>Bundles of <a href="https://11ty.dev">11ty</a> know-how</h1>

	<p>Welcome! Learn how others are making the most of <a href="https://11ty.dev">11ty</a>, an exceptionally simple, flexible, and performant, open-source static site generator.</p>

	<div class="bundleitem flow">
		{% set latestPost = collections.posts | last %}
		<p>The latest from the blog...</p>
		<h2 class="bundleitem-title"><a href="{{ latestPost.url }}">{{ latestPost.data.title }}</a></h2>
		<p class="bundleitem-date">{{ latestPost.date | formatPostDate }} &middot; {{ latestPost.content | readingTime }}</p>
	</div>

	<div class="home-grid">
		<div class="home-groups flow">
      <div class="home-groups-header">
			  <p>From the firehose</p>
        <a class="feedlink" href="/firehosefeed.xml"><img src="/assets/img/rss.svg" alt="rss icon"></a>
      </div>
      {%- set recent = bundledata.firehose.slice(0,11) -%}
      {%- for item in recent -%}
        <div class="home-items">
          {{ item.Link | getFavicon | safe}}
          <a href="{{ item.Link }}">{{ item.Title }}</a>
        </div>
      {% endfor %}
		</div>
		<div class="home-groups flow">
			<div class="home-groups-header">
        <p>Recent sites</p>
        <a class="feedlink" href="/sitesfeed.xml"><img src="/assets/img/rss.svg" alt="rss icon"></a>
      </div>
      {%- set recent = bundledata.siteList.slice(0,11) -%}
      {%- for item in recent -%}
        <div class="home-items">
          {{ item.Link | getFavicon | safe}}
          <a href="{{ item.Link }}">{{ item.Title }}</a>
        </div>
      {% endfor %}
		</div>
		<div class="home-groups flow">
		  <div class="home-groups-header">
        <p>Recent releases</p>
        <a class="feedlink" href="/releasefeed.xml"><img src="/assets/img/rss.svg" alt="rss icon"></a>
      </div>
      {%- set recent = bundledata.releaseList.slice(0,11) -%}
      {%- for item in recent -%}
        <div class="home-items">
          {{ item.Link | getFavicon | safe}}
          <a href="{{ item.Link }}">{{ item.Title }}</a>
        </div>
      {% endfor %}
		</div>
	</div>

	<p>And yes, there are exactly 11 of each of those releases, firehose items, and sites in the boxes above...in case you were wondering.</p>


	<p>There are two RSS feeds, <a href="/feed.xml" rel="alternate" title="The Blog of The 11ty Bundle" type="application/rss+xml">one for the 11tybundle.dev blog posts</a> and <a href="/firehosefeed.xml" rel="alternate" title="The Firehose of The 11ty Bundle" type="application/rss+xml">one for the Firehose</a> with each post that has been collected and added to the collection of categorized posts.</p>
</div>
<a rel="me" href="https://indieweb.social/@bobmonsour" style="display: none">Mastodon</a>
