---
title: The 11ty Bundle
description: A bundle of Eleventy releases, blog posts, sites, and resources. Over 500 posts from more than 200 authors.
keywords: eleventy, 11ty, newsletter, roundup, news
image:
  source: "11tybundle-dev.jpg"
  alt: "an address plate for house number 11"
permalink: /index.html
---

<div class="site-intro">
<p>Welcome! Here you'll find a collection of Eleventy resources, including over 500 blog posts across more than 30 <a href="/categories/">categories</a> written by more than 200 <a href="/authors/">authors</a> to help you get the most out of what we believe to be the best static site generator.</p>

<p>And in each issue of the <a href="/blog/">11ty Bundle</a>, you'll find a curated collection of the latest Eleventy releases, blog posts, sites, and resources.</p>

<p>There are two RSS feeds, <a href="/feed.xml">one for the 11tybundle.dev blog posts</a> and <a href="/firehosefeed.xml">one for the Firehose</a> with each post that has been collected and added to the collection of categorized posts.</p>
</div>

<a rel="me" href="https://indieweb.social/@bobmonsour" style="display: none">Mastodon</a>
