---
title: Post Graph
description: A GitHub style graph of my blogging history
keywords: statistics, graphic, GitHub, blogging
permalink: /blog/post-graph/
---
<h1>{{ title }}</h1>
<div class="aux-links">
	<a href="/blog/">Back to the blog</a>
</div>
<div>
{% postGraph collections.posts %}
</div>
