---
title: 11ty Bundle Redesign Survey
description: Complete the survey with your input to the redesign of the 11ty Bundle website.
keywords: redesign, survey
permalink: /redesign-survey/
---
<h1>{{ title }}</h1>

<p>We're undertaking a redesign of this here 11ty Bundle website and we'd love to get your input. Please consider completing this <strong>really short</strong> survey with your thoughts. Thank you!</p>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfef-ekQaPHSRnIQY8iUn-fmR79P1BXep-j2jPM3RKCDEcDnw/viewform?embedded=true" width="95%" height="2252" frameborder="0" marginheight="0" marginwidth="0" style="margin 0 auto;">Loading…</iframe>
