---
title: Search
description: Search all the posts, their titles, as we;; as the full text of the 11ty Bundle Blog.
keywords: search
permalink: /search/
---
<h1>{{ title }}</h1>

<p>The scope of this search includes <strong>all {{ bundledata.postCount }} post titles and descriptions</strong> within the <strong>{{ bundledata.categoryCount }} categories</strong> as well as the full text of the <strong>{{ collections.posts.length }} issues of the <a href="/blog/">11ty Bundle Blog</a></strong>.</p>
