---
title: Search
description: Search all the posts, their titles, as we;; as the full text of the 11ty Bundle Blog.
keywords: search
permalink: /search/
stylelink: /pagefind/pagefind-ui.css
---
<h1>{{ title }}</h1>

<p>The scope of this search includes all {{ bundledata.postCount }} post titles and descriptions within the {{ bundledata.categoryCount }} categories as well as the full text of the {{ collections.posts.length }} issues of the <a href="/blog/">11ty Bundle Blog</a>.</p>

<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true, showImages: false, showEmptyFilters: false, showSubResults: true, excerptLength: 100, pageSize: 10 });
    });
</script>
