---
eleventyComputed:
  title: "{{ bundledata.starterCount }} Starter Projects by GitHub Stars"
  description: "A list of {{ bundledata.starterCount }} starter projects for Eleventy"
permalink: /starters-by-stars/
---

<div class="flow">
	<h1>{{ title }} <span class="reduced-to-md">(<a href="/starters/">by Latest Update</a>)</span></h1>

	{% include "partials/starters-intro.njk" %}

	<div class="bundleposts">
		{%- for item in bundledata.startersByStars %}
		<div class="bundleitem">
			<p class="bundleitem-title"><a href="{{ item.Link }}">{{ item.Title }}</a></p>
			<p class="bundleitem-starterinfo">GitHub stars: {{ item.Stars }}</p>
			<p class="bundleitem-starterinfo">Updated: {{ item.LastUpdated }}</p>
			<p class="bundleitem-starterinfo">11ty version: {{ item.Version }}</p>
			{% if item.Demo %}
			<p class="bundleitem-starterinfo"><a href="{{ item.Demo }}">Demo site</a></p>
			{% endif %}
		</div>
		{%- endfor -%}
	</div>
</div>
