---
eleventyComputed:
  title: "{{ bundledata.starterCount }} Starter Projects"
  description: "A list of {{ bundledata.starterCount }} starter projects for Eleventy"
permalink: /starters/
---

<h1>{{ title }}</h1>

<p class="intro">Here's a list of starter projects you can use to jumpstart your use of Eleventy. I've selected these based on recency of updating, traction that they appear to have as subjectively determined by the number of Github stars on their respective repos, and the clarity of their READMEs.</p>

<p>You'll also find links to <strong>eleventy billion</strong> more starter projects <a href="https://www.11ty.dev/docs/starter/" target="_blank">on the 11ty docs site</a>.</p>

<p>And if you're new to Eleventy, you'll find links to more than 30 blog posts in the <a href="/categories/getting-started/">Getting Started</a> section of this site.</p>

{# starters #}
  <div class="bundlestarters">
  {%- for item in bundledata.starters %}
    <p class="bundleitem-title"><a href="{{ item.Link }}" target="_blank">{{ item.Title }}</a></p>
    <p class="bundleitem-description">{{ item.Link | getDescription | truncate(100) }}</p>
  {%- endfor -%}
  </div>
