---
layout: default.njk
permalink: /tags/
description: A list of all tags used on this site
keywords: tags, Bob Monsour, website, 11ty, eleventy, blog
image:
  source: "young-bob.jpg"
  alt: "a picture of Bob's face as a boy"
---
<div class="alltags-list">
<h2>All Tags</h2>
  <ul>
    {% for tag in collections.all | getAllTags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li><a href="{{ tagUrl }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</div>
