---
title: "Bundle insights"
description: "Some data about the ecosystem of web developers building sites with 11ty."
charts:
  entry-growth:
    type: line
    file: entry-growth.csv
    format:
      thousands: true
    dots: false
    injectCss: false
permalink: /insights/
---
<header class="main-header" data-pagefind-body>
  <div class="container">
    <h1 data-pagefind-ignore>Bundle insights</h1>
    <div class="details" data-pagefind-ignore="all">
      <p>{{ insightsdata.generatedDate | formatItemDate }}</p>
    </div>
  </div>
</header>

<div class="section" data-pagefind-ignore="all">
  <div class="container">
    <p class="prose surface-mid">11tybundle.dev is more than just a directory of blog posts, sites, and authors — it's a dataset that offers insights into the community of web developers building sites with 11ty. This page explores the data collected from authors' sites and their blog posts to uncover patterns and areas for improvement.</p>
  </div>
</div>

<div class="section" data-pagefind-ignore="all">
  <div class="container">
    <h2 class="h3">Entry count by type</h2>
    <div class="directory__statsgrid">
      <div class="directory__card directory--stats">
        <h3>{{ insightsdata.missingData.totalAuthors | singleComma }}</h3>
        <p>Authors</p>
      </div>
      <div class="directory__card directory--stats">
        <h3>{{ insightsdata.stats.blogPosts | singleComma }}</h3>
        <p>Blog posts</p>
      </div>
      <div class="directory__card directory--stats">
        <h3>{{ insightsdata.stats.sites | singleComma }}</h3>
        <p>Sites built with 11ty</p>
      </div>
      <div class="directory__card directory--stats">
        <h3>{{ insightsdata.stats.releases | singleComma }}</h3>
        <p>Releases*</p>
      </div>
    </div>
    <div class="footnote">
      <p>*Releases represents a "selected" set of releases of various parts of the <a href="https://github.com/11ty">11ty project</a>. By "selected," I am referring to more developer-facing functionality, such as versions of eleventy itself or things like <a href="https://github.com/11ty/eleventy-img/releases">eleventy-img</a> or <a href="https://github.com/11ty/eleventy-fetch/releases">eleventy-fetch</a>. Among those not "selected" are things like <a href="https://github.com/11ty/eleventy-utils/releases">eleventy-utils</a>.</p>
    </div>
  </div>
</div>

<div class="section">
  <div style="width: 50%; margin: 0 auto;">
    {% chart "entry-growth" %}
  </div>
</div>


<div class="section" data-pagefind-ignore="all">
  <div class="container insights-items-list">
    <details name="insights">
      <summary><h2 class="h3">{{ insightsdata.stats.prolificAuthorCount }} authors with 5+ blog posts</h2></summary>
      <ul role="list">
        {% for author in insightsdata.prolificAuthors %}
          <li><a href="/authors/{{ author.name | slugify }}/">{{ author.name }}</a><span> ({{ author.count }})</span></li>
        {% endfor %}
      </ul>
    </details>
  </div>
</div>

<div class="section" data-pagefind-ignore="all">
  <div class="container">
    <h2 class="h3">Data completeness</h2>
    <div class="directory__statsgrid">
      <div class="directory__card directory--stats">
        <p>RSS feed missing</p>
        <h3>{{ insightsdata.missingData.rssLink.count }}</h3>
        <p>of {{ insightsdata.missingData.totalAuthors | singleComma }} author sites</p>
      </div>
      <div class="directory__card directory--stats">
        <p>favicon missing</p>
        <h3>{{ insightsdata.missingData.favicon.count }}</h3>
        <p>of {{ insightsdata.missingData.totalAuthors | singleComma }} author sites</p>
      </div>
      <div class="directory__card directory--stats">
        <p>site description missing</p>
        <h3>{{ insightsdata.missingData.authorDescription.count }}</h3>
        <p>of {{ insightsdata.missingData.totalAuthors | singleComma }} author sites</p>
      </div>
      <div class="directory__card directory--stats">
        <p>post description missing</p>
        <h3>{{ insightsdata.missingData.blogDescription.count }}</h3>
        <p>of {{ insightsdata.missingData.totalBlogPosts | singleComma }} blog posts</p>
      </div>
    </div>
  </div>

  <div class="container insights-items-list">
    <details class="js-scroll-top" name="insights">
      <summary><h2 class="h3">{{ insightsdata.missingData.rssLink.count }} author sites where I can't find the RSS feed</h2></summary>
      <p class="prose surface-mid">I attempt to examine your site to find an RSS link, but sometimes I can't find it automatically. If you know your site has an RSS feed, perhaps you're not using one of the well-known techniques for exposing it. Here are three blog posts that describe how to do this: <a href="https://chriscoyier.net/2024/01/13/exposed-rss/">Exposed RSS</a> by Chris Coyier, <a href="https://rknight.me/blog/please-expose-your-rss/">Please, Expose your RSS</a> by Robb Knight, and <a href="https://bobmonsour.com/blog/seeking-rss-links-favicons-and-descriptions/">Seeking RSS feeds, favicons, and descriptions</a> by yours truly.</p>
      <ul role="list">
        {% for author in insightsdata.missingData.rssLink.authors %}
          <li><a href="{{ author.site }}/">{{ author.name }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </div>

  <div class="container insights-items-list">
    <details class="js-scroll-top" name="insights">
      <summary><h2 class="h3">{{ insightsdata.missingData.favicon.count }} author sites where I can't find the favicon</h2></summary>
      <p class="prose surface-mid">I attempt to examine your site to find a favicon for your site, but sometimes I can't find it automatically. If you want to know how to add one, here are three blog posts that describe how to do this: <a href="https://equk.co.uk/2023/07/14/favicon-generation-in-eleventy/">Favicon Generation In Eleventy</a> by equilibriumuk, <a href="https://bnijenhuis.nl/notes/adding-a-favicon-in-eleventy/">Adding a favicon in Eleventy</a> by Bernard Nijenhuis, and <a href="https://bobmonsour.com/blog/seeking-rss-links-favicons-and-descriptions/">Seeking RSS feeds, favicons, and descriptions</a> by yours truly.</p>
      <ul role="list">
        {% for author in insightsdata.missingData.favicon.authors %}
          <li><a href="{{ author.site }}/">{{ author.name }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </div>

  <div class="container insights-items-list">
    <details class="js-scroll-top" name="insights">
      <summary><h2 class="h3">{{ insightsdata.missingData.authorDescription.count }} author sites where I can't find the description</h2></summary>
      <p class="prose surface-mid">I attempt to examine your site to find a description, something that tells the reader something about who you are. But sometimes I can't find it automatically. If you want to know how to add one, here are three resources that describe how to do this: <a href="https://learn-eleventy.pages.dev/lesson/17/">Lesson 17: Meta info, RSS feeds and module recap</a>, <a href="https://johnwargo.com/posts/2023/meta-keywords-in-eleventy/">Meta Description and Keywords in Eleventy</a> by John M. Wargo, and <a href="https://bobmonsour.com/blog/seeking-rss-links-favicons-and-descriptions/">Seeking RSS feeds, favicons, and descriptions</a> by yours truly.</p>
      <ul role="list">
        {% for author in insightsdata.missingData.authorDescription.authors %}
          <li><a href="{{ author.site }}/">{{ author.name }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </div>

  <div class="container insights-items-list">
    <details class="js-scroll-top" name="insights">
      <summary><h2 class="h3">{{ insightsdata.missingData.blogDescription.count }} blog posts where I can't find the description</h2></summary>
      <p class="prose surface-mid">I attempt to examine your blog posts to find a description, some words that summarize the content of you blog post. But sometimes I can't find it automatically. If you want to know how to add one, here are three resources that describe how to do this: <a href="https://learn-eleventy.pages.dev/lesson/17/">Lesson 17: Meta info, RSS feeds and module recap</a>, <a href="https://johnwargo.com/posts/2023/meta-keywords-in-eleventy/">Meta Description and Keywords in Eleventy</a> by John M. Wargo, and <a href="https://bobmonsour.com/blog/seeking-rss-links-favicons-and-descriptions/">Seeking RSS links, favicons, and descriptions</a> by yours truly.</p>
      <ul role="list" class="max-two-columns">
        {% for post in insightsdata.missingData.blogDescription.posts %}
          <li><a href="{{ post.link }}">{{ post.title }}</a> by <a href="/authors/{{ post.author | slugify }}">{{ post.author }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </div>
</div>

<script>
  document.addEventListener("toggle", (event) => {
    const details = event.target;
    if (details.matches(".js-scroll-top") && details.open) {
      details.scrollIntoView({ block: "start", behavior: "smooth" });
    }
  }, true);
</script>
