---
title: "Insights"
eleventyComputed:
  description: "Data-driven visualizations about the 11tybundle.dev ecosystem — growth trends, category popularity, author contributions, and data completeness."
permalink: /insights/
---
<header class="main-header" data-pagefind-body>
  <div class="container">
    <h1 data-pagefind-ignore>Bundle insights</h1>
    <div class="details" data-pagefind-ignore="all">
      <p>What's the 11tybundle made of?</p>
      <p>{{ insightsdata.generatedDate | formatItemDate }}</p>
    </div>
  </div>
</header>

<div class="section" data-pagefind-ignore="all">
  <div class="container">
    <h2 class="h3">Entry county by type</h2>
    <div class="directory__statsgrid">
      <div class="directory__card directory--stats">
        <h3>{{ insightsdata.missingData.totalAuthors | singleComma }}</h3>
        <p>Authors</p>
      </div>
      <div class="directory__card directory--stats">
        <h3>{{ insightsdata.stats.blogPosts | singleComma }}</h3>
        <p>Blog posts</p>
      </div>
      <div class="directory__card directory--stats">
        <h3>{{ insightsdata.stats.sites | singleComma }}</h3>
        <p>Sites built with 11ty</p>
      </div>
      <div class="directory__card directory--stats">
        <h3>{{ insightsdata.stats.releases | singleComma }}</h3>
        <p>Releases</p>
      </div>
    </div>
  </div>
</div>

<div class="section surface-mid" data-pagefind-ignore="all">
  <div class="container insights-items-list">
    <details>
      <summary><h2 class="h3">Authors with 6+ blog posts</h2></summary>
      <ul role="list">
        {% for author in insightsdata.prolificAuthors %}
          <li><a href="/authors/{{ author.name | slugify }}/">{{ author.name }}</a><span> ({{ author.count }})</span></li>
        {% endfor %}
      </ul>
    </details>
  </div>
</div>

<div class="section" data-pagefind-ignore="all">
  <div class="container">
    <h2 class="h3">Data completeness</h2>
    <div class="directory__statsgrid">
      <div class="directory__card directory--stats">
        <p>Missing RSS link</p>
        <h3>{{ insightsdata.missingData.rssLink.count }} <span class="percentage">({{ insightsdata.missingData.rssLink.percentage }})%</span></h3>
        <p>of {{ insightsdata.missingData.totalAuthors | singleComma }} author sites</p>
      </div>
      <div class="directory__card directory--stats">
        <p>Missing favicon</p>
        <h3>{{ insightsdata.missingData.favicon.count }} <span class="percentage">({{ insightsdata.missingData.favicon.percentage }})%</span></h3>
        <p>of {{ insightsdata.missingData.totalAuthors | singleComma }} author sites</p>
      </div>
      <div class="directory__card directory--stats">
        <p>Missing description</p>
        <h3>{{ insightsdata.missingData.authorDescription.count }} <span class="percentage">({{ insightsdata.missingData.authorDescription.percentage }})%</span></h3>
        <p>of {{ insightsdata.missingData.totalAuthors | singleComma }} author sites</p>
      </div>
      <div class="directory__card directory--stats">
        <p>Missing description</p>
        <h3>{{ insightsdata.missingData.blogDescription.count }} <span class="percentage">({{ insightsdata.missingData.blogDescription.percentage }})%</span></h3>
        <p>of {{ insightsdata.missingData.totalBlogPosts | singleComma }} blog posts</p>
      </div>
    </div>
  </div>
</div>

<div class="section surface-mid" data-pagefind-ignore="all">
  <div class="container insights-items-list">
    <details>
      <summary><h2 class="h3">{{ insightsdata.missingData.rssLink.count }} author sites missing RSS links</h2></summary>
      <ul role="list">
        {% for author in insightsdata.missingData.rssLink.authors %}
          <li><a href="{{ author.site }}/">{{ author.name }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </div>
</div>

<div class="section" data-pagefind-ignore="all">
  <div class="container insights-items-list">
    <details>
      <summary><h2 class="h3">{{ insightsdata.missingData.favicon.count }} author sites missing favicon</h2></summary>
      <ul role="list">
        {% for author in insightsdata.missingData.favicon.authors %}
          <li><a href="{{ author.site }}/">{{ author.name }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </div>
</div>

<div class="section surface-mid" data-pagefind-ignore="all">
  <div class="container insights-items-list">
    <details>
      <summary><h2 class="h3">{{ insightsdata.missingData.authorDescription.count }} author sites missing descriptions</h2></summary>
      <ul role="list">
        {% for author in insightsdata.missingData.authorDescription.authors %}
          <li><a href="{{ author.site }}/">{{ author.name }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </div>
</div>

<div class="section" data-pagefind-ignore="all">
  <div class="container insights-items-list">
    <details>
      <summary><h2 class="h3">{{ insightsdata.missingData.blogDescription.count }} blog posts missing descriptions</h2></summary>
      <ul role="list">
        {% for post in insightsdata.missingData.blogDescription.posts %}
          <li><a href="{{ post.link }}/">{{ post.title }}</a> by <a href="/authors/{{ post.author | slugify }}">{{ post.author }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </div>
</div>

{# <div class="section surface-mid" data-pagefind-ignore="all">
  <div class="container">
    <h2 class="h3">Post count by category</h2>
    <div class="recent-starters">
    </div>
  </div>
</div>
#}
