---
# site comes from _data/site.js
permalink: /bundlefeed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}">
  <title>{{ site.title }}</title>
  <link href="{{ permalink | absoluteUrl(site.url) }}" rel="self"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {% set bundleTag = "11ty Bundle" %}
  {% set postlist = collections[ bundleTag ] %}
  {%- for post in postlist | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="{{ site.language }}" type="text">{{ post.data.description }}</content>
  </entry>
  {%- endfor %}
</feed>
