---
# site comes from _data/site.js
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/assets/css/feed.xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}">
	<title>{{ site.title }}</title>
	<subtitle>The 11ty Bundle: A curated feed of 11ty resources.</subtitle>
	<link href="{{ site.url }}{{ permalink }}" rel="self"/>
	{% set postslist = collections.posts | reverse %}
  {% set latest_posts = postslist.slice(0,20) %}
	<updated>{{ latest_posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ site.url }}/</id>
	<author>
		<name>{{ site.author.name }}</name>
		<email>{{ site.author.email }}</email>
	</author>
	{%- for post in latest_posts %}
	{%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<summary>{{ post.data.description }}</summary>
		<content
			xml:lang="{{ site.locale }}"
			type="html">
			{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
		</content>
	</entry>
	{%- endfor %}
</feed>
