<ul role="list" class="author-links">
  <li><a href="http://" class="🎈"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#icon-globe"></use>
      </svg><span class="visually-hidden">Website</span></a></li>
  <li><a href="http://" class="🎈"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#icon-rss"></use>
      </svg><span class="visually-hidden">RSS</span></a></li>
  <li><a href="http://" class="🎈"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#icon-mastodon"></use>
      </svg><span class="visually-hidden">Mastodon</span></a></li>
  <li><a href="http://" class="🎈"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#icon-bluesky"></use>
      </svg><span class="visually-hidden">Bluesky</span></a></li>
  <li><a href="http://" class="🎈"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#icon-github"></use>
      </svg><span class="visually-hidden">GitHub</span></a></li>
  <li><a href="http://" class="🎈"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#icon-linkedin"></use>
      </svg><span class="visually-hidden">LinkedIn</span></a></li>
</ul>