<header class="main-header" data-pagefind-ignore="all">
  <div class="container" data-pagefind-ignore="all">
    <h1 data-pagefind-ignore>Blog</h1>
    <nav>
      <ul role="list">
        <li><a href="" class="current">Posts</a></li>
        <li><a href="/feed.xml">RSS</a></li>
        <li><a href="#newsletter">Newsletter</a></li>
      </ul>
    </nav>
  </div>
</header>
