<header class="main-header">
  <div class="container">
    <h1>Blog</h1>
    <nav>
      <ul role="list">
        <li><a href="" class="current">Posts</a></li>
        <li><a href="/feed.xml">RSS</a></li>
        <li><a href="#newsletter">Newsletter</a></li>
      </ul>
    </nav>
  </div>
</header>
