<p><em>Welcome to Issue {{ bundleIssue }} of the 11ty Bundle. 11ty, aka Eleventy, is a "simpler static site generator" that is designed to be simple, flexible, and highly customizable. It is built on Node.js and allows developers to create websites by transforming templates and data into static HTML files. It supports multiple template languages, giving developers the freedom to choose the languages that best suit the needs of their project.</em></p>
