{#
  This partial builds a list of categories, either by name or by count,
  depending on the value of "whichCategories" passed into it.
  It shows the category's name (linked to its category page) and
  the titles of its three most recent posts.
#}
{% for category in bundledata[whichCategories] %}
  {% set categoryUrl %}/categories/{{ category[0] | slugify }}/{% endset %}
  <div class="onecategory">
    <a href="{{categoryUrl}}" class="onecattitle">{{ category[0] }}</a><span class="reduced-to-base">({{ category[1] }})</span>
    <div class="recentcatitems">
      {% for item in bundledata.bundleRecords | postsInCategory(category[0], 3) %}
        {% set authorUrl %}/authors/{{ item.Author | slugify }}/{% endset %}
        {{ item.Link | getFavicon | safe }}
        <a href="{{ item.Link }}">{{ item.Title }}</a>
        <p>{{ item.Date | formatItemDate }}</p>
      {% endfor %}
    </div>
  </div>
{% endfor %}
