<div class="directory__card directory--detail">
  {{ item.favicon | safe }}<h3 id="{{ item.Date | formatYMD }}-{{ item.slugifiedTitle }}-{{ item.slugifiedAuthor }}" data-pagefind-weight={{ pfweights.individualPost }} data-pagefind-sort="date:{{ item.Date | formatYMD }}"><a href="{{ item.Link }}">{{ item.Title | safe }}</a></h3>
  <div class="details">
    {% if item.description %}
      <p class="description">{{ item.description | safe }}</p>
    {% endif %}
    <time data-pagefind-ignore datetime="{{ item.Date | formatYMD }}">{{ item.formattedDate }}</time>
    <p>By <a href="/authors/{{ item.slugifiedAuthor }}">{{ item.Author | safe }}</a> ({{ authorRecord.count | countLabel("post") }})</p>
    <ul role="list" class="author-links" data-pagefind-ignore="all">
      {{ authorIcons | safe }}
    </ul>
    <div class="categories-list" data-pagefind-ignore="all">
      <strong>Categories</strong>
      <ul role="list">
        {% for category in item.Categories %}
          <li><a href="/categories/{{ category | slugify }}/">{{ category }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
