<div id="popover-3-0-0" popover="" data-pagefind-ignore="all">Some content below may have been published before the release of Eleventy v3.0.0 (October 1,
  2024). Information may have changed in newer versions. Current stable release: 3.12</div>
<div id="popover-2-0-0" popover="" data-pagefind-ignore="all">Some content below may have been published before the release of Eleventy v2.0.0 (Feb 8, 2023).
  Information may have changed in newer versions. Current stable release: 3.12.</div>
<div id="popover-1-0-0" popover="" data-pagefind-ignore="all">Some content below may have been published before the release of Eleventy v1.0.0 (Jan 8, 2022).
  Information may have changed in newer versions. Current stable release: 3.12.</div>
<div id="popover-0-1-0" popover="" data-pagefind-ignore="all">All of the content below was published before the release of Eleventy v1.0.0 (Jan 8, 2022).
  Information may have changed in newer versions. Current stable release: 3.12.</div>
