{%- if current_year == 2024 -%}<button popovertarget="popover-3-0-0" class="button--transparent"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true"><use xlink:href="#icon-info"></use></svg><span class="visually-hidden">Info</span></button>{%- endif -%}
{%- if current_year == 2023 -%}<button popovertarget="popover-2-0-0" class="button--transparent"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true"><use xlink:href="#icon-info"></use></svg><span class="visually-hidden">Info</span></button>{%- endif -%}
{%- if current_year == 2022 -%}<button popovertarget="popover-1-0-0" class="button--transparent"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true"><use xlink:href="#icon-info"></use></svg><span class="visually-hidden">Info</span></button>{%- endif -%}
{%- if current_year < 2022 -%}<button popovertarget="popover-0-1-0" class="button--transparent"><svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true"><use xlink:href="#icon-info"></use></svg><span class="visually-hidden">Info</span></button>{%- endif -%}
