{# pagefind search box #}
<script src="/pagefind/pagefind-ui.js" defer></script>
<div id="search" role="search"></div>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({
      element: "#search",
      translations: {
        placeholder: "Type / to search",
        zero_results: "Count not find [SEARCH_TERM]"
      },
      showSubResults: true,
      showImages: false,
      showEmptyFilters: false,
      showSubResults: true,
      excerptLength: 100,
      pageSize: 10
    });

    let focusTriggeredBySlash = false; // Flag to track focus triggered by '/'

    // Add event listener for the '/' key
    document.addEventListener('keydown', (e) => {
      // Check if the '/' key was pressed and no input or textarea is focused
      if (e.key === '/' && !e.target.matches('input, textarea')) {
        e.preventDefault(); // Prevent the default browser behavior
        const searchInput = document.querySelector('input.pagefind-ui__search-input');
        if (searchInput) {
          focusTriggeredBySlash = true; // Set the flag
          searchInput.focus(); // Move focus to the search box
        }
      }
    });

        // Add event listener for the focus event on the input element
    const searchInput = document.querySelector('input.pagefind-ui__search-input');
    if (searchInput) {
      searchInput.addEventListener('focus', () => {
        if (focusTriggeredBySlash) {
          fathom.trackEvent('search with keyboard shortcut');
          focusTriggeredBySlash = false; // Reset the flag
        } else {
          fathom.trackEvent('search without keyboard shortcut');
        }
      });
    }
  });
</script>
