<header class="main-header">
  <div class="container" {% if permalink == "/starters-by-stars/" %}  data-pagefind-ignore="all"{% endif %}>
    <h1>Starters <data class="count" value="{{ bundledata.starterCount }}">{{ bundledata.starterCount }}</data></h1>
    <nav>
      <strong>By</strong>
      <ul role="list">
        <li><a href="/starters/" {% if permalink == "/starters/" %} class="current"{% endif %}>Latest Update</a></li>
        <li><a href="/starters/by-stars/" {% if permalink == "/starters-by-stars/" %} class="current"{% endif %}>GitHub Stars</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="section"{% if permalink == "/starters-by-stars/" %}  data-pagefind-ignore="all"{% endif %}>
  <div class="container">
    <button popovertarget="info" class="button--transparent"><svg width="20" height="20" viewBox="0 0 24 24"
        aria-hidden="true" data-pagefind-ignore eleventy:ignore>
        <use xlink:href="#icon-info"></use>
      </svg> About starter projects</button>
    <div id="info" popover>Starter projects take an opinionated approach, adding extra tools to a basic Eleventy install. Featured starters are selected based on how recently they've been updated, their popularity (measured by GitHub stars), and the clarity of their READMEs. If you're new to Eleventy, check out the <a href="">Getting Started</a> category. You'll also find links to <em><strong>eleventy billion</strong></em> more <a href="https://www.11ty.dev/docs/starter/">starter projects on the 11ty docs site.</a></div>
    <div class="directory__grid">
      {% set starterItems = bundledata.starters %}
      {% if permalink == "/starters-by-stars/" %}
        {% set starterItems = bundledata.startersByStars %}
      {% endif %}
      {% for item in starterItems %}
        <div class="directory__card directory--detail">
          <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true" eleventy:ignore>
                <use xlink:href="#icon-github"></use>
              </svg>
          <a href="{{ item.Link }}">{{ item.Title }}</a>
          <div class="details" data-pagefind-ignore="all">
            <p class="bundleitem-description">{{ item.Description | safe }}</p>
            <ul role="list">
              <li>Updated: <time datetime="{{ item.LastUpdated | formatYMD }}">{{ item.LastUpdated }}</time></li>
              <li>GitHub stars: <data value="{{ item.Stars }}">{{ item.Stars }}</data></li>
              <li>11ty version: <data value="{{ item.Version }}">{{ item.Version }}</data></li>
            </ul>
            {% if item.Demo %}
              <a href="{{ item.Demo }}" aria-label="Demo site for {{ item.Title }}"><small>Demo site</small></a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
