{# Place a warning before posts published prior to release of v2 #}
<div class="bundleitem caution">
	<p>CAUTION</p>
	<p>The posts below were published before the release of Eleventy v2.0.0 (Feb 8, 2023). Information in these posts may be out of date. The current stable release is {{ cautioninfo.currentrelease }}.</p>
</div>
