---
eleventyComputed:
  title: "Starters"
  description: "A list of {{ bundledata.starterCount }} starter projects for Eleventy"
permalink: /starters/by-stars/
---
{% include "partials/starterstemplate.njk" %}
