---js
{
	eleventyComputed: {
		title: "{{ author.name }}",
		description: "Posts in the 11ty Bundle by: {{ author.name }}",
		permalink: "/authors/{{ author.slugifiedName }}/",
	},
	pagination:	{
		data: "bundledata.authors",
		size: 1,
		alias: "author",
		addAllPagesToCollections: "true",
	}
}
---
<header class="main-header">
  <div class="container">
    {{ author.favicon | safe }}<h1>{{ author.name }} <data class="count" value="{{ author.count }}">{{ author.count }}</data></h1>
    <div class="details">
      <p>{{ author.description | safe }}</p>
      <ul role="list" class="author-links">
      {{ author.nonYoutubePostLink | getAuthorIcons | safe }}
      </ul>
    </div>
  </div>
</header>
<section>
  <nav>
    <div class="container">
      <ul role="list" class="skip-links">
        {% for year in bundledata.firehose | postYearsInAuthor(author.name) %}
          <li><a href="#y-{{ year }}">{{ year }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</section>
{% set newestPost = bundledata.firehose | postsByAuthor(author.name, 0) | first %}
{% set newestPostYear = newestPost.Date | truncate(4, true, '') %}
{% set current_year = newestPostYear %}
{% set previous_year = current_year %}

<section>
  <div class="container">
    <details name="details" class="directory__layout" {% if current_year == newestPostYear %}open{% endif %}>
      <summary id="y-{{ current_year }}"><h2>{{ current_year }}{%-include "partials/release-check.njk"-%}</h2></summary>
      <article class="directory__grid">
    {% for item in bundledata.firehose | postsByAuthor(author.name, 0) %}
  	{% set current_year = item.Date | truncate(4, true, '') %}
    {% if (current_year != previous_year) %}
          </details>
        </div>
      </section>
    {% set previous_year = current_year %}
<section>
  <div class="container">
    <details name="details" class="directory__layout">
      <summary id="y-{{ current_year }}"><h2>{{ current_year }}{%-include "partials/release-check.njk"-%}</h2></summary>
      <article class="directory__grid">
    {% endif %}

			  <article class="directory__card directory--detail">
          <a href="{{ item.Link }}">{{ item.Title }}</a>
          <div class="details">
            <p>{{ item.description | safe }}</p>
            <time datetime="{{ item.formattedDate }}">{{ item.formattedDate }}</time>
            <div class="categories-list">
              <strong>Categories</strong>
              <ul role="list">
                {% for category in item.Categories %}
                  <li><a href="/categories/{{ category | slugify }}/">{{ category }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
      </article>
    {% endfor %}
      </article>
    </details>
  </div>
</section>
{% include "partials/releasepopovers.njk" %}
