---js
{
	eleventyComputed: {
		title: "{{ author.name }}",
		description: "Posts in the 11ty Bundle by: {{ author.name }}",
		permalink: "/authors/{{ author.slugifiedName }}/",
	},
	pagination:	{
		data: "bundledata.authors",
		size: 1,
		alias: "author",
		addAllPagesToCollections: "true",
	}
}
---
<header class="main-header" data-pagefind-body>
  <div class="container">
    {{ author.favicon | safe }}<h1>{{ author.name }} <data class="count" value="{{ author.count }}">{{ author.count | countLabel('post')}}</data></h1>
    <div class="details">
      <p>{{ author.description | safe }}</p>
      <ul role="list" class="author-links" data-pagefind-ignore="all">
      {{ author.origin | getAuthorIcons | safe }}
      </ul>
    </div>
  </div>
</header>
<nav class="section">
  <div class="container">
    <ul role="list" id="skip-links-years" class="skip-links">
      {% for year in bundledata.firehose | postYearsInAuthor(author.name) %}
        <li><a href="#y-{{ year }}">{{ year }}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% set newestPost = bundledata.firehose | postsByAuthor(author.name, 0) | first %}
{% set newestPostYear = newestPost.Date | truncate(4, true, '') %}
{% set current_year = newestPostYear %}
{% set previous_year = current_year %}

<div class="section">
  <div class="container">
    <details name="details" class="directory__layout" {% if current_year == newestPostYear %}open{% endif %}>
      <summary id="y-{{ current_year }}"><h2 data-pagefind-ignore>{{ current_year }}{%-include "partials/release-check.njk"-%}</h2></summary>
      <div class="directory__grid">
    {% for item in bundledata.firehose | postsByAuthor(author.name, 0) %}
  	{% set current_year = item.Date | truncate(4, true, '') %}
    {% if (current_year != previous_year) %}
      {# on year change, close the previous year's related tags #}
      </div>
    </details>
  </div>
</div>
    {% set previous_year = current_year %}
<div class="section">
  <div class="container">
    <details name="details" class="directory__layout">
      <summary id="y-{{ current_year }}"><h2 data-pagefind-ignore>{{ current_year }}{%-include "partials/release-check.njk"-%}</h2></summary>
      <div class="directory__grid">
    {% endif %}

			  <div class="directory__card directory--detail">
          <a href="{{ item.Link }}">{{ item.Title }}</a>
          <div class="details">
            {% if item.description %}
              <p class="description">{{ item.description | safe }}</p>
            {% endif %}
            <time datetime="{{ item.Date }}">{{ item.formattedDate }}</time>
            <div class="categories-list">
              <strong>Categories</strong>
              <ul role="list">
                {% for category in item.Categories %}
                  <li><a href="/categories/{{ category | slugify }}/">{{ category }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
      </div>
    {% endfor %}
      </div>
    </details>
  </div>
</div>
{% include "partials/releasepopovers.njk" %}
