---
eleventyComputed:
  title: "Authors"
  description: "A list of {{ bundledata.authorCount }} authors"
permalink: /authors/by-count/
---
<header class="main-header" data-pagefind-ignore>
  <div class="container">
    <h1>{{ title }} <data class="count" value="{{ bundledata.authorCount }}">{{ bundledata.authorCount }}</data></h1>
    <nav>
      <strong>By</strong>
      <ul role="list">
        <li><a href="/authors/">Name</a></li>
        <li><a href="/authors/by-count/" class="current">Count</a></li>
      </ul>
    </nav>
  </div>
</header>
<section>
  <div class="container">
    <article class="directory__grid" data-pagefind-body>
      {% for author in bundledata.authorsByCount %}
      <article class="directory__card directory--category">
      {% set latestPosts = bundledata.authors | postsByAuthor(author.name, 3) %}
        <h3>{{ author.favicon | safe }}<a href="/authors/{{ author.slugifiedName }}">{{ author.name }}</a> <data class="count" value="{{ author.count }}">{{ author.count }}</data></h3>
        <ol role="list" class="directory--list">
          {% for item in bundledata.firehose | postsByAuthor(author.name, 3) %}
            <li><a href="{{ item.Link }}">{{ item.Title }}</a>
            <time datetime="{{ item.Date }}">{{ item.formattedDate }}</time></li>
          {% endfor %}
        </ol>
      </article>
      {% endfor %}
    </article>
  </div>
</section>
