---
eleventyComputed:
  title: "Authors"
  description: "A list of {{ bundledata.authorCount }} authors"
permalink: /authors/
---
<header class="main-header">
  <div class="container">
    <h1>{{ title }} <data class="count" value="{{ bundledata.authorCount }}">{{ bundledata.authorCount }}</data></h1>
    <nav>
      <strong>By</strong>
      <ul role="list">
        <li><a href="/authors" class="current">Name</a></li>
        <li><a href="/authors/by-count/">Count</a></li>
      </ul>
    </nav>
  </div>
</header>
<nav class="section">
  <div class="container">
    <ul role="list" class="skip-links">
      {% for letter in bundledata.authorLetters %}
        <li><a href="#id-{{ letter }}">{{ letter }}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>

{# ***************************************
   Author structure:

    .name           author name
    .slugifiedName  slugified author name
    .firstLetter    first letter of author last name/word
    .count          total post count
    .origin         origin (captured from first non-YouTube post)
    .favicon        favicon
    .rssLink        RSS link
    .socialLinks    social links

*************************************** #}
{% set currentLetter = ""%}
{% set currentAuthor = ""%}

{% for author in bundledata.authors %}
  {% if (author.firstLetter !== currentLetter) and (currentLetter !== "") %}
    </div>
    </section>
  {% endif %}
  {% if author.firstLetter !== currentLetter %}
    <section>
      <div class="directory__layout container">
      <h2 id="id-{{ author.firstLetter }}">{{ author.firstLetter }}</h2>
      <article class="directory__grid">
  {% endif %}
    {% set currentLetter = author.firstLetter %}
    <article class="directory__card directory--category">
      {% set authorUrl %}/authors/{{ author.slugifiedName }}/{% endset %}
      <h3>{{ author.favicon | safe }}<a href="/authors/{{ author.slugifiedName }}">{{author.name }}</a> <data class="count" value="{{ author.count }}">{{ author.count }}</data></h3>
      <ol role="list" class="directory--list">
        {% for item in bundledata.firehose | postsByAuthor(author.name, 3) %}
          <li><a href="{{ item.Link }}">{{ item.Title }}</a>
          <time datetime="{{ item.Date }}">{{ item.formattedDate }}</time></li>
        {% endfor %}
      </ol>
    </article>
    {% if (author.name !== currentAuthor)  and (currentAuthor  !== "") %}
      {% set currentAuthor = author.name %}
      </article>
    {% endif %}
{% endfor %}
