---js
{
	eleventyComputed: {
		title: "{{ category.name }}",
		description: "Posts in the 11ty Bundle with the category: {{ category.name }}",
		permalink: "/categories/{{ category.slugifiedCategory }}/",
	},
	pagination:	{
		data: "bundledata.categories",
		size: 1,
		alias: "category",
		addAllPagesToCollections: "true",
	}
}
---
<header class="main-header">
  <div class="container">
    <h1>{{ category.name }} <data class="count" value="{{ category.count }}">{{ category.count }}</data></h1>
  </div>
</header>
<section>
  <nav>
    <div class="container">
      <ul role="list" class="skip-links">
        {% for year in bundledata.firehose | postYearsInCategory(category.name) %}
          <li><a href="#y-{{ year }}">{{ year }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</section>
{%- set newestPost = bundledata.firehose | postsInCategory(category.name, 0) | first -%}
{% set newestPostYear = newestPost.Date | truncate(4, true, '') %}
<section>
  <div class="container">
    {% for item in bundledata.firehose | postsInCategory(category.name, 0) %}
  	{%- set current_year = item.Date | truncate(4, true, '') -%}
		{%- if current_year != previous_year -%}
			</details>

			<details name="details" class="directory__layout" {% if current_year == newestPostYear %}open{% endif %}>
			<summary id="y-{{ current_year }}"><h2>{{ current_year }}</h2></summary>
      <article class="directory__grid">
			{%- set previous_year = current_year -%}
		{%- endif -%}
        <article class="directory__card directory--detail">
          <!-- <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
            <use xlink:href="#icon-person-circle"></use>
          </svg> -->
          {{item.favicon | safe }}
          <a href="{{ item.Link }}">{{ item.Title }}</a>
          <div class="details">
            <p>{{ item.description }}</p>
            <time datetime="{{ item.formattedDate }}">{{ item.formattedDate }}</time>
            {%- set postCount = bundledata.firehose | postCountByAuthor(item.Author) -%}
            <p>By <a href="/authors/{{ item.slugifiedAuthor }}">{{ item.Author }}</a> ({{ postCount | postCountLabel }})</p>
            {{ item.Link | getAuthorIcons | safe }}
            <div class="categories-list">
              <strong>Categories</strong>
              <ul role="list">
                {% for category in item.Categories %}
                  <li><a href="/categories/{{ category | slugify }}/">{{ category }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </article>
      </article>
    </details>
  </div>
</section>
<section>
  <div class="container">
    <details name="details" class="directory__layout">
      <summary>
        <h2 id="2024">2024</h2>
      </summary>
      <article class="directory__grid">
        <article class="directory__card directory--detail">
          <!-- <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
            <use xlink:href="#icon-person-circle"></use>
          </svg> -->
          <img src="/img/favicon.ico" class="favicon" alt="" eleventy:ignore>
          <a href="http://">Accessible Eleventy Gallery</a>
          <div class="details">
            <p>An adaptation of Kalechip's Static Accessible Gallery Generator for Eleventy.</p>
            <time datetime="2024-12-28">Dec 28, 2024</time>
            <p>By <a href="">Sainthood</a> (1 post)</p>
            {%- include "partials/author-links.njk" -%}
            <div class="categories-list">
              <strong>Categories</strong>
              <ul role="list">
                <li><a href="">Accessibility</a></li>
                <li><a href="">Global Data</a></li>
                <li><a href="">How-to</a></li>
                <li><a href="">Image Galleries</a></li>
              </ul>
            </div>
          </div>
        </article>
      </article>
    </details>
  </div>
</section>
