---js
{
	eleventyComputed: {
		title: "{{ category.name }}",
		description: "Posts in the 11ty Bundle with the category: {{ category.name }}",
		permalink: "/categories/{{ category.slugifiedCategory }}/",
	},
	pagination:	{
		data: "bundledata.categories",
		size: 1,
		alias: "category",
		addAllPagesToCollections: "true",
	}
}
---
<header class="main-header">
  <div class="container">
    <h1>{{ category.name }} <data class="count" value="{{ category.count }}">{{ category.count }}</data></h1>
  </div>
</header>
<section>
  <nav>
    <div class="container">
      <ul role="list" class="skip-links">
        {% for year in bundledata.bundleRecords | postYearsInCategory(category.name) %}
          <li><a href="#y-{{ year }}">{{ year }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</section>
{%- set newestPost = bundledata.firehose | postsInCategory(category.name, 0) | first -%}
{% set newestPostYear = newestPost.Date | truncate(4, true, '') %}
<section>
  <div class="container">
    <details name="details" class="directory__layout" open>
      <summary>
        <h2 id="2025">2025</h2>
      </summary>
      <article class="directory__grid">
        <article class="directory__card directory--detail">
          <!-- <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
            <use xlink:href="#icon-person-circle"></use>
          </svg> -->
          <img src="/img/favicon.ico" class="favicon" alt="" eleventy:ignore>
          <a href="http://">Mastering Eleventy: Display All Blog Posts from a Category on a Single Page</a>
          <div class="details">
            <p>Have the same topic on your 11ty website and want to view them all on one page? Here's how to do so with
              just one extra file, and no plugins needed.</p>
            <time datetime="2025-11-09">Nov 9, 2025</time>
            <p>By <a href="">Gregory Hammond</a> (2 posts)</p>
            {%- include "partials/author-links.njk" -%}
            <div class="categories-list">
              <strong>Categories</strong>
              <ul role="list">
                <li><a href="">Accessibility</a></li>
                <li><a href="">Blogging</a></li>
                <li><a href="">Configuration</a></li>
                <li><a href="">Filters</a></li>
                <li><a href="">Nunjucks/Macros</a></li>
              </ul>
            </div>
          </div>
        </article>
      </article>
    </details>
  </div>
</section>
<section>
  <div class="container">
    <details name="details" class="directory__layout">
      <summary>
        <h2 id="2024">2024</h2>
      </summary>
      <article class="directory__grid">
        <article class="directory__card directory--detail">
          <!-- <svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
            <use xlink:href="#icon-person-circle"></use>
          </svg> -->
          <img src="/img/favicon.ico" class="favicon" alt="" eleventy:ignore>
          <a href="http://">Accessible Eleventy Gallery</a>
          <div class="details">
            <p>An adaptation of Kalechip's Static Accessible Gallery Generator for Eleventy.</p>
            <time datetime="2024-12-28">Dec 28, 2024</time>
            <p>By <a href="">Sainthood</a> (1 post)</p>
            {%- include "partials/author-links.njk" -%}
            <div class="categories-list">
              <strong>Categories</strong>
              <ul role="list">
                <li><a href="">Accessibility</a></li>
                <li><a href="">Global Data</a></li>
                <li><a href="">How-to</a></li>
                <li><a href="">Image Galleries</a></li>
              </ul>
            </div>
          </div>
        </article>
      </article>
    </details>
  </div>
</section>
