---
eleventyComputed:
  title: "Categories"
  description: "A list of {{ bundledata.categoryCount }} categories"
permalink: /categories-by-count/
---
<header class="main-header" data-pagefind-ignore="all">
  <div class="container">
    <h1>{{ title }} <data class="count" value="{{ bundledata.categoryCount }}">{{ bundledata.categoryCount }}</data></h1>
    <nav>
      <strong>By</strong>
      <ul role="list">
        <li><a href="/categories/">Name</a></li>
        <li><a href="/categories-by-count/" class="current">Count</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="section" data-pagefind-ignore="all">
  <div class="container">
    <div class="directory__grid">
      {% for category in bundledata.categoriesByCount %}
      <article class="directory__card directory--category">
        <h3><a href="/categories/{{ category.slugifiedCategory }}/">{{ category.name }}</a> <data class="count" value="{{ category.count }}">{{ category.count }}</data></h3>
        <ol role="list" class="directory--list">
          {% for item in bundledata.firehose | postsInCategory(category.name, 3) %}
            {% set authorUrl %}/authors/{{ item.Author | slugify }}/{% endset %}
            <li>{{ item.favicon | safe }}
            <a href="{{ item.Link }}">{{ item.Title }}</a>
            <time datetime="{{ item.Date | formatYMD }}">{{ item.Date | formatItemDate }}</time></li>
          {% endfor %}
        </ol>
      </article>
      {% endfor %}
    </div>
  </div>
</div>
