<header class="main-header">
  <div class="container">
    <h1>Categories <data class="count" value="51">51</data></h1>
    <nav>
      <strong>By</strong>
      <ul role="list">
        <li><a href="/categories">Name</a></li>
        <li><a href="/categories/by-count" class="current">Count</a></li>
      </ul>
    </nav>
  </div>
</header>
<section>
  <div class="container">
    <article class="directory__grid">
      <article class="directory__card directory--category">
        <h3><a href="">How-to</a> <data class="count" value="958">958</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Let it Snow: Adding
              a Falling-Snow Effect
              to Your Eleventy Website</a> <time datetime="2025-11-10">Nov 10, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Making a free image
              gallery with 11ty and
              Neocities.org</a> <time datetime="2025-11-10">Nov 10, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Embedding Mastodon
              Posts in Eleventy: My
              Journey</a> <time datetime="2025-10-30">Oct 30, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Configuration</a> <data class="count" value="240">240</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Mastering Eleventy:
              Display All Blog
              Posts from a Category on a Single Page</a> <time datetime="2025-11-09">Nov 9, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Creating a modular
              approach to json
              schema in an eleventy website</a> <time datetime="2025-10-28">Oct 28, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11ty OpenGraph &
              SEO</a> <time datetime="2025-10-26">Oct 26, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Blogging</a> <data class="count" value="212">212</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Mastering Eleventy:
              Display All Blog
              Posts from a Category on a Single Page</a> <time datetime="2025-11-09">Nov 9, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Three Minor
              Releases, One Major Leap for
              Subspace Builder</a> <time datetime="2025-10-29">Oct 29, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11ty OpenGraph &
              SEO</a> <time datetime="2025-10-26">Oct 26, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Plugins</a> <data class="count" value="144">144</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11ty OpenGraph &
              SEO</a> <time datetime="2025-10-26">Oct 26, 20255</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Wrapper Elements
              around Code Blocks in
              Markdown</a> <time datetime="2025-10-20">Oct 20, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Eleventy Launch</a>
            <time datetime="2025-10-08">Oct 8, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Images</a> <data class="count" value="136">136</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Eleventy Templates
              for Atom Feeds</a> <time datetime="2025-10-16">Oct 16, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Simple Lossless
              Image Compression</a> <time datetime="2025-10-14">Oct 14, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Eleventy Launch</a>
            <time datetime="2025-10-08">Oct 8, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Remote Data</a> <data class="count" value="128">128</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Lighting Up GitHub
              Embeds in My Eleventy
              Blog</a> <time datetime="2025-10-03">Oct 3, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Fetching a JSON file
              from GitHub at build
              time in Eleventy</a> <time datetime="2025-09-25">Sep 25, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">How I Fixed My
              Blogroll</a> <time datetime="2025-08-22">Aug 22, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Migrating to Eleventy</a> <data class="count" value="123">123</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">From Dotclear to
              Eleventy 3</a> <time datetime="2025-09-18">Sep 18, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Moving away from
              Nuxt to Eleventy</a> <time datetime="2025-09-08">Sep 8, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Migrating from Hugo
              to 11ty (Finally)</a>
            <time datetime="2025-09-08">Sep 8, 2025</time>
          </li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Deployment</a> <data class="count" value="116">116</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Making a free image
              gallery with 11ty and
              Neocities.org</a> <time datetime="2025-11-10">Nov 10, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11tyCMS: Major
              refactoring, state
              management overhaul, routing, site history selection and site dashboard implementation</a> <time
              datetime="2025-11-03">Nov 03, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Creating Cloudflare
              redirects</a> <time datetime="2025-10-08">Oct 8, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Why Eleventy?</a> <data class="count" value="113">113</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Reclaim Open - This
              One Goes to 11(ty)</a>
            <time datetime="2025-11-05">Nov 5, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">This one goes to
              11(ty)</a> <time datetime="2025-11-05">Nov 5, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Moving away from
              Nuxt to Eleventy</a> <time datetime="2025-09-08">Sep 8, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">CSS / Sass</a> <data class="count" value="102">102</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Font Subsetting in
              Eleventy</a> <time datetime="2025-10-08">Oct 8, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">hire.shivjm.in: The
              Missing Cover
              Letter</a> <time datetime="2025-10-08">Oct 8, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11ty Hacks for Fun
              and Performance</a>
            <time datetime="2025-10-04">Oct 4, 2025</time>
          </li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Getting Started</a> <data class="count" value="104">104</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Three Minor
              Releases, One Major Leap for
              Subspace Builder</a> <time datetime="2025-10-29">Oct 29, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Introducing
              Brewventy: Your Coffee-Themed
              Eleventy Starter Kit</a> <time datetime="2025-10-01">Oct 1, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11ty Subspace
              Builder v1.0.0</a> <time datetime="2025-09-25">Sep 25, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Collections</a> <data class="count" value="103">103</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11tyCMS: THE
              Eleventy Meetup appearance,
              metadata improvements, more post and collection goodness</a> <time datetime="2025-10-26">Oct 26,
              2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Building My New
              Archives Page</a> <time datetime="2025-09-25">Sep 25, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">From Dotclear to
              Eleventy 4</a> <time datetime="2025-09-24">Sep 24, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Filters</a> <data class="count" value="95">95</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Mastering Eleventy:
              Display All Blog
              Posts from a Category on a Single Page</a> <time datetime="2025-11-09">Nov 9, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Eleventy Templates
              for Atom Feeds</a> <time datetime="2025-10-16">Oct 16, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">WhileDo</a> <time
              datetime="2025-10-03">Oct
              3, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Global Data</a> <data class="count" value="82">82</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">From Dotclear to
              Eleventy 4</a> <time datetime="2025-09-24">Sep 24, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">exhibitionism</a>
            <time datetime="2025-09-19">Sep 19, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Leveraging
              Eleventy's custom data file
              format feature for simpler game scoring format</a> <time datetime="2025-09-10">Sep 10, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Markdown</a> <data class="count" value="79">79</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Wrapper Elements
              around Code Blocks in
              Markdown</a> <time datetime="2025-10-20">Oct 20, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">hire.shivjm.in: The
              Missing Cover
              Letter</a> <time datetime="2025-10-08">Oct 8, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">More Description</a>
            <time datetime="2025-10-04">Oct 4, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">CMS</a> <data class="count" value="78">78</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11tyCMS: Major
              refactoring, state
              management overhaul, routing, site history selection and site dashboard implementation</a> <time
              datetime="2025-11-03">Nov 3, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11tyCMS: THE
              Eleventy Meetup appearance,
              metadata improvements, more post and collection goodness</a> <time datetime="2025-10-26">Oct 26,
              2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11tyCMS: New
              home(s), build & publishing,
              with a side of collection indexing & bug fixes</a> <time datetime="2025-08-19">Aug 19, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">YouTube</a> <data class="count" value="71">71</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">This one goes to
              11(ty)</a> <time datetime="2025-11-05">Nov 5, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">How We Built Web
              Awesome with 11ty (and Why
              It's So Fast) on Podcast Awesome</a> <time datetime="2025-09-30">Sep 30, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Using Notion as CMS
              with your Eleventy site
              with vrugtehagel</a> <time datetime="2025-04-24">Apr 24, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Social Media</a> <data class="count" value="69">69</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Embedding Mastodon
              Posts in Eleventy: My
              Journey</a> <time datetime="2025-10-30">Oct 30, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">An 11ty Site,
              Codeberg Pages, and Cron</a>
            <time datetime="2025-10-08">Oct 8, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">WhileDo</a> <time
              datetime="2025-10-03">Oct
              3, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Dates</a> <data class="count" value="68">68</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Never write your own
              Date Parsing
              Library</a> <time datetime="2025-07-23">Jul 23, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Last modified date
              of Eleventy posts</a>
            <time datetime="2025-07-20">Jul 20, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Migrating WordPress
              To Eleventy</a> <time datetime="2025-07-12">Jul 12, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Pagination</a> <data class="count" value="67">67</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11ty Hacks for Fun
              and Performance</a>
            <time datetime="2025-10-04">Oct 4, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">From Dotclear to
              Eleventy 4</a> <time datetime="2025-09-24">Sep 24, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">exhibitionism</a>
            <time datetime="2025-09-19">Sep 19, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">WebC</a> <data class="count" value="56">56</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">WebC Quirks</a>
            <time datetime="2025-07-15">Jul 15, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">We migrated our site
              to Eleventy and
              increased performance by 24%</a> <time datetime="2025-07-15">Jul 15, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Switching to
              WebC</a> <time datetime="2025-07-13">Jul 13, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Front Matter</a> <data class="count" value="55">55</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Obsidian bases work
              great with
              Eleventy</a> <time datetime="2025-10-11">Oct 11, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Updated My Draft
              System</a> <time datetime="2025-08-17">Aug 17, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Eleventy plugin
              recs, part 1</a> <time datetime="2025-07-25">Jul 25, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Performance</a> <data class="count" value="51">51</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Eleventy Launch</a>
            <time datetime="2025-10-08">Oct 8, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11ty Hacks for Fun
              and Performance</a>
            <time datetime="2025-10-04">Oct 4, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">How We Built Web
              Awesome with 11ty (and Why
              It's So Fast) on Podcast Awesome</a> <time datetime="2025-09-30">Sep 30, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Data Cascade</a> <data class="count" value="49">49</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">exhibitionism</a>
            <time datetime="2025-09-19">Sep 19, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Last modified date
              of Eleventy posts</a>
            <time datetime="2025-07-20">Jul 20, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Data vs. Collections
              in Eleventy</a> <time datetime="2025-07-18">Jul 18, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">RSS</a> <data class="count" value="45">45</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Eleventy Templates
              for Atom Feeds</a> <time datetime="2025-10-16">Oct 16, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">How I Fixed My
              Blogroll</a> <time datetime="2025-08-22">Aug 22, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Automating my links
              list</a> <time datetime="2025-08-20">Aug 20, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Search</a> <data class="count" value="44">44</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">From Dotclear to
              Eleventy 5</a> <time datetime="2025-09-29">Sep 29, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">What's Next? Search
              Me</a> <time datetime="2025-08-19">Aug 19, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Updated Search to
              Use PageFind</a> <time datetime="2025-07-22">Jul 22, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Shortcodes</a> <data class="count" value="45">45</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Embedding Mastodon
              Posts in Eleventy: My
              Journey</a> <time datetime="2025-10-30">Oct 30, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Wrapper Elements
              around Code Blocks in
              Markdown</a> <time datetime="2025-10-20">Oct 20, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">TypeScript Mini Apps
              in Eleventy</a> <time datetime="2025-10-14">Oct 14, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Debugging</a> <data class="count" value="42">42</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Creating Cloudflare
              redirects</a> <time datetime="2025-11-18">Nov 18, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">How I Fixed My
              Blogroll</a> <time datetime="2025-10-08">Oct 8, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Troubleshooting
              Eleventy Long Build
              Time</a> <time datetime="2025-08-22">Aug 22, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Nunjucks / Macros</a> <data class="count" value="40">40</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Mastering Eleventy:
              Display All Blog Posts
              from a Category on a Single Page</a> <time datetime="2025-11-09">Nov 9, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Creating a modular
              approach to json schema
              in an eleventy website</a> <time datetime="2025-10-28">Oct 28, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11ty OpenGraph &
              SEO</a> <time datetime="2025-10-26">Oct 26, 2025</time>
          </li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Webmentions</a> <data class="count" value="41">41</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">I've added
              webmentions to this blog</a>
            <time datetime="2025-07-23">Jul 23, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">A Quick Guide to
              Everything I Know about
              Webmentions</a> <time datetime="2025-05-24">May 24, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Implementing
              Webmentions</a> <time datetime="2025-03-10">Mar 10, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Layouts</a> <data class="count" value="40">40</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Let it Snow: Adding
              a Falling-Snow Effect
              to Your Eleventy Website</a> <time datetime="2025-11-10">Nov 10, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Introducing
              Brewventy: Your Coffee-Themed
              Eleventy Starter Kit</a> <time datetime="2025-10-01">Oct 1, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">From Nunjucks to
              Vento in Eleventy: a
              migration guide (kinda)</a> <time datetime="2025-07-05">Jun 5, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">From the Source</a> <data class="count" value="31">31</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">How We Use GitHub
              Issues and How That's
              Changing</a> <time datetime="2025-11-03">Nov 3, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">How We Built Web
              Awesome with 11ty (and
              Why It's So Fast) on Podcast Awesome</a> <time datetime="2025-09-30">Sep 30, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">A Note from my Late
              Grandmother about
              Eleventy</a> <time datetime="2025-08-19">Aug 19, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Netlify</a> <data class="count" value="30">30</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Introducing
              Brewventy: Your Coffee-Themed
              Eleventy Starter Kit</a> <time datetime="2025-10-01">Oct 1, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Scheduled
              deployments for Eleventy
              websites</a> <time datetime="2025-07-25">Jul 25, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Website updates</a>
            <time datetime="2025-07-06">Jul 6, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Asset Pipelines</a> <data class="count" value="24">24</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Font Subsetting in
              Eleventy</a> <time datetime="2025-10-08">Oct 8, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Asset fingerprinting
              and the preload
              response header in 11ty</a> <time datetime="2025-09-02">Sep 2, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Conditional favicon
              in Eleventy using
              passthrough copy</a> <time datetime="2025-09-01">Sep 1, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Drafts</a> <data class="count" value="24">24</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Two MarkEdit scripts
              that simplify my
              blogging workflow</a> <time datetime="2025-10-12">Oct 12, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Upgrading Eleventy
              After 5 Years</a> <time datetime="2025-10-05">Oct 5, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">From Dotclear to
              Eleventy 5</a> <time datetime="2025-09-29">Sep 29, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Upgrading</a> <data class="count" value="23">23</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Eleventy v3.1.0 is
              now available - 11%
              faster and 22% smaller!</a> <time datetime="2025-05-13">May 13, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Hello 11ty 3</a>
            <time datetime="2025-04-26">Apr 26, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Now Using 11ty
              V3</a> <time datetime="2025-01-27">Jan 27, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="navigation">Navigation</a> <data class="count" value="23">23</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Three Minor
              Releases, One Major Leap for
              Subspace Builder</a> <time datetime="2025-10-29">Oct 29, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">From Dotclear to
              Eleventy 4</a> <time datetime="2025-09-24">Sep 24, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Making a
              multilingual website with
              Eleventy</a> <time datetime="2025-07-21">Jul 21, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Obsidian</a> <data class="count" value="18">18</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Obsidian bases work
              great with Eleventy</a>
            <time datetime="2025-10-11">Oct 11, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Using Obsidian
              Callouts with 11ty</a> <time datetime="2025-08-26">Aug 26, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Creating a website
              from Obsidian</a> <time datetime="2025-07-07">Jul 7, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Serverless</a> <data class="count" value="17">17</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Recreating Search
              with Eleventy v3 and
              Netlify</a> <time datetime="2025-04-08">Apr 8, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Live CMS Previews
              with Sanity and
              Eleventy</a> <time datetime="2025-08-28">Aug 28, 2024</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Migrating from
              Netlify to Cloudflare for AI
              bot protection</a> <time datetime="2025-08-06">Aug 6, 2024</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">i18n</a> <data class="count" value="14">14</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">THE Eleventy Meetup
              Episode 27</a> <time datetime="2025-10-17">Oct 17, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Building a
              Multilingual Blog with
              Eleventy</a> <time datetime="2025-09-05">Sep 5, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Completing the
              I18nPlugin
              installation</a> <time datetime="2025-07-23">Jul 23, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Scheduling</a> <data class="count" value="14">14</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">An 11ty Site,
              Codeberg Pages, and Cron</a>
            <time datetime="2025-10-08">Oct 8, 2025</time>
          </li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Building a seasonal
              veg app with Eleventy.
              Part 5 - Scheduled functions with Netlify</a> <time datetime="2025-01-27">Jan 27, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Building a Euros
              sweepstake website with
              11ty</a> <time datetime="2025-07-11">Jul 11, 2024</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Image Galleries</a> <data class="count" value="14">14</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Making a free image
              gallery with 11ty and
              Neocities.org</a> <time datetime="2025-11-10">Nov 10, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">exhibitionism</a>
            <time datetime="2025-09-19">Sep 19, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">A Slightly Improved
              Image Gallery for
              Eleventy</a> <time datetime="2025-05-17">May 17, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Now Page</a> <data class="count" value="13">13</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Building out a books
              page</a> <time datetime="2025-07-03">Jul 3, 2024</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Leveraging APIs like
              Notion with a nice
              caching system</a> <time datetime="2025-05-03">May 3, 2024</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Weaving music data
              in and out of my
              personal website</a> <time datetime="2025-02-22">Feb 22, 2024</time>
          </li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Analytics</a> <data class="count" value="13">13</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">hire.shivjm.in: The
              Missing Cover
              Letter</a> <time datetime="2025-11-08">Oct 8, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Umami + 11ty: A
              Privacy-First selfhosted
              approach to Web Analytics</a> <time datetime="2025-03-20">Mar 20, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Using 11ty to build
              a data and chart
              analytics website with Sia Karamalegos</a> <time datetime="2025-02-06">Feb 6, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Permalinks</a> <data class="count" value="12">12</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Migrating WordPress
              To Eleventy</a> <time datetime="2025-07-12">Jul 12, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Nice Permalinks In
              Eleventy AND Nice
              Filenames in Obsidian</a> <time datetime="2025-07-06">Jul 6, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">How To Remove A
              Folder From The Generated
              Permalinks In Eleventy</a> <time datetime="2025-02-15">Feb 15, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Notion</a> <data class="count" value="11">11</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Using Notion as CMS
              with your Eleventy
              site with vrugtehagel</a> <time datetime="2025-04-24">Apr 24, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">How I write and
              publish blog posts in
              April 2025</a> <time datetime="2025-04-23">Apr 23, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Using Notion as CMS
              with Eleventy</a> <time datetime="2025-04-23">Apr 23, 2025</time>
          </li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Books Pages</a> <data class="count" value="10">10</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Building a digital
              bookshelf with
              Eleventy</a> <time datetime="2025-07-17">Jul 17, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11ty Meetup - How I
              built my Books
              page</a> <time datetime="2025-02-06">Feb 6, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Managing My Books
              Data</a> <time datetime="2025-01-31">Jan 31, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="accessibility">Accessibility</a> <data class="count" value="10">10</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Mastering Eleventy:
              Display All Blog
              Posts from a Category on a Single Page</a> <time datetime="2025-11-09">Nov 09, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Building the
              IndieWeb Blog Template — A
              Technical Postmortem</a> <time datetime="2025-10-18">Aug 18, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a
              href="http://">eleventy-plugin-skiplink</a> <time datetime="2025-03-31">Mar 31, 2025</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">11ty Conference 2024</a> <data class="count" value="10">10</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">THE FUTURE OF 11TY
              (2024)</a> <time datetime="2025-05-17">May 17, 2024</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Recap of 11ty
              International Symposium on
              Making Web Sites Real Good</a> <time datetime="2025-05-15">May 15, 2024</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">11ty Conference
              (2024) Break Slideshow:
              Personal Sites Montage</a> <time datetime="2025-05-15">May 15, 2024</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Edge Functions</a> <data class="count" value="9">9</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Dynamic pages with
              PHP and 11ty</a> <time datetime="2025-02-12">Feb 12, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Dynamic Websites
              with Static Site
              Generators</a> <time datetime="2024-07-09">Jul 9, 2024</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Let's update the
              11ty Edge Dark Mode
              Toggle</a> <time datetime="2023-11-30">Nov 30, 2023</time></li>
        </ol>
      </article>
      <article class="directory__card directory--category">
        <h3><a href="">Vento</a> <data class="count" value="4">4</data></h3>
        <ol role="list" class="directory--list">
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Eleventy pagination
              with Vento</a> <time datetime="2025-08-28">Aug 28, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">From Nunjucks to
              Vento in Eleventy: a
              migration guide (kinda)</a> <time datetime="2025-06-05">Jun 5, 2025</time></li>
          <li><svg viewBox="0 0 24 24" class="favicon" aria-hidden="true">
              <use xlink:href="#icon-person-circle"></use>
            </svg>
            <!-- <img src="https://placehold.co/32x32" class="favicon" alt=""> --><a href="http://">Vento: My Favourite
              Template Language for
              Eleventy</a> <time datetime="2025-05-21">May 21, 2025</time></li>
        </ol>
      </article>
    </article>
  </div>
</section>