---
eleventyComputed:
  title: "Categories"
  description: "A list of {{ bundledata.categoryCount }} categories"
permalink: /categories/
---
<header class="main-header">
  <div class="container">
    <h1>{{ title }} <data class="count" value="{{ bundledata.categoryCount }}">{{ bundledata.categoryCount }}</data></h1>
    <nav>
      <strong>By</strong>
      <ul role="list">
        <li><a href="/categories/" class="current">Name</a></li>
        <li><a href="/categories/by-count/">Count</a></li>
      </ul>
    </nav>
  </div>
</header>
<section>
  <nav>
    <div class="container">
      <ul role="list" class="skip-links">
        {% for letter in bundledata.categoryLetters %}
          <li><a href="#{{ letter }}">{{ letter }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</section>

{% set currentLetter = ""%}
{% set currentCategory = ""%}
{% for category in bundledata.categories %}
  {% if (category[2] !== currentLetter) and (currentLetter !== "") %}
    </div>
    </section>
  {% endif %}
  {% if category[2] !== currentLetter %}
    <section>
      <div class="directory__layout container">
      <h2 id="{{ category[2] }}">{{ category[2] }}</h2>
      <article class="directory__grid">
  {% endif %}
    {% set currentLetter = category[2] %}
    <article class="directory__card directory--category">
      {% set categoryUrl %}/categories/{{ category[0] | slugify }}/{% endset %}
      <h3><a href="{{categoryUrl}}">{{category[0] }}</a> <data class="count" value="{{ category[1] }}">{{ category[1] }}</data></h3>
      <ol role="list" class="directory--list">
        {% for item in bundledata.bundleRecords | postsInCategory(category[0], 3) %}
          {% set authorUrl %}/authors/{{ item.Author | slugify }}/{% endset %}
          <li>{{ item.Link | getFavicon | safe }}
          <a href="{{ item.Link }}">{{ item.Title }}</a>
          <time datetime="{{ item.Date | formatItemDate }}">{{ item.Date | formatItemDate }}</time></li>
        {% endfor %}
      </ol>
    </article>
    {% if (category[0] !== currentCategory)  and (currentCategory  !== "") %}
      {% set currentCategory = category[0] %}
      </article>
    {% endif %}
{% endfor %}
