---
eleventyComputed:
  title: "Categories"
  description: "A list of {{ bundledata.categoryCount }} categories"
permalink: /categories/
---
<header class="main-header" data-pagefind-ignore="all">
  <div class="container">
    <h1>{{ title }} <data class="count" value="{{ bundledata.categoryCount }}">{{ bundledata.categoryCount }}</data></h1>
    <nav>
      <strong>By</strong>
      <ul role="list">
        <li><a href="/categories/" class="current">Name</a></li>
        <li><a href="/categories-by-count/">Count</a></li>
      </ul>
    </nav>
  </div>
</header>
<nav class="section" data-pagefind-ignore="all">
  <div class="container">
    <ul role="list" class="skip-links">
      {% for letter in bundledata.categoryLetters %}
        <li><a href="#{{ letter }}">{{ letter }}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>

{# ***************************************
   Category structure:

    .name           category name
    .slugifiedAuthor  slugified category name
    .firstLetter    first letter of category name
    .count          total post count

*************************************** #}
{% set currentLetter = ""%}
{% set currentCategory = ""%}
{% for category in bundledata.categories %}
  {% set cardCount = loop.index %}
  {% if (category.firstLetter !== currentLetter) and (currentLetter !== "") %}
    </div>
    </section>
  {% endif %}
  {% if category.firstLetter !== currentLetter %}
    <section data-pagefind-ignore="all">
      <div class="directory__layout container">
      <h2 id="{{ category.firstLetter }}" data-page-find-ignore>{{ category.firstLetter }}</h2>
      <div class="directory__grid">
  {% endif %}
    {% set currentLetter = category.firstLetter %}
    <article class="directory__card directory--category" data-pagefind-ignore="all">
      {% set categoryUrl %}/categories/{{ category.name | slugify }}/{% endset %}
      <h3><a href="{{categoryUrl}}">{{ category.name }}</a> <data class="count" value="{{ category.count }}">{{ category.count }}</data></h3>
      <ol role="list" class="directory--list" data-page-find-ignore="all">
        {% for item in bundledata.firehose | postsInCategory(category.name, 3) %}
          {% set authorRecord = bundledata.authors | getAuthorRecord(item.Author) %}
          <li>{{ item.favicon | genFaviconHtml(cardCount) | safe }}
          <a href="{{ item.Link }}">{{ item.Title }}</a>
          <time datetime="{{ item.Date | formatYMD }}">{{ item.Date | formatItemDate }}</time>
          {# <p>By <a href="/authors/{{ item.slugifiedAuthor }}">{{ item.Author | safe }}</a> ({{ authorRecord.count | countLabel("post") }})</p> #}
          </li>
        {% endfor %}
      </ol>
    </article>
    {% if (category.name !== currentCategory)  and (currentCategory  !== "") %}
      {% set currentCategory = category.name %}
      </div>
    {% endif %}
{% endfor %}
