{% for author in bundledata[whichAuthors] %}
  {% set authorUrl %}/authors/{{ author[0] | slugify }}/{% endset %}
  <div class="oneauthor">
    <a href="{{authorUrl}}" class="oneauthortitle">{{ author[0] }}</a> <span class="reduced-to-base">({{ author[1] }})</span>
    <div class="recentauthoritems">
      {% for item in bundledata.bundleRecords | postsByAuthor(author[0], 3) %}
      <img src="{{ item.Link | getFavicon }}" alt="author's favicon" class="favicon">
      <a href="{{ item.Link }}" data-link-type="external">{{ item.Title }}</a>
      {% endfor %}
    </div>
  </div>
{% endfor %}
