<div class="bundlereleases">
{%- for item in airtableitems | getBundleReleases(bundleIssue) %}
{# {%- for item in airtableitems | getBundleItems(bundleIssue, "release") %} #}
  <div class="bundleitem">
    <p class="bundleitem-title"><a href="{{ item.Link }}" target="_blank">{{ item.Title }}</a></p>
    <p class="bundleitem-description">{{ item.Link | getDescription | truncate(100) }}</p>
    <p class="bundleitem-dateline">{% if item.Date %}{{ item.Date | formatItemDate }}{% endif %}</p>
  </div>
{%- endfor %}
</div>
