{# <h2>Eleventy resources</h2> #}
<div class="resources">
  <div class="resource-item">
    <h3>Official</h3>
    <ul>
      <li><a href="https://www.11ty.dev/docs/" target="_blank">11ty docs</a></li>
      <li><a href="https://github.com/11ty/eleventy/" target="_blank">eleventy, the repo on Github</a></li>
      <li><a href="https://www.youtube.com/@EleventyVideo" target="_blank">YouTube channel</a></li>
      <li><a href="https://www.11ty.dev/speedlify/" target="_blank">Eleventy Leaderboards</a></li>
      <li><a href="https://github.com/11ty/11ty-community/issues/new/choose" target="_blank">Add your site to the Leaderboard</a></li>
    </ul>
  </div>
  <div class="resource-item">
    <h3>Community</h3>
    <ul>
      <li><a href="https://11tymeetup.dev/" target="_blank">The Eleventy Meetup</a> by <a href="https://sia.codes/" target="_blank">Sia Karamalegos</a> & <a href="https://thinkdobecreate.com/" target="_blank">Stephanie Eckles</a></li>
      <li><a href="https://11ty.rocks/" target="_blank">11ty Rocks!</a> by <a href="https://thinkdobecreate.com/" target="_blank">Stephanie Eckles</a></li>
      <li><a href="https://11ty.recipes/" target="_blank">11ty Recipes</a> by <a href="https://www.mikeaparicio.com/" target="_blank">Mike Aparicio</a></li>
      <li><a href="https://11tyhub.dev/" target="_blank">Eleventy Hub</a> by <a href="https://morten.dk/" target="_blank">Mortendk</a></li>
      <li><a href="https://plug11ty.com//" target="_blank">11ty Plugin Repository</a> by <a href="https://bryanlrobinson.com/" target="_blank">Bryan Robinson</a></li>
    </ul>
  </div>
  <div class="resource-item">
    <h3>Getting help</h3>
    <ul>
      <li><a href="https://www.11ty.dev/blog/discord/" target="_blank">The 11ty Discord Server</a> - Get your questions answered. A great community.</li>
      <li><a href="https://github.com/11ty/eleventy/discussions" target="_blank">Discussions section of the Github repo</a> - More solid discussion and assistance.</li>
    </ul>
  </div>
</div>
