{# Eleventy resources #}
<div class="resources" id="resources">
	<div class="resource-item">
		<p>Official</p>
		<ul>
			<li><a href="https://www.11ty.dev/docs/">11ty docs</a></li>
			<li><a href="https://github.com/11ty/eleventy/">eleventy, the repo on Github</a></li>
			<li><a href="https://www.youtube.com/@EleventyVideo">YouTube channel</a></li>
			<li><a href="https://www.zachleat.com/">Zach's Blog</a></li>
			<li><a href="https://www.11ty.dev/blog/">Eleventy Blog</a></li>
			<li><a href="https://www.11ty.dev/speedlify/">Eleventy Leaderboards</a></li>
			<li><a href="https://github.com/11ty/11ty-community/issues/new/choose">Add your site to the Leaderboard</a></li>
		</ul>
	</div>
	<div class="resource-item">
		<p>Community</p>
		<ul>
			<li><a href="https://11tymeetup.dev/">The Eleventy Meetup</a> by <a href="https://sia.codes/">Sia Karamalegos</a></li>
			<li><a href="https://11ty.rocks/">11ty Rocks!</a> by <a href="https://thinkdobecreate.com/">Stephanie Eckles</a></li>
			<li><a href="https://11ty-recipes.mikeaparicio.com/">11ty Recipes</a> by <a href="https://www.mikeaparicio.com/">Mike Aparicio</a></li>
			{# <li><a href="https://11tyhub.dev/">Eleventy Hub</a> by <a href="https://morten.dk/">Mortendk</a></li> #}
			<li><a href="https://plug11ty.com//">11ty Plugin Repository</a> by <a href="https://bryanlrobinson.com/">Bryan Robinson</a></li>
		</ul>
	</div>
	<div class="resource-item">
		<p>Getting help</p>
		<ul>
			<li><a href="https://www.11ty.dev/blog/discord/">The 11ty Discord Server</a> - Get your questions answered. A great community!</li>
			<li><a href="https://github.com/11ty/eleventy/discussions">Discussions section of the Github repo</a> - More discussion</li>
		</ul>
	</div>
</div>
