{# Eleventy resources #}
<div class="resources" id="resources">
	<div class="resource-item">
		<p>Official</p>
		<ul>
			<li><a href="https://www.11ty.dev/docs/" data-link-type="external">11ty docs</a></li>
			<li><a href="https://github.com/11ty/eleventy/" data-link-type="external">eleventy, the repo on Github</a></li>
			<li><a href="https://www.youtube.com/@EleventyVideo" data-link-type="external">YouTube channel</a></li>
			<li><a href="https://www.zachleat.com/" data-link-type="external">Zach's Blog</a></li>
			<li><a href="https://www.11ty.dev/blog/" data-link-type="external">Eleventy Blog</a></li>
			<li><a href="https://www.11ty.dev/speedlify/" data-link-type="external">Eleventy Leaderboards</a></li>
			<li><a href="https://github.com/11ty/11ty-community/issues/new/choose" data-link-type="external">Add your site to the Leaderboard</a></li>
		</ul>
	</div>
	<div class="resource-item">
		<p>Community</p>
		<ul>
			<li><a href="https://11tymeetup.dev/" data-link-type="external">The Eleventy Meetup</a> by <a href="https://sia.codes/" data-link-type="external">Sia Karamalegos</a></li>
			<li><a href="https://11ty.rocks/" data-link-type="external">11ty Rocks!</a> by <a href="https://thinkdobecreate.com/" data-link-type="external">Stephanie Eckles</a></li>
			<li><a href="https://11ty.recipes/" data-link-type="external">11ty Recipes</a> by <a href="https://www.mikeaparicio.com/" data-link-type="external">Mike Aparicio</a></li>
			{# <li><a href="https://11tyhub.dev/" data-link-type="external">Eleventy Hub</a> by <a href="https://morten.dk/" data-link-type="external">Mortendk</a></li> #}
			<li><a href="https://plug11ty.com//" data-link-type="external">11ty Plugin Repository</a> by <a href="https://bryanlrobinson.com/" data-link-type="external">Bryan Robinson</a></li>
		</ul>
	</div>
	<div class="resource-item">
		<p>Getting help</p>
		<ul>
			<li><a href="https://www.11ty.dev/blog/discord/" data-link-type="external">The 11ty Discord Server</a> - Get your questions answered. A great community!</li>
			<li><a href="https://github.com/11ty/eleventy/discussions" data-link-type="external">Discussions section of the Github repo</a> - More discussion</li>
		</ul>
	</div>
</div>
