<div class="bundleposts">
  {%- for item in airtableitems | getBundleItems(bundleIssue, "blog post") %}
  <div class="bundleitem">
    <p class="bundleitem-title"><a href="{{ item.Link }}" target="_blank">{{ item.Title }}</a></p>
    <p class="bundleitem-description">{{ item.Link | getDescription | truncate(100) }}</p>
    <p class="bundleitem-dateline">{% if item.Author %}<a href="/authors/{{ item.Author | slugify }}/">{{ item.Author }}</a>{% endif %} &middot; {{ item.Date | formatItemDate }}</p>
    <p class="bundleitem-categories">{% if item.Categories %}Categories: {% for item in airtableitems | getItemCategories(item.Link) | sort %}{% for category in item.Categories | sort %}<a href="/categories/{{category | slugify }}/">{{ category }}</a>&nbsp;&nbsp;{% endfor %}{% endfor %}{% endif %}</p>
  </div>
  {%- endfor %}
</div>
