{% if item.Date < cautioninfo.v1releasedate and not v1cautionshown %}
  {% include "partials/v1caution.njk" %}
  {% set v1cautionshown = true %}
{% endif %}
{% if item.Date < cautioninfo.v2releasedate and not v2cautionshown %}
  {% include "partials/v2caution.njk" %}
  {% set v2cautionshown = true %}
{% endif %}
{% if item.Date < cautioninfo.v3releasedate and not v2cautionshown and not v3cautionshown %}
  {% include "partials/v3caution.njk" %}
  {% set v3cautionshown = true %}
{% endif %}
