{#
  The header of the page and the footer include different navigation.
  Those includes are in the default layout file. Styling can be accomplished
  through the selection of the <header> and <footer> elements in CSS.
#}
<nav class="brand">
  <ul class="brand-nav">
    {% for link in site.footerNavLinks %}
      <li>
        <a href="{{ link.url }}" class="nav-link" {{ link.text | isCurrentPage(page.url) | safe }}>{{ link.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
