{#
  The header of the page and the footer include different navigation.
  They are 'included' in the default layout file. The links for each of
  the navigations can be found in the global data file _data/site.js.
#}
<nav>
  <ul class="brand-nav">
    {% for link in site.footerNavLinks %}
      <li>
        <a href="{{ link.url }}" class="nav-link" {{ link.text | isCurrentPage(page.url) | safe }}>{{ link.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
