<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">

  {# favicon settings #}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#135567">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  {# Open Graph tags #}
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.url }}/assets/img/{{ image.source }}">
  <meta property="og:image:alt" content="the number 11 as photographed by David Monje on Unsplash">
  <meta name="generator" content="Eleventy">

  <meta name="generator" content="Eleventy">

  {# Apple tags #}
  <meta name="apple-mobile-web-app-title" content="11ty Bundle" />
  <meta name="application-name" content="11ty Bundle" />

  {# Facilitate slightly faster linking to the giscus' app remote host #}
  {# giscus is used for comments on the blog post pages #}
  <link rel="preconnect" href="https://giscus.app">
  <link rel="dns-prefetch" href="https://giscus.app">


  {# enable view-transitions, currently behind a flag in Chrome Canary build #}
  <meta name="view-transition" content="same-origin" />

  {# bundle the CSS content used on all pages and get the link to the bundle #}
  {%- css %}
    {% include "css/reset.css" %}
    {% include "css/variables.css" %}
    {% include "css/main.css" %}
  {% endcss %}

  <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

  {# if there's syntax highlighted code on the page, add the required stylesheet #}
  {% if pageHasCode %}
    <link rel="stylesheet" href="{% getBundleFileUrl "css", "pageHasCode" %}">
  {% endif %}
  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" data-site="AHYVTZHH" defer></script>
  <!-- / Fathom -->

  <link rel="alternate" href="/feed.xml" title="The Blog of The 11ty Bundle" type="application/rss+xml">
  <link rel="alternate" href="/firehosefeed.xml" title="The Firehose of The 11ty Bundle" type="application/rss+xml">
</head>
