<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<meta name="keywords" content="{{ keywords }}">

	{# enable view-transitions, currently behind a flag in Chrome Canary build #}
	<meta name="view-transition" content="same-origin" >

	{# add snow fall component if snow == "true" in front matter #}
	{% if snow == "true" %}
		<script type="module" src="/assets/js/snow-fall.js"></script>
		<script type="module" src="/assets/js/is-land.js"></script>
	{% endif %}

	{# add confetti component if confetti == "true" in front matter #}
	{% if confetti == "true" %}
		<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
	{% endif %}

	{# add syntax highlighting styles pageHasCode == "true" in blog posts. #}
	{% if pageHasCode %}
		<link rel="preload" href="{% getBundleFileUrl "pageHasCode" %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript>
			<link href="{% getBundleFileUrl "css", "pageHasCode" %}" rel="stylesheet">
		</noscript>
	{% endif %}

  {#
    conditionally load the lite-youtube-embed styles per
    front matter 'youtubeId' in blog posts.
  #}
  {% if youtubeId %}
    <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'pageHasYoutube' %}" media="print" onload="this.media='all'">
  	<noscript>
	  	<link rel="stylesheet" href="{% getBundleFileUrl 'css', 'pageHasYoutube' %}">
	  </noscript>
  {% endif %}

	{# load the pagefind and main stylesheets on every page	#}
	<link rel="stylesheet" href="/pagefind/pagefind-ui.css">
	<link rel="stylesheet" href="/assets/css/main.css">

	{# Fathom analytics - don't include in development mode #}
	{% if site.env != "development" %}
		<script src="https://cdn.usefathom.com/script.js" data-site="AHYVTZHH" defer></script>
	{% endif %}

	{# Improve RSS feed visibility #}
	<link rel="alternate" href="https://11tybundle.dev/feed.xml" title="The Blog of The 11ty Bundle" type="application/rss+xml">
	<link rel="alternate" href="https://11tybundle.dev/firehosefeed.xml" title="The Firehose of The 11ty Bundle" type="application/rss+xml">

	{# add webmention link #}
	<link rel="webmention" href="https://webmention.io/11tybundle.dev/webmention" />

	{# favicon settings #}
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="11tyBundle" />
	<link rel="manifest" href="/site.webmanifest" />

	{# Open Graph tags #}
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description }}">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ site.url }}/assets/img/{{ image.source }}">
	<meta property="og:image:alt" content="{{ image.alt }}">

	{# Apple tags #}
	<meta name="apple-mobile-web-app-title" content="11ty Bundle" >
	<meta name="application-name" content="11ty Bundle" >

	<meta name="generator" content="{{ eleventy.generator }}">
	<meta name="fediverse:creator" content="@bobmonsour@indieweb.social" />
</head>
