<header>
  <p class="brand-name"><a href="/" class="brand-link">{% raw %}{{ 11tybundle.dev }}{% endraw %}</a></p>
  <nav class="brand">
    <ul class="brand-nav">
      {% for link in site.mainNavLinks %}
        <li>
          <a href="{{ link.url }}"
            {% if page.url !== "/" and page.url == link.url %} aria-current="page" class="nav-link" {% else %}class="nav-link" {% endif %}>{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
