<div id="newsletter-subscribe">
  <h2>Get the blog by email (or <a href="https://11tybundle.dev/feed.xml">RSS</a>)</h2>
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/11tybundle"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/11tybundle', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <label for="bd-email" class="sr-only"></label>
    <input type="email" name="email" id="bd-email" placeholder="your email address" />
    <input type="submit" value="Subscribe" class="sub-button"/>
    <p class="powered-by-buttondown"><a href="https://buttondown.email/refer/11tybundle" target="_blank">Powered by Buttondown</a></p>
  </form>
</div>
