{# pagefind search box #}
<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", translations: { placeholder: "Search the bundle",zero_results: "Count not find [SEARCH_TERM]" },showSubResults: true, showImages: false, showEmptyFilters: false, showSubResults: true, excerptLength: 100, pageSize: 10 });
    });
</script>
