  <p class="intro">Here's a list of starter projects you can use to jumpstart your use of Eleventy. I've selected these based on recency of updating, traction that they appear to have as subjectively determined by the number of Github stars on their respective repos, and the clarity of their READMEs.</p>

  <p>You'll also find links to <strong>eleventy billion</strong> <a href="https://www.11ty.dev/docs/starter/" data-link-type="external">more starter projects on the 11ty docs site</a>.</p>

  <p>And here's a link to a blog post by David Large of CloudCannon. Davis lists <a href="https://cloudcannon.com/blog/11-top-eleventy-blog-themes-starters-in-2023/" data-link-type="external">11 Top Eleventy Blog Themes (Starters) in 2023</a>. The post is from December 2022, but close enough.</p>

  <p>And if you're new to Eleventy, you'll find links to <a href="/categories/getting-started/">{{ bundledata.gettingStartedCount }} blog posts in the Getting Started category</a>.</p>
